<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CStatementMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CStatement">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="OBJECTTYPE" jdbcType="VARCHAR" property="objecttype" />
    <result column="OBJECTIDENTIFICATION" jdbcType="VARCHAR" property="objectidentification" />
    <result column="DECALARATIONSTYPE" jdbcType="VARCHAR" property="decalarationstype" />
    <result column="DECALARATIONS" jdbcType="VARCHAR" property="decalarations" />
    <result column="ADDDATE" jdbcType="VARCHAR" property="adddate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, OBJECTTYPE, OBJECTIDENTIFICATION, DECALARATIONSTYPE, DECALARATIONS, ADDDATE
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CStatementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_STATEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CStatementExample">
    delete from CRT2_C_STATEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CStatement">
    insert into CRT2_C_STATEMENT (REPORTID, OBJECTTYPE, OBJECTIDENTIFICATION, 
      DECALARATIONSTYPE, DECALARATIONS, ADDDATE
      )
    values (#{reportid,jdbcType=VARCHAR}, #{objecttype,jdbcType=VARCHAR}, #{objectidentification,jdbcType=VARCHAR}, 
      #{decalarationstype,jdbcType=VARCHAR}, #{decalarations,jdbcType=VARCHAR}, #{adddate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CStatement">
    insert into CRT2_C_STATEMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="objecttype != null">
        OBJECTTYPE,
      </if>
      <if test="objectidentification != null">
        OBJECTIDENTIFICATION,
      </if>
      <if test="decalarationstype != null">
        DECALARATIONSTYPE,
      </if>
      <if test="decalarations != null">
        DECALARATIONS,
      </if>
      <if test="adddate != null">
        ADDDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="objecttype != null">
        #{objecttype,jdbcType=VARCHAR},
      </if>
      <if test="objectidentification != null">
        #{objectidentification,jdbcType=VARCHAR},
      </if>
      <if test="decalarationstype != null">
        #{decalarationstype,jdbcType=VARCHAR},
      </if>
      <if test="decalarations != null">
        #{decalarations,jdbcType=VARCHAR},
      </if>
      <if test="adddate != null">
        #{adddate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CStatementExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_STATEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_STATEMENT
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.objecttype != null">
        OBJECTTYPE = #{record.objecttype,jdbcType=VARCHAR},
      </if>
      <if test="record.objectidentification != null">
        OBJECTIDENTIFICATION = #{record.objectidentification,jdbcType=VARCHAR},
      </if>
      <if test="record.decalarationstype != null">
        DECALARATIONSTYPE = #{record.decalarationstype,jdbcType=VARCHAR},
      </if>
      <if test="record.decalarations != null">
        DECALARATIONS = #{record.decalarations,jdbcType=VARCHAR},
      </if>
      <if test="record.adddate != null">
        ADDDATE = #{record.adddate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_STATEMENT
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      OBJECTTYPE = #{record.objecttype,jdbcType=VARCHAR},
      OBJECTIDENTIFICATION = #{record.objectidentification,jdbcType=VARCHAR},
      DECALARATIONSTYPE = #{record.decalarationstype,jdbcType=VARCHAR},
      DECALARATIONS = #{record.decalarations,jdbcType=VARCHAR},
      ADDDATE = #{record.adddate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CStatement">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="OBJECTTYPE" jdbcType="VARCHAR" property="objecttype" />
    <result column="OBJECTIDENTIFICATION" jdbcType="VARCHAR" property="objectidentification" />
    <result column="DECALARATIONSTYPE" jdbcType="VARCHAR" property="decalarationstype" />
    <result column="DECALARATIONS" jdbcType="VARCHAR" property="decalarations" />
    <result column="ADDDATE" jdbcType="VARCHAR" property="adddate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, OBJECTTYPE, OBJECTIDENTIFICATION, DECALARATIONSTYPE, DECALARATIONS, ADDDATE
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CStatementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_STATEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CStatementExample">
    delete from CRT2_C_STATEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CStatement">
    insert into CRT2_C_STATEMENT (REPORTID, OBJECTTYPE, OBJECTIDENTIFICATION, 
      DECALARATIONSTYPE, DECALARATIONS, ADDDATE
      )
    values (#{reportid,jdbcType=VARCHAR}, #{objecttype,jdbcType=VARCHAR}, #{objectidentification,jdbcType=VARCHAR}, 
      #{decalarationstype,jdbcType=VARCHAR}, #{decalarations,jdbcType=VARCHAR}, #{adddate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CStatement">
    insert into CRT2_C_STATEMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="objecttype != null">
        OBJECTTYPE,
      </if>
      <if test="objectidentification != null">
        OBJECTIDENTIFICATION,
      </if>
      <if test="decalarationstype != null">
        DECALARATIONSTYPE,
      </if>
      <if test="decalarations != null">
        DECALARATIONS,
      </if>
      <if test="adddate != null">
        ADDDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="objecttype != null">
        #{objecttype,jdbcType=VARCHAR},
      </if>
      <if test="objectidentification != null">
        #{objectidentification,jdbcType=VARCHAR},
      </if>
      <if test="decalarationstype != null">
        #{decalarationstype,jdbcType=VARCHAR},
      </if>
      <if test="decalarations != null">
        #{decalarations,jdbcType=VARCHAR},
      </if>
      <if test="adddate != null">
        #{adddate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CStatementExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_STATEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_STATEMENT
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.objecttype != null">
        OBJECTTYPE = #{record.objecttype,jdbcType=VARCHAR},
      </if>
      <if test="record.objectidentification != null">
        OBJECTIDENTIFICATION = #{record.objectidentification,jdbcType=VARCHAR},
      </if>
      <if test="record.decalarationstype != null">
        DECALARATIONSTYPE = #{record.decalarationstype,jdbcType=VARCHAR},
      </if>
      <if test="record.decalarations != null">
        DECALARATIONS = #{record.decalarations,jdbcType=VARCHAR},
      </if>
      <if test="record.adddate != null">
        ADDDATE = #{record.adddate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_STATEMENT
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      OBJECTTYPE = #{record.objecttype,jdbcType=VARCHAR},
      OBJECTIDENTIFICATION = #{record.objectidentification,jdbcType=VARCHAR},
      DECALARATIONSTYPE = #{record.decalarationstype,jdbcType=VARCHAR},
      DECALARATIONS = #{record.decalarations,jdbcType=VARCHAR},
      ADDDATE = #{record.adddate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>