<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CUtilityexpshisMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CUtilityexpshis">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="UTILITYACCOUNTID" jdbcType="VARCHAR" property="utilityaccountid" />
    <result column="STATISTICALYEAR" jdbcType="VARCHAR" property="statisticalyear" />
    <result column="PAYMENTSTATE" jdbcType="VARCHAR" property="paymentstate" />
    <result column="AMOUNTPAYMENT" jdbcType="VARCHAR" property="amountpayment" />
    <result column="ACTUALAMOUNT" jdbcType="VARCHAR" property="actualamount" />
    <result column="AMOUNTARREARS" jdbcType="VARCHAR" property="amountarrears" />
    <result column="PAYMENTRECORDNUMBER" jdbcType="VARCHAR" property="paymentrecordnumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, UTILITYACCOUNTID, STATISTICALYEAR, PAYMENTSTATE, AMOUNTPAYMENT, ACTUALAMOUNT, 
    AMOUNTARREARS, PAYMENTRECORDNUMBER
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CUtilityexpshisExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_UTILITYEXPSHIS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CUtilityexpshisExample">
    delete from CRT2_C_UTILITYEXPSHIS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CUtilityexpshis">
    insert into CRT2_C_UTILITYEXPSHIS (REPORTID, UTILITYACCOUNTID, STATISTICALYEAR, 
      PAYMENTSTATE, AMOUNTPAYMENT, ACTUALAMOUNT, 
      AMOUNTARREARS, PAYMENTRECORDNUMBER)
    values (#{reportid,jdbcType=VARCHAR}, #{utilityaccountid,jdbcType=VARCHAR}, #{statisticalyear,jdbcType=VARCHAR}, 
      #{paymentstate,jdbcType=VARCHAR}, #{amountpayment,jdbcType=VARCHAR}, #{actualamount,jdbcType=VARCHAR}, 
      #{amountarrears,jdbcType=VARCHAR}, #{paymentrecordnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CUtilityexpshis">
    insert into CRT2_C_UTILITYEXPSHIS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="utilityaccountid != null">
        UTILITYACCOUNTID,
      </if>
      <if test="statisticalyear != null">
        STATISTICALYEAR,
      </if>
      <if test="paymentstate != null">
        PAYMENTSTATE,
      </if>
      <if test="amountpayment != null">
        AMOUNTPAYMENT,
      </if>
      <if test="actualamount != null">
        ACTUALAMOUNT,
      </if>
      <if test="amountarrears != null">
        AMOUNTARREARS,
      </if>
      <if test="paymentrecordnumber != null">
        PAYMENTRECORDNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="utilityaccountid != null">
        #{utilityaccountid,jdbcType=VARCHAR},
      </if>
      <if test="statisticalyear != null">
        #{statisticalyear,jdbcType=VARCHAR},
      </if>
      <if test="paymentstate != null">
        #{paymentstate,jdbcType=VARCHAR},
      </if>
      <if test="amountpayment != null">
        #{amountpayment,jdbcType=VARCHAR},
      </if>
      <if test="actualamount != null">
        #{actualamount,jdbcType=VARCHAR},
      </if>
      <if test="amountarrears != null">
        #{amountarrears,jdbcType=VARCHAR},
      </if>
      <if test="paymentrecordnumber != null">
        #{paymentrecordnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CUtilityexpshisExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_UTILITYEXPSHIS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_UTILITYEXPSHIS
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.utilityaccountid != null">
        UTILITYACCOUNTID = #{record.utilityaccountid,jdbcType=VARCHAR},
      </if>
      <if test="record.statisticalyear != null">
        STATISTICALYEAR = #{record.statisticalyear,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentstate != null">
        PAYMENTSTATE = #{record.paymentstate,jdbcType=VARCHAR},
      </if>
      <if test="record.amountpayment != null">
        AMOUNTPAYMENT = #{record.amountpayment,jdbcType=VARCHAR},
      </if>
      <if test="record.actualamount != null">
        ACTUALAMOUNT = #{record.actualamount,jdbcType=VARCHAR},
      </if>
      <if test="record.amountarrears != null">
        AMOUNTARREARS = #{record.amountarrears,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentrecordnumber != null">
        PAYMENTRECORDNUMBER = #{record.paymentrecordnumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_UTILITYEXPSHIS
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      UTILITYACCOUNTID = #{record.utilityaccountid,jdbcType=VARCHAR},
      STATISTICALYEAR = #{record.statisticalyear,jdbcType=VARCHAR},
      PAYMENTSTATE = #{record.paymentstate,jdbcType=VARCHAR},
      AMOUNTPAYMENT = #{record.amountpayment,jdbcType=VARCHAR},
      ACTUALAMOUNT = #{record.actualamount,jdbcType=VARCHAR},
      AMOUNTARREARS = #{record.amountarrears,jdbcType=VARCHAR},
      PAYMENTRECORDNUMBER = #{record.paymentrecordnumber,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>