<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CRraccountMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CRraccount">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="ACCOUNTID" jdbcType="VARCHAR" property="accountid" />
    <result column="BORROWERCATEGORY" jdbcType="VARCHAR" property="borrowercategory" />
    <result column="ACCOUNTTYPE" jdbcType="VARCHAR" property="accounttype" />
    <result column="REPAYMENTTYPE" jdbcType="VARCHAR" property="repaymenttype" />
    <result column="CURRENCYMONEY" jdbcType="VARCHAR" property="currencymoney" />
    <result column="AMOUNTREPAYMENT" jdbcType="VARCHAR" property="amountrepayment" />
    <result column="MECHANISMTYPE" jdbcType="VARCHAR" property="mechanismtype" />
    <result column="MECHANISMCODE" jdbcType="VARCHAR" property="mechanismcode" />
    <result column="BUSINESTYPES" jdbcType="VARCHAR" property="businestypes" />
    <result column="BUSINESSEGMENTATION" jdbcType="VARCHAR" property="businessegmentation" />
    <result column="LSSUANCEDATE" jdbcType="VARCHAR" property="lssuancedate" />
    <result column="LASTDATE" jdbcType="VARCHAR" property="lastdate" />
    <result column="CURRENCY" jdbcType="VARCHAR" property="currency" />
    <result column="BALANCE" jdbcType="VARCHAR" property="balance" />
    <result column="FIVELEVEL" jdbcType="VARCHAR" property="fivelevel" />
    <result column="TOTALOVERDUE" jdbcType="VARCHAR" property="totaloverdue" />
    <result column="OVERDUEPRINCIPAL" jdbcType="VARCHAR" property="overdueprincipal" />
    <result column="OVERDUEMONTHS" jdbcType="VARCHAR" property="overduemonths" />
    <result column="REPAYMENTSTATE" jdbcType="VARCHAR" property="repaymentstate" />
    <result column="REPAYMENTMONTHS" jdbcType="VARCHAR" property="repaymentmonths" />
    <result column="REPORTDATE" jdbcType="VARCHAR" property="reportdate" />
    <result column="LOANAMOUNT" jdbcType="VARCHAR" property="loanamount" />
    <result column="CREDITLINE" jdbcType="VARCHAR" property="creditline" />
    <result column="GUARANTEECONTRACTNUMBER" jdbcType="VARCHAR" property="guaranteecontractnumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, ACCOUNTID, BORROWERCATEGORY, ACCOUNTTYPE, REPAYMENTTYPE, CURRENCYMONEY, 
    AMOUNTREPAYMENT, MECHANISMTYPE, MECHANISMCODE, BUSINESTYPES, BUSINESSEGMENTATION, 
    LSSUANCEDATE, LASTDATE, CURRENCY, BALANCE, FIVELEVEL, TOTALOVERDUE, OVERDUEPRINCIPAL, 
    OVERDUEMONTHS, REPAYMENTSTATE, REPAYMENTMONTHS, REPORTDATE, LOANAMOUNT, CREDITLINE, 
    GUARANTEECONTRACTNUMBER
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CRraccountExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_RRACCOUNT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CRraccountExample">
    delete from CRT2_C_RRACCOUNT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CRraccount">
    insert into CRT2_C_RRACCOUNT (REPORTID, ACCOUNTID, BORROWERCATEGORY, 
      ACCOUNTTYPE, REPAYMENTTYPE, CURRENCYMONEY, 
      AMOUNTREPAYMENT, MECHANISMTYPE, MECHANISMCODE, 
      BUSINESTYPES, BUSINESSEGMENTATION, LSSUANCEDATE, 
      LASTDATE, CURRENCY, BALANCE, 
      FIVELEVEL, TOTALOVERDUE, OVERDUEPRINCIPAL, 
      OVERDUEMONTHS, REPAYMENTSTATE, REPAYMENTMONTHS, 
      REPORTDATE, LOANAMOUNT, CREDITLINE, 
      GUARANTEECONTRACTNUMBER)
    values (#{reportid,jdbcType=VARCHAR}, #{accountid,jdbcType=VARCHAR}, #{borrowercategory,jdbcType=VARCHAR}, 
      #{accounttype,jdbcType=VARCHAR}, #{repaymenttype,jdbcType=VARCHAR}, #{currencymoney,jdbcType=VARCHAR}, 
      #{amountrepayment,jdbcType=VARCHAR}, #{mechanismtype,jdbcType=VARCHAR}, #{mechanismcode,jdbcType=VARCHAR}, 
      #{businestypes,jdbcType=VARCHAR}, #{businessegmentation,jdbcType=VARCHAR}, #{lssuancedate,jdbcType=VARCHAR}, 
      #{lastdate,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, #{balance,jdbcType=VARCHAR}, 
      #{fivelevel,jdbcType=VARCHAR}, #{totaloverdue,jdbcType=VARCHAR}, #{overdueprincipal,jdbcType=VARCHAR}, 
      #{overduemonths,jdbcType=VARCHAR}, #{repaymentstate,jdbcType=VARCHAR}, #{repaymentmonths,jdbcType=VARCHAR}, 
      #{reportdate,jdbcType=VARCHAR}, #{loanamount,jdbcType=VARCHAR}, #{creditline,jdbcType=VARCHAR}, 
      #{guaranteecontractnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CRraccount">
    insert into CRT2_C_RRACCOUNT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="accountid != null">
        ACCOUNTID,
      </if>
      <if test="borrowercategory != null">
        BORROWERCATEGORY,
      </if>
      <if test="accounttype != null">
        ACCOUNTTYPE,
      </if>
      <if test="repaymenttype != null">
        REPAYMENTTYPE,
      </if>
      <if test="currencymoney != null">
        CURRENCYMONEY,
      </if>
      <if test="amountrepayment != null">
        AMOUNTREPAYMENT,
      </if>
      <if test="mechanismtype != null">
        MECHANISMTYPE,
      </if>
      <if test="mechanismcode != null">
        MECHANISMCODE,
      </if>
      <if test="businestypes != null">
        BUSINESTYPES,
      </if>
      <if test="businessegmentation != null">
        BUSINESSEGMENTATION,
      </if>
      <if test="lssuancedate != null">
        LSSUANCEDATE,
      </if>
      <if test="lastdate != null">
        LASTDATE,
      </if>
      <if test="currency != null">
        CURRENCY,
      </if>
      <if test="balance != null">
        BALANCE,
      </if>
      <if test="fivelevel != null">
        FIVELEVEL,
      </if>
      <if test="totaloverdue != null">
        TOTALOVERDUE,
      </if>
      <if test="overdueprincipal != null">
        OVERDUEPRINCIPAL,
      </if>
      <if test="overduemonths != null">
        OVERDUEMONTHS,
      </if>
      <if test="repaymentstate != null">
        REPAYMENTSTATE,
      </if>
      <if test="repaymentmonths != null">
        REPAYMENTMONTHS,
      </if>
      <if test="reportdate != null">
        REPORTDATE,
      </if>
      <if test="loanamount != null">
        LOANAMOUNT,
      </if>
      <if test="creditline != null">
        CREDITLINE,
      </if>
      <if test="guaranteecontractnumber != null">
        GUARANTEECONTRACTNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null">
        #{accountid,jdbcType=VARCHAR},
      </if>
      <if test="borrowercategory != null">
        #{borrowercategory,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null">
        #{accounttype,jdbcType=VARCHAR},
      </if>
      <if test="repaymenttype != null">
        #{repaymenttype,jdbcType=VARCHAR},
      </if>
      <if test="currencymoney != null">
        #{currencymoney,jdbcType=VARCHAR},
      </if>
      <if test="amountrepayment != null">
        #{amountrepayment,jdbcType=VARCHAR},
      </if>
      <if test="mechanismtype != null">
        #{mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="mechanismcode != null">
        #{mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="businestypes != null">
        #{businestypes,jdbcType=VARCHAR},
      </if>
      <if test="businessegmentation != null">
        #{businessegmentation,jdbcType=VARCHAR},
      </if>
      <if test="lssuancedate != null">
        #{lssuancedate,jdbcType=VARCHAR},
      </if>
      <if test="lastdate != null">
        #{lastdate,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=VARCHAR},
      </if>
      <if test="fivelevel != null">
        #{fivelevel,jdbcType=VARCHAR},
      </if>
      <if test="totaloverdue != null">
        #{totaloverdue,jdbcType=VARCHAR},
      </if>
      <if test="overdueprincipal != null">
        #{overdueprincipal,jdbcType=VARCHAR},
      </if>
      <if test="overduemonths != null">
        #{overduemonths,jdbcType=VARCHAR},
      </if>
      <if test="repaymentstate != null">
        #{repaymentstate,jdbcType=VARCHAR},
      </if>
      <if test="repaymentmonths != null">
        #{repaymentmonths,jdbcType=VARCHAR},
      </if>
      <if test="reportdate != null">
        #{reportdate,jdbcType=VARCHAR},
      </if>
      <if test="loanamount != null">
        #{loanamount,jdbcType=VARCHAR},
      </if>
      <if test="creditline != null">
        #{creditline,jdbcType=VARCHAR},
      </if>
      <if test="guaranteecontractnumber != null">
        #{guaranteecontractnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CRraccountExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_RRACCOUNT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_RRACCOUNT
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.accountid != null">
        ACCOUNTID = #{record.accountid,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowercategory != null">
        BORROWERCATEGORY = #{record.borrowercategory,jdbcType=VARCHAR},
      </if>
      <if test="record.accounttype != null">
        ACCOUNTTYPE = #{record.accounttype,jdbcType=VARCHAR},
      </if>
      <if test="record.repaymenttype != null">
        REPAYMENTTYPE = #{record.repaymenttype,jdbcType=VARCHAR},
      </if>
      <if test="record.currencymoney != null">
        CURRENCYMONEY = #{record.currencymoney,jdbcType=VARCHAR},
      </if>
      <if test="record.amountrepayment != null">
        AMOUNTREPAYMENT = #{record.amountrepayment,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismtype != null">
        MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismcode != null">
        MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="record.businestypes != null">
        BUSINESTYPES = #{record.businestypes,jdbcType=VARCHAR},
      </if>
      <if test="record.businessegmentation != null">
        BUSINESSEGMENTATION = #{record.businessegmentation,jdbcType=VARCHAR},
      </if>
      <if test="record.lssuancedate != null">
        LSSUANCEDATE = #{record.lssuancedate,jdbcType=VARCHAR},
      </if>
      <if test="record.lastdate != null">
        LASTDATE = #{record.lastdate,jdbcType=VARCHAR},
      </if>
      <if test="record.currency != null">
        CURRENCY = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.balance != null">
        BALANCE = #{record.balance,jdbcType=VARCHAR},
      </if>
      <if test="record.fivelevel != null">
        FIVELEVEL = #{record.fivelevel,jdbcType=VARCHAR},
      </if>
      <if test="record.totaloverdue != null">
        TOTALOVERDUE = #{record.totaloverdue,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueprincipal != null">
        OVERDUEPRINCIPAL = #{record.overdueprincipal,jdbcType=VARCHAR},
      </if>
      <if test="record.overduemonths != null">
        OVERDUEMONTHS = #{record.overduemonths,jdbcType=VARCHAR},
      </if>
      <if test="record.repaymentstate != null">
        REPAYMENTSTATE = #{record.repaymentstate,jdbcType=VARCHAR},
      </if>
      <if test="record.repaymentmonths != null">
        REPAYMENTMONTHS = #{record.repaymentmonths,jdbcType=VARCHAR},
      </if>
      <if test="record.reportdate != null">
        REPORTDATE = #{record.reportdate,jdbcType=VARCHAR},
      </if>
      <if test="record.loanamount != null">
        LOANAMOUNT = #{record.loanamount,jdbcType=VARCHAR},
      </if>
      <if test="record.creditline != null">
        CREDITLINE = #{record.creditline,jdbcType=VARCHAR},
      </if>
      <if test="record.guaranteecontractnumber != null">
        GUARANTEECONTRACTNUMBER = #{record.guaranteecontractnumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_RRACCOUNT
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      ACCOUNTID = #{record.accountid,jdbcType=VARCHAR},
      BORROWERCATEGORY = #{record.borrowercategory,jdbcType=VARCHAR},
      ACCOUNTTYPE = #{record.accounttype,jdbcType=VARCHAR},
      REPAYMENTTYPE = #{record.repaymenttype,jdbcType=VARCHAR},
      CURRENCYMONEY = #{record.currencymoney,jdbcType=VARCHAR},
      AMOUNTREPAYMENT = #{record.amountrepayment,jdbcType=VARCHAR},
      MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      BUSINESTYPES = #{record.businestypes,jdbcType=VARCHAR},
      BUSINESSEGMENTATION = #{record.businessegmentation,jdbcType=VARCHAR},
      LSSUANCEDATE = #{record.lssuancedate,jdbcType=VARCHAR},
      LASTDATE = #{record.lastdate,jdbcType=VARCHAR},
      CURRENCY = #{record.currency,jdbcType=VARCHAR},
      BALANCE = #{record.balance,jdbcType=VARCHAR},
      FIVELEVEL = #{record.fivelevel,jdbcType=VARCHAR},
      TOTALOVERDUE = #{record.totaloverdue,jdbcType=VARCHAR},
      OVERDUEPRINCIPAL = #{record.overdueprincipal,jdbcType=VARCHAR},
      OVERDUEMONTHS = #{record.overduemonths,jdbcType=VARCHAR},
      REPAYMENTSTATE = #{record.repaymentstate,jdbcType=VARCHAR},
      REPAYMENTMONTHS = #{record.repaymentmonths,jdbcType=VARCHAR},
      REPORTDATE = #{record.reportdate,jdbcType=VARCHAR},
      LOANAMOUNT = #{record.loanamount,jdbcType=VARCHAR},
      CREDITLINE = #{record.creditline,jdbcType=VARCHAR},
      GUARANTEECONTRACTNUMBER = #{record.guaranteecontractnumber,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>