<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CRrloansumMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CRrloansum">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="TYPERESPONSIBILITY" jdbcType="VARCHAR" property="typeresponsibility" />
    <result column="RECOVEREDREPAYMENT" jdbcType="VARCHAR" property="recoveredrepayment" />
    <result column="RECOVEREDACCOUNT" jdbcType="VARCHAR" property="recoveredaccount" />
    <result column="RECOVEREDBALANCE" jdbcType="VARCHAR" property="recoveredbalance" />
    <result column="OTHERLOANREPAYMENT" jdbcType="VARCHAR" property="otherloanrepayment" />
    <result column="OTHERLOANACCOUNTS" jdbcType="VARCHAR" property="otherloanaccounts" />
    <result column="OTHERLOANBALANCES" jdbcType="VARCHAR" property="otherloanbalances" />
    <result column="OTHERLENDINGCONCERNS" jdbcType="VARCHAR" property="otherlendingconcerns" />
    <result column="OTHERBADLOAND" jdbcType="VARCHAR" property="otherbadloand" />
    <result column="RRLOANSUMNUMBER" jdbcType="VARCHAR" property="rrloansumnumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, TYPERESPONSIBILITY, RECOVEREDREPAYMENT, RECOVEREDACCOUNT, RECOVEREDBALANCE, 
    OTHERLOANREPAYMENT, OTHERLOANACCOUNTS, OTHERLOANBALANCES, OTHERLENDINGCONCERNS, OTHERBADLOAND, 
    RRLOANSUMNUMBER
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CRrloansumExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_RRLOANSUM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CRrloansumExample">
    delete from CRT2_C_RRLOANSUM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CRrloansum">
    insert into CRT2_C_RRLOANSUM (REPORTID, TYPERESPONSIBILITY, RECOVEREDREPAYMENT, 
      RECOVEREDACCOUNT, RECOVEREDBALANCE, OTHERLOANREPAYMENT, 
      OTHERLOANACCOUNTS, OTHERLOANBALANCES, OTHERLENDINGCONCERNS, 
      OTHERBADLOAND, RRLOANSUMNUMBER)
    values (#{reportid,jdbcType=VARCHAR}, #{typeresponsibility,jdbcType=VARCHAR}, #{recoveredrepayment,jdbcType=VARCHAR}, 
      #{recoveredaccount,jdbcType=VARCHAR}, #{recoveredbalance,jdbcType=VARCHAR}, #{otherloanrepayment,jdbcType=VARCHAR}, 
      #{otherloanaccounts,jdbcType=VARCHAR}, #{otherloanbalances,jdbcType=VARCHAR}, #{otherlendingconcerns,jdbcType=VARCHAR}, 
      #{otherbadloand,jdbcType=VARCHAR}, #{rrloansumnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CRrloansum">
    insert into CRT2_C_RRLOANSUM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="typeresponsibility != null">
        TYPERESPONSIBILITY,
      </if>
      <if test="recoveredrepayment != null">
        RECOVEREDREPAYMENT,
      </if>
      <if test="recoveredaccount != null">
        RECOVEREDACCOUNT,
      </if>
      <if test="recoveredbalance != null">
        RECOVEREDBALANCE,
      </if>
      <if test="otherloanrepayment != null">
        OTHERLOANREPAYMENT,
      </if>
      <if test="otherloanaccounts != null">
        OTHERLOANACCOUNTS,
      </if>
      <if test="otherloanbalances != null">
        OTHERLOANBALANCES,
      </if>
      <if test="otherlendingconcerns != null">
        OTHERLENDINGCONCERNS,
      </if>
      <if test="otherbadloand != null">
        OTHERBADLOAND,
      </if>
      <if test="rrloansumnumber != null">
        RRLOANSUMNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="typeresponsibility != null">
        #{typeresponsibility,jdbcType=VARCHAR},
      </if>
      <if test="recoveredrepayment != null">
        #{recoveredrepayment,jdbcType=VARCHAR},
      </if>
      <if test="recoveredaccount != null">
        #{recoveredaccount,jdbcType=VARCHAR},
      </if>
      <if test="recoveredbalance != null">
        #{recoveredbalance,jdbcType=VARCHAR},
      </if>
      <if test="otherloanrepayment != null">
        #{otherloanrepayment,jdbcType=VARCHAR},
      </if>
      <if test="otherloanaccounts != null">
        #{otherloanaccounts,jdbcType=VARCHAR},
      </if>
      <if test="otherloanbalances != null">
        #{otherloanbalances,jdbcType=VARCHAR},
      </if>
      <if test="otherlendingconcerns != null">
        #{otherlendingconcerns,jdbcType=VARCHAR},
      </if>
      <if test="otherbadloand != null">
        #{otherbadloand,jdbcType=VARCHAR},
      </if>
      <if test="rrloansumnumber != null">
        #{rrloansumnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CRrloansumExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_RRLOANSUM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_RRLOANSUM
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.typeresponsibility != null">
        TYPERESPONSIBILITY = #{record.typeresponsibility,jdbcType=VARCHAR},
      </if>
      <if test="record.recoveredrepayment != null">
        RECOVEREDREPAYMENT = #{record.recoveredrepayment,jdbcType=VARCHAR},
      </if>
      <if test="record.recoveredaccount != null">
        RECOVEREDACCOUNT = #{record.recoveredaccount,jdbcType=VARCHAR},
      </if>
      <if test="record.recoveredbalance != null">
        RECOVEREDBALANCE = #{record.recoveredbalance,jdbcType=VARCHAR},
      </if>
      <if test="record.otherloanrepayment != null">
        OTHERLOANREPAYMENT = #{record.otherloanrepayment,jdbcType=VARCHAR},
      </if>
      <if test="record.otherloanaccounts != null">
        OTHERLOANACCOUNTS = #{record.otherloanaccounts,jdbcType=VARCHAR},
      </if>
      <if test="record.otherloanbalances != null">
        OTHERLOANBALANCES = #{record.otherloanbalances,jdbcType=VARCHAR},
      </if>
      <if test="record.otherlendingconcerns != null">
        OTHERLENDINGCONCERNS = #{record.otherlendingconcerns,jdbcType=VARCHAR},
      </if>
      <if test="record.otherbadloand != null">
        OTHERBADLOAND = #{record.otherbadloand,jdbcType=VARCHAR},
      </if>
      <if test="record.rrloansumnumber != null">
        RRLOANSUMNUMBER = #{record.rrloansumnumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_RRLOANSUM
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      TYPERESPONSIBILITY = #{record.typeresponsibility,jdbcType=VARCHAR},
      RECOVEREDREPAYMENT = #{record.recoveredrepayment,jdbcType=VARCHAR},
      RECOVEREDACCOUNT = #{record.recoveredaccount,jdbcType=VARCHAR},
      RECOVEREDBALANCE = #{record.recoveredbalance,jdbcType=VARCHAR},
      OTHERLOANREPAYMENT = #{record.otherloanrepayment,jdbcType=VARCHAR},
      OTHERLOANACCOUNTS = #{record.otherloanaccounts,jdbcType=VARCHAR},
      OTHERLOANBALANCES = #{record.otherloanbalances,jdbcType=VARCHAR},
      OTHERLENDINGCONCERNS = #{record.otherlendingconcerns,jdbcType=VARCHAR},
      OTHERBADLOAND = #{record.otherbadloand,jdbcType=VARCHAR},
      RRLOANSUMNUMBER = #{record.rrloansumnumber,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>