<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CRatinginfMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CRatinginf">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="RATINGINFORMATIONID" jdbcType="VARCHAR" property="ratinginformationid" />
    <result column="ORAGANIZATIONNAME" jdbcType="VARCHAR" property="oraganizationname" />
    <result column="RATINGDATE" jdbcType="VARCHAR" property="ratingdate" />
    <result column="RATINGRESULTS" jdbcType="VARCHAR" property="ratingresults" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, RATINGINFORMATIONID, ORAGANIZATIONNAME, RATINGDATE, RATINGRESULTS
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CRatinginfExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_RATINGINF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CRatinginfExample">
    delete from CRT2_C_RATINGINF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CRatinginf">
    insert into CRT2_C_RATINGINF (REPORTID, RATINGINFORMATIONID, ORAGANIZATIONNAME, 
      RATINGDATE, RATINGRESULTS)
    values (#{reportid,jdbcType=VARCHAR}, #{ratinginformationid,jdbcType=VARCHAR}, #{oraganizationname,jdbcType=VARCHAR}, 
      #{ratingdate,jdbcType=VARCHAR}, #{ratingresults,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CRatinginf">
    insert into CRT2_C_RATINGINF
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="ratinginformationid != null">
        RATINGINFORMATIONID,
      </if>
      <if test="oraganizationname != null">
        ORAGANIZATIONNAME,
      </if>
      <if test="ratingdate != null">
        RATINGDATE,
      </if>
      <if test="ratingresults != null">
        RATINGRESULTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="ratinginformationid != null">
        #{ratinginformationid,jdbcType=VARCHAR},
      </if>
      <if test="oraganizationname != null">
        #{oraganizationname,jdbcType=VARCHAR},
      </if>
      <if test="ratingdate != null">
        #{ratingdate,jdbcType=VARCHAR},
      </if>
      <if test="ratingresults != null">
        #{ratingresults,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CRatinginfExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_RATINGINF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_RATINGINF
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.ratinginformationid != null">
        RATINGINFORMATIONID = #{record.ratinginformationid,jdbcType=VARCHAR},
      </if>
      <if test="record.oraganizationname != null">
        ORAGANIZATIONNAME = #{record.oraganizationname,jdbcType=VARCHAR},
      </if>
      <if test="record.ratingdate != null">
        RATINGDATE = #{record.ratingdate,jdbcType=VARCHAR},
      </if>
      <if test="record.ratingresults != null">
        RATINGRESULTS = #{record.ratingresults,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_RATINGINF
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      RATINGINFORMATIONID = #{record.ratinginformationid,jdbcType=VARCHAR},
      ORAGANIZATIONNAME = #{record.oraganizationname,jdbcType=VARCHAR},
      RATINGDATE = #{record.ratingdate,jdbcType=VARCHAR},
      RATINGRESULTS = #{record.ratingresults,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>