<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CViljudgementMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CViljudgement">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="CIVILJUDGMENTID" jdbcType="VARCHAR" property="civiljudgmentid" />
    <result column="REGISTEREDCOURT" jdbcType="VARCHAR" property="registeredcourt" />
    <result column="CASEREGISTRATIONDATE" jdbcType="VARCHAR" property="caseregistrationdate" />
    <result column="REGISTERCAUSE" jdbcType="VARCHAR" property="registercause" />
    <result column="LAWSUITTYPE" jdbcType="VARCHAR" property="lawsuittype" />
    <result column="LAWSUITNO" jdbcType="VARCHAR" property="lawsuitno" />
    <result column="CASEPROCESS" jdbcType="VARCHAR" property="caseprocess" />
    <result column="LAWSUITOBJECT" jdbcType="VARCHAR" property="lawsuitobject" />
    <result column="LAWSUITOBJECTAMOUNT" jdbcType="VARCHAR" property="lawsuitobjectamount" />
    <result column="CLOSEDTYPE" jdbcType="VARCHAR" property="closedtype" />
    <result column="VALIDATEDATE" jdbcType="VARCHAR" property="validatedate" />
    <result column="CASERESULT" jdbcType="VARCHAR" property="caseresult" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, CIVILJUDGMENTID, REGISTEREDCOURT, CASEREGISTRATIONDATE, REGISTERCAUSE, 
    LAWSUITTYPE, LAWSUITNO, CASEPROCESS, LAWSUITOBJECT, LAWSUITOBJECTAMOUNT, CLOSEDTYPE, 
    VALIDATEDATE, CASERESULT
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CViljudgementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_VILJUDGEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CViljudgementExample">
    delete from CRT2_C_VILJUDGEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CViljudgement">
    insert into CRT2_C_VILJUDGEMENT (REPORTID, CIVILJUDGMENTID, REGISTEREDCOURT, 
      CASEREGISTRATIONDATE, REGISTERCAUSE, LAWSUITTYPE, 
      LAWSUITNO, CASEPROCESS, LAWSUITOBJECT, 
      LAWSUITOBJECTAMOUNT, CLOSEDTYPE, VALIDATEDATE, 
      CASERESULT)
    values (#{reportid,jdbcType=VARCHAR}, #{civiljudgmentid,jdbcType=VARCHAR}, #{registeredcourt,jdbcType=VARCHAR}, 
      #{caseregistrationdate,jdbcType=VARCHAR}, #{registercause,jdbcType=VARCHAR}, #{lawsuittype,jdbcType=VARCHAR}, 
      #{lawsuitno,jdbcType=VARCHAR}, #{caseprocess,jdbcType=VARCHAR}, #{lawsuitobject,jdbcType=VARCHAR}, 
      #{lawsuitobjectamount,jdbcType=VARCHAR}, #{closedtype,jdbcType=VARCHAR}, #{validatedate,jdbcType=VARCHAR}, 
      #{caseresult,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CViljudgement">
    insert into CRT2_C_VILJUDGEMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="civiljudgmentid != null">
        CIVILJUDGMENTID,
      </if>
      <if test="registeredcourt != null">
        REGISTEREDCOURT,
      </if>
      <if test="caseregistrationdate != null">
        CASEREGISTRATIONDATE,
      </if>
      <if test="registercause != null">
        REGISTERCAUSE,
      </if>
      <if test="lawsuittype != null">
        LAWSUITTYPE,
      </if>
      <if test="lawsuitno != null">
        LAWSUITNO,
      </if>
      <if test="caseprocess != null">
        CASEPROCESS,
      </if>
      <if test="lawsuitobject != null">
        LAWSUITOBJECT,
      </if>
      <if test="lawsuitobjectamount != null">
        LAWSUITOBJECTAMOUNT,
      </if>
      <if test="closedtype != null">
        CLOSEDTYPE,
      </if>
      <if test="validatedate != null">
        VALIDATEDATE,
      </if>
      <if test="caseresult != null">
        CASERESULT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="civiljudgmentid != null">
        #{civiljudgmentid,jdbcType=VARCHAR},
      </if>
      <if test="registeredcourt != null">
        #{registeredcourt,jdbcType=VARCHAR},
      </if>
      <if test="caseregistrationdate != null">
        #{caseregistrationdate,jdbcType=VARCHAR},
      </if>
      <if test="registercause != null">
        #{registercause,jdbcType=VARCHAR},
      </if>
      <if test="lawsuittype != null">
        #{lawsuittype,jdbcType=VARCHAR},
      </if>
      <if test="lawsuitno != null">
        #{lawsuitno,jdbcType=VARCHAR},
      </if>
      <if test="caseprocess != null">
        #{caseprocess,jdbcType=VARCHAR},
      </if>
      <if test="lawsuitobject != null">
        #{lawsuitobject,jdbcType=VARCHAR},
      </if>
      <if test="lawsuitobjectamount != null">
        #{lawsuitobjectamount,jdbcType=VARCHAR},
      </if>
      <if test="closedtype != null">
        #{closedtype,jdbcType=VARCHAR},
      </if>
      <if test="validatedate != null">
        #{validatedate,jdbcType=VARCHAR},
      </if>
      <if test="caseresult != null">
        #{caseresult,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CViljudgementExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_VILJUDGEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_VILJUDGEMENT
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.civiljudgmentid != null">
        CIVILJUDGMENTID = #{record.civiljudgmentid,jdbcType=VARCHAR},
      </if>
      <if test="record.registeredcourt != null">
        REGISTEREDCOURT = #{record.registeredcourt,jdbcType=VARCHAR},
      </if>
      <if test="record.caseregistrationdate != null">
        CASEREGISTRATIONDATE = #{record.caseregistrationdate,jdbcType=VARCHAR},
      </if>
      <if test="record.registercause != null">
        REGISTERCAUSE = #{record.registercause,jdbcType=VARCHAR},
      </if>
      <if test="record.lawsuittype != null">
        LAWSUITTYPE = #{record.lawsuittype,jdbcType=VARCHAR},
      </if>
      <if test="record.lawsuitno != null">
        LAWSUITNO = #{record.lawsuitno,jdbcType=VARCHAR},
      </if>
      <if test="record.caseprocess != null">
        CASEPROCESS = #{record.caseprocess,jdbcType=VARCHAR},
      </if>
      <if test="record.lawsuitobject != null">
        LAWSUITOBJECT = #{record.lawsuitobject,jdbcType=VARCHAR},
      </if>
      <if test="record.lawsuitobjectamount != null">
        LAWSUITOBJECTAMOUNT = #{record.lawsuitobjectamount,jdbcType=VARCHAR},
      </if>
      <if test="record.closedtype != null">
        CLOSEDTYPE = #{record.closedtype,jdbcType=VARCHAR},
      </if>
      <if test="record.validatedate != null">
        VALIDATEDATE = #{record.validatedate,jdbcType=VARCHAR},
      </if>
      <if test="record.caseresult != null">
        CASERESULT = #{record.caseresult,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_VILJUDGEMENT
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      CIVILJUDGMENTID = #{record.civiljudgmentid,jdbcType=VARCHAR},
      REGISTEREDCOURT = #{record.registeredcourt,jdbcType=VARCHAR},
      CASEREGISTRATIONDATE = #{record.caseregistrationdate,jdbcType=VARCHAR},
      REGISTERCAUSE = #{record.registercause,jdbcType=VARCHAR},
      LAWSUITTYPE = #{record.lawsuittype,jdbcType=VARCHAR},
      LAWSUITNO = #{record.lawsuitno,jdbcType=VARCHAR},
      CASEPROCESS = #{record.caseprocess,jdbcType=VARCHAR},
      LAWSUITOBJECT = #{record.lawsuitobject,jdbcType=VARCHAR},
      LAWSUITOBJECTAMOUNT = #{record.lawsuitobjectamount,jdbcType=VARCHAR},
      CLOSEDTYPE = #{record.closedtype,jdbcType=VARCHAR},
      VALIDATEDATE = #{record.validatedate,jdbcType=VARCHAR},
      CASERESULT = #{record.caseresult,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CViljudgement">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="CIVILJUDGMENTID" jdbcType="VARCHAR" property="civiljudgmentid" />
    <result column="REGISTEREDCOURT" jdbcType="VARCHAR" property="registeredcourt" />
    <result column="CASENUM" jdbcType="VARCHAR" property="casenum" />
    <result column="CASEREGISTRATIONDATE" jdbcType="VARCHAR" property="caseregistrationdate" />
    <result column="CASEUSE" jdbcType="VARCHAR" property="caseuse" />
    <result column="LAWSUITTYPE" jdbcType="VARCHAR" property="lawsuittype" />
    <result column="CASEPROCESS" jdbcType="VARCHAR" property="caseprocess" />
    <result column="LAWSUITOBJECT" jdbcType="VARCHAR" property="lawsuitobject" />
    <result column="LAWSUITOBJECTAMOUNT" jdbcType="VARCHAR" property="lawsuitobjectamount" />
    <result column="CLOSEDTYPE" jdbcType="VARCHAR" property="closedtype" />
    <result column="VALIDATEDATE" jdbcType="VARCHAR" property="validatedate" />
    <result column="CASERESULT" jdbcType="VARCHAR" property="caseresult" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, CIVILJUDGMENTID, REGISTEREDCOURT, CASENUM, CASEREGISTRATIONDATE, CASEUSE, 
    LAWSUITTYPE, CASEPROCESS, LAWSUITOBJECT, LAWSUITOBJECTAMOUNT, CLOSEDTYPE, VALIDATEDATE, 
    CASERESULT
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CViljudgementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_VILJUDGEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CViljudgementExample">
    delete from CRT2_C_VILJUDGEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CViljudgement">
    insert into CRT2_C_VILJUDGEMENT (REPORTID, CIVILJUDGMENTID, REGISTEREDCOURT, 
      CASENUM, CASEREGISTRATIONDATE, CASEUSE, 
      LAWSUITTYPE, CASEPROCESS, LAWSUITOBJECT, 
      LAWSUITOBJECTAMOUNT, CLOSEDTYPE, VALIDATEDATE, 
      CASERESULT)
    values (#{reportid,jdbcType=VARCHAR}, #{civiljudgmentid,jdbcType=VARCHAR}, #{registeredcourt,jdbcType=VARCHAR}, 
      #{casenum,jdbcType=VARCHAR}, #{caseregistrationdate,jdbcType=VARCHAR}, #{caseuse,jdbcType=VARCHAR}, 
      #{lawsuittype,jdbcType=VARCHAR}, #{caseprocess,jdbcType=VARCHAR}, #{lawsuitobject,jdbcType=VARCHAR}, 
      #{lawsuitobjectamount,jdbcType=VARCHAR}, #{closedtype,jdbcType=VARCHAR}, #{validatedate,jdbcType=VARCHAR}, 
      #{caseresult,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CViljudgement">
    insert into CRT2_C_VILJUDGEMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="civiljudgmentid != null">
        CIVILJUDGMENTID,
      </if>
      <if test="registeredcourt != null">
        REGISTEREDCOURT,
      </if>
      <if test="casenum != null">
        CASENUM,
      </if>
      <if test="caseregistrationdate != null">
        CASEREGISTRATIONDATE,
      </if>
      <if test="caseuse != null">
        CASEUSE,
      </if>
      <if test="lawsuittype != null">
        LAWSUITTYPE,
      </if>
      <if test="caseprocess != null">
        CASEPROCESS,
      </if>
      <if test="lawsuitobject != null">
        LAWSUITOBJECT,
      </if>
      <if test="lawsuitobjectamount != null">
        LAWSUITOBJECTAMOUNT,
      </if>
      <if test="closedtype != null">
        CLOSEDTYPE,
      </if>
      <if test="validatedate != null">
        VALIDATEDATE,
      </if>
      <if test="caseresult != null">
        CASERESULT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="civiljudgmentid != null">
        #{civiljudgmentid,jdbcType=VARCHAR},
      </if>
      <if test="registeredcourt != null">
        #{registeredcourt,jdbcType=VARCHAR},
      </if>
      <if test="casenum != null">
        #{casenum,jdbcType=VARCHAR},
      </if>
      <if test="caseregistrationdate != null">
        #{caseregistrationdate,jdbcType=VARCHAR},
      </if>
      <if test="caseuse != null">
        #{caseuse,jdbcType=VARCHAR},
      </if>
      <if test="lawsuittype != null">
        #{lawsuittype,jdbcType=VARCHAR},
      </if>
      <if test="caseprocess != null">
        #{caseprocess,jdbcType=VARCHAR},
      </if>
      <if test="lawsuitobject != null">
        #{lawsuitobject,jdbcType=VARCHAR},
      </if>
      <if test="lawsuitobjectamount != null">
        #{lawsuitobjectamount,jdbcType=VARCHAR},
      </if>
      <if test="closedtype != null">
        #{closedtype,jdbcType=VARCHAR},
      </if>
      <if test="validatedate != null">
        #{validatedate,jdbcType=VARCHAR},
      </if>
      <if test="caseresult != null">
        #{caseresult,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CViljudgementExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_VILJUDGEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_VILJUDGEMENT
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.civiljudgmentid != null">
        CIVILJUDGMENTID = #{record.civiljudgmentid,jdbcType=VARCHAR},
      </if>
      <if test="record.registeredcourt != null">
        REGISTEREDCOURT = #{record.registeredcourt,jdbcType=VARCHAR},
      </if>
      <if test="record.casenum != null">
        CASENUM = #{record.casenum,jdbcType=VARCHAR},
      </if>
      <if test="record.caseregistrationdate != null">
        CASEREGISTRATIONDATE = #{record.caseregistrationdate,jdbcType=VARCHAR},
      </if>
      <if test="record.caseuse != null">
        CASEUSE = #{record.caseuse,jdbcType=VARCHAR},
      </if>
      <if test="record.lawsuittype != null">
        LAWSUITTYPE = #{record.lawsuittype,jdbcType=VARCHAR},
      </if>
      <if test="record.caseprocess != null">
        CASEPROCESS = #{record.caseprocess,jdbcType=VARCHAR},
      </if>
      <if test="record.lawsuitobject != null">
        LAWSUITOBJECT = #{record.lawsuitobject,jdbcType=VARCHAR},
      </if>
      <if test="record.lawsuitobjectamount != null">
        LAWSUITOBJECTAMOUNT = #{record.lawsuitobjectamount,jdbcType=VARCHAR},
      </if>
      <if test="record.closedtype != null">
        CLOSEDTYPE = #{record.closedtype,jdbcType=VARCHAR},
      </if>
      <if test="record.validatedate != null">
        VALIDATEDATE = #{record.validatedate,jdbcType=VARCHAR},
      </if>
      <if test="record.caseresult != null">
        CASERESULT = #{record.caseresult,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_VILJUDGEMENT
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      CIVILJUDGMENTID = #{record.civiljudgmentid,jdbcType=VARCHAR},
      REGISTEREDCOURT = #{record.registeredcourt,jdbcType=VARCHAR},
      CASENUM = #{record.casenum,jdbcType=VARCHAR},
      CASEREGISTRATIONDATE = #{record.caseregistrationdate,jdbcType=VARCHAR},
      CASEUSE = #{record.caseuse,jdbcType=VARCHAR},
      LAWSUITTYPE = #{record.lawsuittype,jdbcType=VARCHAR},
      CASEPROCESS = #{record.caseprocess,jdbcType=VARCHAR},
      LAWSUITOBJECT = #{record.lawsuitobject,jdbcType=VARCHAR},
      LAWSUITOBJECTAMOUNT = #{record.lawsuitobjectamount,jdbcType=VARCHAR},
      CLOSEDTYPE = #{record.closedtype,jdbcType=VARCHAR},
      VALIDATEDATE = #{record.validatedate,jdbcType=VARCHAR},
      CASERESULT = #{record.caseresult,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>