<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CQualificationMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CQualification">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="QUALIFICATIONID" jdbcType="VARCHAR" property="qualificationid" />
    <result column="IDENTIFYORG" jdbcType="VARCHAR" property="identifyorg" />
    <result column="QUALIFICATETYPE" jdbcType="VARCHAR" property="qualificatetype" />
    <result column="APPROVALDATE" jdbcType="VARCHAR" property="approvaldate" />
    <result column="ENDDATE" jdbcType="VARCHAR" property="enddate" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, QUALIFICATIONID, IDENTIFYORG, QUALIFICATETYPE, APPROVALDATE, ENDDATE, CONTENT
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CQualificationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_QUALIFICATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CQualificationExample">
    delete from CRT2_C_QUALIFICATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CQualification">
    insert into CRT2_C_QUALIFICATION (REPORTID, QUALIFICATIONID, IDENTIFYORG, 
      QUALIFICATETYPE, APPROVALDATE, ENDDATE, 
      CONTENT)
    values (#{reportid,jdbcType=VARCHAR}, #{qualificationid,jdbcType=VARCHAR}, #{identifyorg,jdbcType=VARCHAR}, 
      #{qualificatetype,jdbcType=VARCHAR}, #{approvaldate,jdbcType=VARCHAR}, #{enddate,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CQualification">
    insert into CRT2_C_QUALIFICATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="qualificationid != null">
        QUALIFICATIONID,
      </if>
      <if test="identifyorg != null">
        IDENTIFYORG,
      </if>
      <if test="qualificatetype != null">
        QUALIFICATETYPE,
      </if>
      <if test="approvaldate != null">
        APPROVALDATE,
      </if>
      <if test="enddate != null">
        ENDDATE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="qualificationid != null">
        #{qualificationid,jdbcType=VARCHAR},
      </if>
      <if test="identifyorg != null">
        #{identifyorg,jdbcType=VARCHAR},
      </if>
      <if test="qualificatetype != null">
        #{qualificatetype,jdbcType=VARCHAR},
      </if>
      <if test="approvaldate != null">
        #{approvaldate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CQualificationExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_QUALIFICATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_QUALIFICATION
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.qualificationid != null">
        QUALIFICATIONID = #{record.qualificationid,jdbcType=VARCHAR},
      </if>
      <if test="record.identifyorg != null">
        IDENTIFYORG = #{record.identifyorg,jdbcType=VARCHAR},
      </if>
      <if test="record.qualificatetype != null">
        QUALIFICATETYPE = #{record.qualificatetype,jdbcType=VARCHAR},
      </if>
      <if test="record.approvaldate != null">
        APPROVALDATE = #{record.approvaldate,jdbcType=VARCHAR},
      </if>
      <if test="record.enddate != null">
        ENDDATE = #{record.enddate,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_QUALIFICATION
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      QUALIFICATIONID = #{record.qualificationid,jdbcType=VARCHAR},
      IDENTIFYORG = #{record.identifyorg,jdbcType=VARCHAR},
      QUALIFICATETYPE = #{record.qualificatetype,jdbcType=VARCHAR},
      APPROVALDATE = #{record.approvaldate,jdbcType=VARCHAR},
      ENDDATE = #{record.enddate,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CQualification">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="QUALIFICATIONID" jdbcType="VARCHAR" property="qualificationid" />
    <result column="IDENTIFYORG" jdbcType="VARCHAR" property="identifyorg" />
    <result column="QUALIFICATETYPE" jdbcType="VARCHAR" property="qualificatetype" />
    <result column="APPROVALDATE" jdbcType="VARCHAR" property="approvaldate" />
    <result column="ENDDATE" jdbcType="VARCHAR" property="enddate" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, QUALIFICATIONID, IDENTIFYORG, QUALIFICATETYPE, APPROVALDATE, ENDDATE, CONTENT
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CQualificationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_QUALIFICATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CQualificationExample">
    delete from CRT2_C_QUALIFICATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CQualification">
    insert into CRT2_C_QUALIFICATION (REPORTID, QUALIFICATIONID, IDENTIFYORG, 
      QUALIFICATETYPE, APPROVALDATE, ENDDATE, 
      CONTENT)
    values (#{reportid,jdbcType=VARCHAR}, #{qualificationid,jdbcType=VARCHAR}, #{identifyorg,jdbcType=VARCHAR}, 
      #{qualificatetype,jdbcType=VARCHAR}, #{approvaldate,jdbcType=VARCHAR}, #{enddate,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CQualification">
    insert into CRT2_C_QUALIFICATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="qualificationid != null">
        QUALIFICATIONID,
      </if>
      <if test="identifyorg != null">
        IDENTIFYORG,
      </if>
      <if test="qualificatetype != null">
        QUALIFICATETYPE,
      </if>
      <if test="approvaldate != null">
        APPROVALDATE,
      </if>
      <if test="enddate != null">
        ENDDATE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="qualificationid != null">
        #{qualificationid,jdbcType=VARCHAR},
      </if>
      <if test="identifyorg != null">
        #{identifyorg,jdbcType=VARCHAR},
      </if>
      <if test="qualificatetype != null">
        #{qualificatetype,jdbcType=VARCHAR},
      </if>
      <if test="approvaldate != null">
        #{approvaldate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CQualificationExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_QUALIFICATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_QUALIFICATION
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.qualificationid != null">
        QUALIFICATIONID = #{record.qualificationid,jdbcType=VARCHAR},
      </if>
      <if test="record.identifyorg != null">
        IDENTIFYORG = #{record.identifyorg,jdbcType=VARCHAR},
      </if>
      <if test="record.qualificatetype != null">
        QUALIFICATETYPE = #{record.qualificatetype,jdbcType=VARCHAR},
      </if>
      <if test="record.approvaldate != null">
        APPROVALDATE = #{record.approvaldate,jdbcType=VARCHAR},
      </if>
      <if test="record.enddate != null">
        ENDDATE = #{record.enddate,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_QUALIFICATION
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      QUALIFICATIONID = #{record.qualificationid,jdbcType=VARCHAR},
      IDENTIFYORG = #{record.identifyorg,jdbcType=VARCHAR},
      QUALIFICATETYPE = #{record.qualificatetype,jdbcType=VARCHAR},
      APPROVALDATE = #{record.approvaldate,jdbcType=VARCHAR},
      ENDDATE = #{record.enddate,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>