<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CEntprofit07Mapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CEntprofit07">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="FINANCEID" jdbcType="VARCHAR" property="financeid" />
    <result column="MECHANISMTYPE" jdbcType="VARCHAR" property="mechanismtype" />
    <result column="MECHANISMCODE" jdbcType="VARCHAR" property="mechanismcode" />
    <result column="PROFITINFODATE" jdbcType="VARCHAR" property="profitinfodate" />
    <result column="PROFITINFOTYPE" jdbcType="VARCHAR" property="profitinfotype" />
    <result column="PROFITINFOSUBTYPE" jdbcType="VARCHAR" property="profitinfosubtype" />
    <result column="EG04BJ01" jdbcType="VARCHAR" property="eg04bj01" />
    <result column="EG04BJ02" jdbcType="VARCHAR" property="eg04bj02" />
    <result column="EG04BJ03" jdbcType="VARCHAR" property="eg04bj03" />
    <result column="EG04BJ04" jdbcType="VARCHAR" property="eg04bj04" />
    <result column="EG04BJ05" jdbcType="VARCHAR" property="eg04bj05" />
    <result column="EG04BJ06" jdbcType="VARCHAR" property="eg04bj06" />
    <result column="EG04BJ07" jdbcType="VARCHAR" property="eg04bj07" />
    <result column="EG04BJ08" jdbcType="VARCHAR" property="eg04bj08" />
    <result column="EG04BJ09" jdbcType="VARCHAR" property="eg04bj09" />
    <result column="EG04BJ10" jdbcType="VARCHAR" property="eg04bj10" />
    <result column="EG04BJ11" jdbcType="VARCHAR" property="eg04bj11" />
    <result column="EG04BJ12" jdbcType="VARCHAR" property="eg04bj12" />
    <result column="EG04BJ13" jdbcType="VARCHAR" property="eg04bj13" />
    <result column="EG04BJ14" jdbcType="VARCHAR" property="eg04bj14" />
    <result column="EG04BJ15" jdbcType="VARCHAR" property="eg04bj15" />
    <result column="EG04BJ16" jdbcType="VARCHAR" property="eg04bj16" />
    <result column="EG04BJ17" jdbcType="VARCHAR" property="eg04bj17" />
    <result column="EG04BJ18" jdbcType="VARCHAR" property="eg04bj18" />
    <result column="EG04BJ19" jdbcType="VARCHAR" property="eg04bj19" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, FINANCEID, MECHANISMTYPE, MECHANISMCODE, PROFITINFODATE, PROFITINFOTYPE, 
    PROFITINFOSUBTYPE, EG04BJ01, EG04BJ02, EG04BJ03, EG04BJ04, EG04BJ05, EG04BJ06, EG04BJ07, 
    EG04BJ08, EG04BJ09, EG04BJ10, EG04BJ11, EG04BJ12, EG04BJ13, EG04BJ14, EG04BJ15, EG04BJ16, 
    EG04BJ17, EG04BJ18, EG04BJ19
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CEntprofit07Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_ENTPROFIT07
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CEntprofit07Example">
    delete from CRT2_C_ENTPROFIT07
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CEntprofit07">
    insert into CRT2_C_ENTPROFIT07 (REPORTID, FINANCEID, MECHANISMTYPE, 
      MECHANISMCODE, PROFITINFODATE, PROFITINFOTYPE, 
      PROFITINFOSUBTYPE, EG04BJ01, EG04BJ02, 
      EG04BJ03, EG04BJ04, EG04BJ05, 
      EG04BJ06, EG04BJ07, EG04BJ08, 
      EG04BJ09, EG04BJ10, EG04BJ11, 
      EG04BJ12, EG04BJ13, EG04BJ14, 
      EG04BJ15, EG04BJ16, EG04BJ17, 
      EG04BJ18, EG04BJ19)
    values (#{reportid,jdbcType=VARCHAR}, #{financeid,jdbcType=VARCHAR}, #{mechanismtype,jdbcType=VARCHAR}, 
      #{mechanismcode,jdbcType=VARCHAR}, #{profitinfodate,jdbcType=VARCHAR}, #{profitinfotype,jdbcType=VARCHAR}, 
      #{profitinfosubtype,jdbcType=VARCHAR}, #{eg04bj01,jdbcType=VARCHAR}, #{eg04bj02,jdbcType=VARCHAR}, 
      #{eg04bj03,jdbcType=VARCHAR}, #{eg04bj04,jdbcType=VARCHAR}, #{eg04bj05,jdbcType=VARCHAR}, 
      #{eg04bj06,jdbcType=VARCHAR}, #{eg04bj07,jdbcType=VARCHAR}, #{eg04bj08,jdbcType=VARCHAR}, 
      #{eg04bj09,jdbcType=VARCHAR}, #{eg04bj10,jdbcType=VARCHAR}, #{eg04bj11,jdbcType=VARCHAR}, 
      #{eg04bj12,jdbcType=VARCHAR}, #{eg04bj13,jdbcType=VARCHAR}, #{eg04bj14,jdbcType=VARCHAR}, 
      #{eg04bj15,jdbcType=VARCHAR}, #{eg04bj16,jdbcType=VARCHAR}, #{eg04bj17,jdbcType=VARCHAR}, 
      #{eg04bj18,jdbcType=VARCHAR}, #{eg04bj19,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CEntprofit07">
    insert into CRT2_C_ENTPROFIT07
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="financeid != null">
        FINANCEID,
      </if>
      <if test="mechanismtype != null">
        MECHANISMTYPE,
      </if>
      <if test="mechanismcode != null">
        MECHANISMCODE,
      </if>
      <if test="profitinfodate != null">
        PROFITINFODATE,
      </if>
      <if test="profitinfotype != null">
        PROFITINFOTYPE,
      </if>
      <if test="profitinfosubtype != null">
        PROFITINFOSUBTYPE,
      </if>
      <if test="eg04bj01 != null">
        EG04BJ01,
      </if>
      <if test="eg04bj02 != null">
        EG04BJ02,
      </if>
      <if test="eg04bj03 != null">
        EG04BJ03,
      </if>
      <if test="eg04bj04 != null">
        EG04BJ04,
      </if>
      <if test="eg04bj05 != null">
        EG04BJ05,
      </if>
      <if test="eg04bj06 != null">
        EG04BJ06,
      </if>
      <if test="eg04bj07 != null">
        EG04BJ07,
      </if>
      <if test="eg04bj08 != null">
        EG04BJ08,
      </if>
      <if test="eg04bj09 != null">
        EG04BJ09,
      </if>
      <if test="eg04bj10 != null">
        EG04BJ10,
      </if>
      <if test="eg04bj11 != null">
        EG04BJ11,
      </if>
      <if test="eg04bj12 != null">
        EG04BJ12,
      </if>
      <if test="eg04bj13 != null">
        EG04BJ13,
      </if>
      <if test="eg04bj14 != null">
        EG04BJ14,
      </if>
      <if test="eg04bj15 != null">
        EG04BJ15,
      </if>
      <if test="eg04bj16 != null">
        EG04BJ16,
      </if>
      <if test="eg04bj17 != null">
        EG04BJ17,
      </if>
      <if test="eg04bj18 != null">
        EG04BJ18,
      </if>
      <if test="eg04bj19 != null">
        EG04BJ19,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="financeid != null">
        #{financeid,jdbcType=VARCHAR},
      </if>
      <if test="mechanismtype != null">
        #{mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="mechanismcode != null">
        #{mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="profitinfodate != null">
        #{profitinfodate,jdbcType=VARCHAR},
      </if>
      <if test="profitinfotype != null">
        #{profitinfotype,jdbcType=VARCHAR},
      </if>
      <if test="profitinfosubtype != null">
        #{profitinfosubtype,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj01 != null">
        #{eg04bj01,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj02 != null">
        #{eg04bj02,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj03 != null">
        #{eg04bj03,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj04 != null">
        #{eg04bj04,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj05 != null">
        #{eg04bj05,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj06 != null">
        #{eg04bj06,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj07 != null">
        #{eg04bj07,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj08 != null">
        #{eg04bj08,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj09 != null">
        #{eg04bj09,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj10 != null">
        #{eg04bj10,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj11 != null">
        #{eg04bj11,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj12 != null">
        #{eg04bj12,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj13 != null">
        #{eg04bj13,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj14 != null">
        #{eg04bj14,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj15 != null">
        #{eg04bj15,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj16 != null">
        #{eg04bj16,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj17 != null">
        #{eg04bj17,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj18 != null">
        #{eg04bj18,jdbcType=VARCHAR},
      </if>
      <if test="eg04bj19 != null">
        #{eg04bj19,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CEntprofit07Example" resultType="java.lang.Long">
    select count(*) from CRT2_C_ENTPROFIT07
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_ENTPROFIT07
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.financeid != null">
        FINANCEID = #{record.financeid,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismtype != null">
        MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismcode != null">
        MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="record.profitinfodate != null">
        PROFITINFODATE = #{record.profitinfodate,jdbcType=VARCHAR},
      </if>
      <if test="record.profitinfotype != null">
        PROFITINFOTYPE = #{record.profitinfotype,jdbcType=VARCHAR},
      </if>
      <if test="record.profitinfosubtype != null">
        PROFITINFOSUBTYPE = #{record.profitinfosubtype,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj01 != null">
        EG04BJ01 = #{record.eg04bj01,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj02 != null">
        EG04BJ02 = #{record.eg04bj02,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj03 != null">
        EG04BJ03 = #{record.eg04bj03,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj04 != null">
        EG04BJ04 = #{record.eg04bj04,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj05 != null">
        EG04BJ05 = #{record.eg04bj05,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj06 != null">
        EG04BJ06 = #{record.eg04bj06,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj07 != null">
        EG04BJ07 = #{record.eg04bj07,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj08 != null">
        EG04BJ08 = #{record.eg04bj08,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj09 != null">
        EG04BJ09 = #{record.eg04bj09,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj10 != null">
        EG04BJ10 = #{record.eg04bj10,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj11 != null">
        EG04BJ11 = #{record.eg04bj11,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj12 != null">
        EG04BJ12 = #{record.eg04bj12,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj13 != null">
        EG04BJ13 = #{record.eg04bj13,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj14 != null">
        EG04BJ14 = #{record.eg04bj14,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj15 != null">
        EG04BJ15 = #{record.eg04bj15,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj16 != null">
        EG04BJ16 = #{record.eg04bj16,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj17 != null">
        EG04BJ17 = #{record.eg04bj17,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj18 != null">
        EG04BJ18 = #{record.eg04bj18,jdbcType=VARCHAR},
      </if>
      <if test="record.eg04bj19 != null">
        EG04BJ19 = #{record.eg04bj19,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_ENTPROFIT07
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      FINANCEID = #{record.financeid,jdbcType=VARCHAR},
      MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      PROFITINFODATE = #{record.profitinfodate,jdbcType=VARCHAR},
      PROFITINFOTYPE = #{record.profitinfotype,jdbcType=VARCHAR},
      PROFITINFOSUBTYPE = #{record.profitinfosubtype,jdbcType=VARCHAR},
      EG04BJ01 = #{record.eg04bj01,jdbcType=VARCHAR},
      EG04BJ02 = #{record.eg04bj02,jdbcType=VARCHAR},
      EG04BJ03 = #{record.eg04bj03,jdbcType=VARCHAR},
      EG04BJ04 = #{record.eg04bj04,jdbcType=VARCHAR},
      EG04BJ05 = #{record.eg04bj05,jdbcType=VARCHAR},
      EG04BJ06 = #{record.eg04bj06,jdbcType=VARCHAR},
      EG04BJ07 = #{record.eg04bj07,jdbcType=VARCHAR},
      EG04BJ08 = #{record.eg04bj08,jdbcType=VARCHAR},
      EG04BJ09 = #{record.eg04bj09,jdbcType=VARCHAR},
      EG04BJ10 = #{record.eg04bj10,jdbcType=VARCHAR},
      EG04BJ11 = #{record.eg04bj11,jdbcType=VARCHAR},
      EG04BJ12 = #{record.eg04bj12,jdbcType=VARCHAR},
      EG04BJ13 = #{record.eg04bj13,jdbcType=VARCHAR},
      EG04BJ14 = #{record.eg04bj14,jdbcType=VARCHAR},
      EG04BJ15 = #{record.eg04bj15,jdbcType=VARCHAR},
      EG04BJ16 = #{record.eg04bj16,jdbcType=VARCHAR},
      EG04BJ17 = #{record.eg04bj17,jdbcType=VARCHAR},
      EG04BJ18 = #{record.eg04bj18,jdbcType=VARCHAR},
      EG04BJ19 = #{record.eg04bj19,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>