<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CActualcontrollerMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CActualcontroller">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="ACTUALCONTROLNUMBER" jdbcType="VARCHAR" property="actualcontrolnumber" />
    <result column="ACTUALCONTROLLERTYPE" jdbcType="VARCHAR" property="actualcontrollertype" />
    <result column="ACTUALCONTROLLERNAME" jdbcType="VARCHAR" property="actualcontrollername" />
    <result column="ACTUALCONTROLLERIDTYPE" jdbcType="VARCHAR" property="actualcontrolleridtype" />
    <result column="ACTUALCONTROLLERIDNUMBER" jdbcType="VARCHAR" property="actualcontrolleridnumber" />
    <result column="UPDATEDATE" jdbcType="VARCHAR" property="updatedate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, ACTUALCONTROLNUMBER, ACTUALCONTROLLERTYPE, ACTUALCONTROLLERNAME, ACTUALCONTROLLERIDTYPE, 
    ACTUALCONTROLLERIDNUMBER, UPDATEDATE
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CActualcontrollerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_ACTUALCONTROLLER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CActualcontrollerExample">
    delete from CRT2_C_ACTUALCONTROLLER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CActualcontroller">
    insert into CRT2_C_ACTUALCONTROLLER (REPORTID, ACTUALCONTROLNUMBER, ACTUALCONTROLLERTYPE, 
      ACTUALCONTROLLERNAME, ACTUALCONTROLLERIDTYPE, 
      ACTUALCONTROLLERIDNUMBER, UPDATEDATE)
    values (#{reportid,jdbcType=VARCHAR}, #{actualcontrolnumber,jdbcType=VARCHAR}, #{actualcontrollertype,jdbcType=VARCHAR}, 
      #{actualcontrollername,jdbcType=VARCHAR}, #{actualcontrolleridtype,jdbcType=VARCHAR}, 
      #{actualcontrolleridnumber,jdbcType=VARCHAR}, #{updatedate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CActualcontroller">
    insert into CRT2_C_ACTUALCONTROLLER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="actualcontrolnumber != null">
        ACTUALCONTROLNUMBER,
      </if>
      <if test="actualcontrollertype != null">
        ACTUALCONTROLLERTYPE,
      </if>
      <if test="actualcontrollername != null">
        ACTUALCONTROLLERNAME,
      </if>
      <if test="actualcontrolleridtype != null">
        ACTUALCONTROLLERIDTYPE,
      </if>
      <if test="actualcontrolleridnumber != null">
        ACTUALCONTROLLERIDNUMBER,
      </if>
      <if test="updatedate != null">
        UPDATEDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="actualcontrolnumber != null">
        #{actualcontrolnumber,jdbcType=VARCHAR},
      </if>
      <if test="actualcontrollertype != null">
        #{actualcontrollertype,jdbcType=VARCHAR},
      </if>
      <if test="actualcontrollername != null">
        #{actualcontrollername,jdbcType=VARCHAR},
      </if>
      <if test="actualcontrolleridtype != null">
        #{actualcontrolleridtype,jdbcType=VARCHAR},
      </if>
      <if test="actualcontrolleridnumber != null">
        #{actualcontrolleridnumber,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CActualcontrollerExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_ACTUALCONTROLLER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_ACTUALCONTROLLER
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.actualcontrolnumber != null">
        ACTUALCONTROLNUMBER = #{record.actualcontrolnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.actualcontrollertype != null">
        ACTUALCONTROLLERTYPE = #{record.actualcontrollertype,jdbcType=VARCHAR},
      </if>
      <if test="record.actualcontrollername != null">
        ACTUALCONTROLLERNAME = #{record.actualcontrollername,jdbcType=VARCHAR},
      </if>
      <if test="record.actualcontrolleridtype != null">
        ACTUALCONTROLLERIDTYPE = #{record.actualcontrolleridtype,jdbcType=VARCHAR},
      </if>
      <if test="record.actualcontrolleridnumber != null">
        ACTUALCONTROLLERIDNUMBER = #{record.actualcontrolleridnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedate != null">
        UPDATEDATE = #{record.updatedate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_ACTUALCONTROLLER
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      ACTUALCONTROLNUMBER = #{record.actualcontrolnumber,jdbcType=VARCHAR},
      ACTUALCONTROLLERTYPE = #{record.actualcontrollertype,jdbcType=VARCHAR},
      ACTUALCONTROLLERNAME = #{record.actualcontrollername,jdbcType=VARCHAR},
      ACTUALCONTROLLERIDTYPE = #{record.actualcontrolleridtype,jdbcType=VARCHAR},
      ACTUALCONTROLLERIDNUMBER = #{record.actualcontrolleridnumber,jdbcType=VARCHAR},
      UPDATEDATE = #{record.updatedate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CActualcontroller">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="ACTUALCONTROLLERTYPE" jdbcType="VARCHAR" property="actualcontrollertype" />
    <result column="ACTUALCONTROLLERNAME" jdbcType="VARCHAR" property="actualcontrollername" />
    <result column="ACTUALCONTROLLERIDTYPE" jdbcType="VARCHAR" property="actualcontrolleridtype" />
    <result column="ACTUALCONTROLLERIDNUMBER" jdbcType="VARCHAR" property="actualcontrolleridnumber" />
    <result column="UPDATEDATE" jdbcType="VARCHAR" property="updatedate" />
    <result column="ACTUALCONTROLLERNUM" jdbcType="VARCHAR" property="actualcontrollernum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, ACTUALCONTROLLERTYPE, ACTUALCONTROLLERNAME, ACTUALCONTROLLERIDTYPE, ACTUALCONTROLLERIDNUMBER, 
    UPDATEDATE, ACTUALCONTROLLERNUM
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CActualcontrollerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_ACTUALCONTROLLER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CActualcontrollerExample">
    delete from CRT2_C_ACTUALCONTROLLER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CActualcontroller">
    insert into CRT2_C_ACTUALCONTROLLER (REPORTID, ACTUALCONTROLLERTYPE, ACTUALCONTROLLERNAME, 
      ACTUALCONTROLLERIDTYPE, ACTUALCONTROLLERIDNUMBER, 
      UPDATEDATE, ACTUALCONTROLLERNUM)
    values (#{reportid,jdbcType=VARCHAR}, #{actualcontrollertype,jdbcType=VARCHAR}, #{actualcontrollername,jdbcType=VARCHAR}, 
      #{actualcontrolleridtype,jdbcType=VARCHAR}, #{actualcontrolleridnumber,jdbcType=VARCHAR}, 
      #{updatedate,jdbcType=VARCHAR}, #{actualcontrollernum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CActualcontroller">
    insert into CRT2_C_ACTUALCONTROLLER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="actualcontrollertype != null">
        ACTUALCONTROLLERTYPE,
      </if>
      <if test="actualcontrollername != null">
        ACTUALCONTROLLERNAME,
      </if>
      <if test="actualcontrolleridtype != null">
        ACTUALCONTROLLERIDTYPE,
      </if>
      <if test="actualcontrolleridnumber != null">
        ACTUALCONTROLLERIDNUMBER,
      </if>
      <if test="updatedate != null">
        UPDATEDATE,
      </if>
      <if test="actualcontrollernum != null">
        ACTUALCONTROLLERNUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="actualcontrollertype != null">
        #{actualcontrollertype,jdbcType=VARCHAR},
      </if>
      <if test="actualcontrollername != null">
        #{actualcontrollername,jdbcType=VARCHAR},
      </if>
      <if test="actualcontrolleridtype != null">
        #{actualcontrolleridtype,jdbcType=VARCHAR},
      </if>
      <if test="actualcontrolleridnumber != null">
        #{actualcontrolleridnumber,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=VARCHAR},
      </if>
      <if test="actualcontrollernum != null">
        #{actualcontrollernum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CActualcontrollerExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_ACTUALCONTROLLER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_ACTUALCONTROLLER
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.actualcontrollertype != null">
        ACTUALCONTROLLERTYPE = #{record.actualcontrollertype,jdbcType=VARCHAR},
      </if>
      <if test="record.actualcontrollername != null">
        ACTUALCONTROLLERNAME = #{record.actualcontrollername,jdbcType=VARCHAR},
      </if>
      <if test="record.actualcontrolleridtype != null">
        ACTUALCONTROLLERIDTYPE = #{record.actualcontrolleridtype,jdbcType=VARCHAR},
      </if>
      <if test="record.actualcontrolleridnumber != null">
        ACTUALCONTROLLERIDNUMBER = #{record.actualcontrolleridnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedate != null">
        UPDATEDATE = #{record.updatedate,jdbcType=VARCHAR},
      </if>
      <if test="record.actualcontrollernum != null">
        ACTUALCONTROLLERNUM = #{record.actualcontrollernum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_ACTUALCONTROLLER
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      ACTUALCONTROLLERTYPE = #{record.actualcontrollertype,jdbcType=VARCHAR},
      ACTUALCONTROLLERNAME = #{record.actualcontrollername,jdbcType=VARCHAR},
      ACTUALCONTROLLERIDTYPE = #{record.actualcontrolleridtype,jdbcType=VARCHAR},
      ACTUALCONTROLLERIDNUMBER = #{record.actualcontrolleridnumber,jdbcType=VARCHAR},
      UPDATEDATE = #{record.updatedate,jdbcType=VARCHAR},
      ACTUALCONTROLLERNUM = #{record.actualcontrollernum,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>