<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CCreditagreementMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CCreditagreement">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="CREADITAGREEMENTID" jdbcType="VARCHAR" property="creaditagreementid" />
    <result column="MECHANISMTYPE" jdbcType="VARCHAR" property="mechanismtype" />
    <result column="MECHANISMCODE" jdbcType="VARCHAR" property="mechanismcode" />
    <result column="CREADITLINETYPE" jdbcType="VARCHAR" property="creaditlinetype" />
    <result column="QUOTALOOPSIGN" jdbcType="VARCHAR" property="quotaloopsign" />
    <result column="CURRENCY" jdbcType="VARCHAR" property="currency" />
    <result column="CREDITLINE" jdbcType="VARCHAR" property="creditline" />
    <result column="AMOUNTUSED" jdbcType="VARCHAR" property="amountused" />
    <result column="CREDITLIMIT" jdbcType="VARCHAR" property="creditlimit" />
    <result column="CREDITLIMITNUMBER" jdbcType="VARCHAR" property="creditlimitnumber" />
    <result column="EFFECTIVEDATE" jdbcType="VARCHAR" property="effectivedate" />
    <result column="TERMINATIONDATE" jdbcType="VARCHAR" property="terminationdate" />
    <result column="REPORTDATE" jdbcType="VARCHAR" property="reportdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, CREADITAGREEMENTID, MECHANISMTYPE, MECHANISMCODE, CREADITLINETYPE, QUOTALOOPSIGN, 
    CURRENCY, CREDITLINE, AMOUNTUSED, CREDITLIMIT, CREDITLIMITNUMBER, EFFECTIVEDATE, 
    TERMINATIONDATE, REPORTDATE
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CCreditagreementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_CREDITAGREEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CCreditagreementExample">
    delete from CRT2_C_CREDITAGREEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CCreditagreement">
    insert into CRT2_C_CREDITAGREEMENT (REPORTID, CREADITAGREEMENTID, MECHANISMTYPE, 
      MECHANISMCODE, CREADITLINETYPE, QUOTALOOPSIGN, 
      CURRENCY, CREDITLINE, AMOUNTUSED, 
      CREDITLIMIT, CREDITLIMITNUMBER, EFFECTIVEDATE, 
      TERMINATIONDATE, REPORTDATE)
    values (#{reportid,jdbcType=VARCHAR}, #{creaditagreementid,jdbcType=VARCHAR}, #{mechanismtype,jdbcType=VARCHAR}, 
      #{mechanismcode,jdbcType=VARCHAR}, #{creaditlinetype,jdbcType=VARCHAR}, #{quotaloopsign,jdbcType=VARCHAR}, 
      #{currency,jdbcType=VARCHAR}, #{creditline,jdbcType=VARCHAR}, #{amountused,jdbcType=VARCHAR}, 
      #{creditlimit,jdbcType=VARCHAR}, #{creditlimitnumber,jdbcType=VARCHAR}, #{effectivedate,jdbcType=VARCHAR}, 
      #{terminationdate,jdbcType=VARCHAR}, #{reportdate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CCreditagreement">
    insert into CRT2_C_CREDITAGREEMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="creaditagreementid != null">
        CREADITAGREEMENTID,
      </if>
      <if test="mechanismtype != null">
        MECHANISMTYPE,
      </if>
      <if test="mechanismcode != null">
        MECHANISMCODE,
      </if>
      <if test="creaditlinetype != null">
        CREADITLINETYPE,
      </if>
      <if test="quotaloopsign != null">
        QUOTALOOPSIGN,
      </if>
      <if test="currency != null">
        CURRENCY,
      </if>
      <if test="creditline != null">
        CREDITLINE,
      </if>
      <if test="amountused != null">
        AMOUNTUSED,
      </if>
      <if test="creditlimit != null">
        CREDITLIMIT,
      </if>
      <if test="creditlimitnumber != null">
        CREDITLIMITNUMBER,
      </if>
      <if test="effectivedate != null">
        EFFECTIVEDATE,
      </if>
      <if test="terminationdate != null">
        TERMINATIONDATE,
      </if>
      <if test="reportdate != null">
        REPORTDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="creaditagreementid != null">
        #{creaditagreementid,jdbcType=VARCHAR},
      </if>
      <if test="mechanismtype != null">
        #{mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="mechanismcode != null">
        #{mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="creaditlinetype != null">
        #{creaditlinetype,jdbcType=VARCHAR},
      </if>
      <if test="quotaloopsign != null">
        #{quotaloopsign,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="creditline != null">
        #{creditline,jdbcType=VARCHAR},
      </if>
      <if test="amountused != null">
        #{amountused,jdbcType=VARCHAR},
      </if>
      <if test="creditlimit != null">
        #{creditlimit,jdbcType=VARCHAR},
      </if>
      <if test="creditlimitnumber != null">
        #{creditlimitnumber,jdbcType=VARCHAR},
      </if>
      <if test="effectivedate != null">
        #{effectivedate,jdbcType=VARCHAR},
      </if>
      <if test="terminationdate != null">
        #{terminationdate,jdbcType=VARCHAR},
      </if>
      <if test="reportdate != null">
        #{reportdate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CCreditagreementExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_CREDITAGREEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_CREDITAGREEMENT
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.creaditagreementid != null">
        CREADITAGREEMENTID = #{record.creaditagreementid,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismtype != null">
        MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismcode != null">
        MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="record.creaditlinetype != null">
        CREADITLINETYPE = #{record.creaditlinetype,jdbcType=VARCHAR},
      </if>
      <if test="record.quotaloopsign != null">
        QUOTALOOPSIGN = #{record.quotaloopsign,jdbcType=VARCHAR},
      </if>
      <if test="record.currency != null">
        CURRENCY = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.creditline != null">
        CREDITLINE = #{record.creditline,jdbcType=VARCHAR},
      </if>
      <if test="record.amountused != null">
        AMOUNTUSED = #{record.amountused,jdbcType=VARCHAR},
      </if>
      <if test="record.creditlimit != null">
        CREDITLIMIT = #{record.creditlimit,jdbcType=VARCHAR},
      </if>
      <if test="record.creditlimitnumber != null">
        CREDITLIMITNUMBER = #{record.creditlimitnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.effectivedate != null">
        EFFECTIVEDATE = #{record.effectivedate,jdbcType=VARCHAR},
      </if>
      <if test="record.terminationdate != null">
        TERMINATIONDATE = #{record.terminationdate,jdbcType=VARCHAR},
      </if>
      <if test="record.reportdate != null">
        REPORTDATE = #{record.reportdate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_CREDITAGREEMENT
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      CREADITAGREEMENTID = #{record.creaditagreementid,jdbcType=VARCHAR},
      MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      CREADITLINETYPE = #{record.creaditlinetype,jdbcType=VARCHAR},
      QUOTALOOPSIGN = #{record.quotaloopsign,jdbcType=VARCHAR},
      CURRENCY = #{record.currency,jdbcType=VARCHAR},
      CREDITLINE = #{record.creditline,jdbcType=VARCHAR},
      AMOUNTUSED = #{record.amountused,jdbcType=VARCHAR},
      CREDITLIMIT = #{record.creditlimit,jdbcType=VARCHAR},
      CREDITLIMITNUMBER = #{record.creditlimitnumber,jdbcType=VARCHAR},
      EFFECTIVEDATE = #{record.effectivedate,jdbcType=VARCHAR},
      TERMINATIONDATE = #{record.terminationdate,jdbcType=VARCHAR},
      REPORTDATE = #{record.reportdate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CCreditagreement">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="ACYCLICCREDITLINE" jdbcType="VARCHAR" property="acycliccreditline" />
    <result column="USEACYCLICCREDITLINE" jdbcType="VARCHAR" property="useacycliccreditline" />
    <result column="SURPLUSACYCLICCREDITLINE" jdbcType="VARCHAR" property="surplusacycliccreditline" />
    <result column="CIRCULATIONLINE" jdbcType="VARCHAR" property="circulationline" />
    <result column="USECIRCULATIONLINE" jdbcType="VARCHAR" property="usecirculationline" />
    <result column="SURPLUSCIRCULATIONLINE" jdbcType="VARCHAR" property="surpluscirculationline" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, ACYCLICCREDITLINE, USEACYCLICCREDITLINE, SURPLUSACYCLICCREDITLINE, CIRCULATIONLINE, 
    USECIRCULATIONLINE, SURPLUSCIRCULATIONLINE
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CCreditagreementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_CREDITAGREEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CCreditagreementExample">
    delete from CRT2_C_CREDITAGREEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CCreditagreement">
    insert into CRT2_C_CREDITAGREEMENT (REPORTID, ACYCLICCREDITLINE, USEACYCLICCREDITLINE, 
      SURPLUSACYCLICCREDITLINE, CIRCULATIONLINE, 
      USECIRCULATIONLINE, SURPLUSCIRCULATIONLINE
      )
    values (#{reportid,jdbcType=VARCHAR}, #{acycliccreditline,jdbcType=VARCHAR}, #{useacycliccreditline,jdbcType=VARCHAR}, 
      #{surplusacycliccreditline,jdbcType=VARCHAR}, #{circulationline,jdbcType=VARCHAR}, 
      #{usecirculationline,jdbcType=VARCHAR}, #{surpluscirculationline,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CCreditagreement">
    insert into CRT2_C_CREDITAGREEMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="acycliccreditline != null">
        ACYCLICCREDITLINE,
      </if>
      <if test="useacycliccreditline != null">
        USEACYCLICCREDITLINE,
      </if>
      <if test="surplusacycliccreditline != null">
        SURPLUSACYCLICCREDITLINE,
      </if>
      <if test="circulationline != null">
        CIRCULATIONLINE,
      </if>
      <if test="usecirculationline != null">
        USECIRCULATIONLINE,
      </if>
      <if test="surpluscirculationline != null">
        SURPLUSCIRCULATIONLINE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="acycliccreditline != null">
        #{acycliccreditline,jdbcType=VARCHAR},
      </if>
      <if test="useacycliccreditline != null">
        #{useacycliccreditline,jdbcType=VARCHAR},
      </if>
      <if test="surplusacycliccreditline != null">
        #{surplusacycliccreditline,jdbcType=VARCHAR},
      </if>
      <if test="circulationline != null">
        #{circulationline,jdbcType=VARCHAR},
      </if>
      <if test="usecirculationline != null">
        #{usecirculationline,jdbcType=VARCHAR},
      </if>
      <if test="surpluscirculationline != null">
        #{surpluscirculationline,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CCreditagreementExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_CREDITAGREEMENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_CREDITAGREEMENT
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.acycliccreditline != null">
        ACYCLICCREDITLINE = #{record.acycliccreditline,jdbcType=VARCHAR},
      </if>
      <if test="record.useacycliccreditline != null">
        USEACYCLICCREDITLINE = #{record.useacycliccreditline,jdbcType=VARCHAR},
      </if>
      <if test="record.surplusacycliccreditline != null">
        SURPLUSACYCLICCREDITLINE = #{record.surplusacycliccreditline,jdbcType=VARCHAR},
      </if>
      <if test="record.circulationline != null">
        CIRCULATIONLINE = #{record.circulationline,jdbcType=VARCHAR},
      </if>
      <if test="record.usecirculationline != null">
        USECIRCULATIONLINE = #{record.usecirculationline,jdbcType=VARCHAR},
      </if>
      <if test="record.surpluscirculationline != null">
        SURPLUSCIRCULATIONLINE = #{record.surpluscirculationline,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_CREDITAGREEMENT
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      ACYCLICCREDITLINE = #{record.acycliccreditline,jdbcType=VARCHAR},
      USEACYCLICCREDITLINE = #{record.useacycliccreditline,jdbcType=VARCHAR},
      SURPLUSACYCLICCREDITLINE = #{record.surplusacycliccreditline,jdbcType=VARCHAR},
      CIRCULATIONLINE = #{record.circulationline,jdbcType=VARCHAR},
      USECIRCULATIONLINE = #{record.usecirculationline,jdbcType=VARCHAR},
      SURPLUSCIRCULATIONLINE = #{record.surpluscirculationline,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>