<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CInvestorMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CInvestor">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="REGISTERDESC" jdbcType="VARCHAR" property="registerdesc" />
    <result column="MAINCONTRIBUTOR" jdbcType="VARCHAR" property="maincontributor" />
    <result column="CONTRIBUTORTYPE" jdbcType="VARCHAR" property="contributortype" />
    <result column="CATEGORYINVESTOR" jdbcType="VARCHAR" property="categoryinvestor" />
    <result column="CONTRIBUTORNAME" jdbcType="VARCHAR" property="contributorname" />
    <result column="CONTRIBUTORIDTYPE" jdbcType="VARCHAR" property="contributoridtype" />
    <result column="CONTRIBUTORID" jdbcType="VARCHAR" property="contributorid" />
    <result column="INVESTMENTRATE" jdbcType="VARCHAR" property="investmentrate" />
    <result column="UPDATEDATE" jdbcType="VARCHAR" property="updatedate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, REGISTERDESC, MAINCONTRIBUTOR, CONTRIBUTORTYPE, CATEGORYINVESTOR, CONTRIBUTORNAME, 
    CONTRIBUTORIDTYPE, CONTRIBUTORID, INVESTMENTRATE, UPDATEDATE
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CInvestorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_INVESTOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CInvestorExample">
    delete from CRT2_C_INVESTOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CInvestor">
    insert into CRT2_C_INVESTOR (REPORTID, REGISTERDESC, MAINCONTRIBUTOR, 
      CONTRIBUTORTYPE, CATEGORYINVESTOR, CONTRIBUTORNAME, 
      CONTRIBUTORIDTYPE, CONTRIBUTORID, INVESTMENTRATE, 
      UPDATEDATE)
    values (#{reportid,jdbcType=VARCHAR}, #{registerdesc,jdbcType=VARCHAR}, #{maincontributor,jdbcType=VARCHAR}, 
      #{contributortype,jdbcType=VARCHAR}, #{categoryinvestor,jdbcType=VARCHAR}, #{contributorname,jdbcType=VARCHAR}, 
      #{contributoridtype,jdbcType=VARCHAR}, #{contributorid,jdbcType=VARCHAR}, #{investmentrate,jdbcType=VARCHAR}, 
      #{updatedate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CInvestor">
    insert into CRT2_C_INVESTOR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="registerdesc != null">
        REGISTERDESC,
      </if>
      <if test="maincontributor != null">
        MAINCONTRIBUTOR,
      </if>
      <if test="contributortype != null">
        CONTRIBUTORTYPE,
      </if>
      <if test="categoryinvestor != null">
        CATEGORYINVESTOR,
      </if>
      <if test="contributorname != null">
        CONTRIBUTORNAME,
      </if>
      <if test="contributoridtype != null">
        CONTRIBUTORIDTYPE,
      </if>
      <if test="contributorid != null">
        CONTRIBUTORID,
      </if>
      <if test="investmentrate != null">
        INVESTMENTRATE,
      </if>
      <if test="updatedate != null">
        UPDATEDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="registerdesc != null">
        #{registerdesc,jdbcType=VARCHAR},
      </if>
      <if test="maincontributor != null">
        #{maincontributor,jdbcType=VARCHAR},
      </if>
      <if test="contributortype != null">
        #{contributortype,jdbcType=VARCHAR},
      </if>
      <if test="categoryinvestor != null">
        #{categoryinvestor,jdbcType=VARCHAR},
      </if>
      <if test="contributorname != null">
        #{contributorname,jdbcType=VARCHAR},
      </if>
      <if test="contributoridtype != null">
        #{contributoridtype,jdbcType=VARCHAR},
      </if>
      <if test="contributorid != null">
        #{contributorid,jdbcType=VARCHAR},
      </if>
      <if test="investmentrate != null">
        #{investmentrate,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CInvestorExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_INVESTOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_INVESTOR
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.registerdesc != null">
        REGISTERDESC = #{record.registerdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.maincontributor != null">
        MAINCONTRIBUTOR = #{record.maincontributor,jdbcType=VARCHAR},
      </if>
      <if test="record.contributortype != null">
        CONTRIBUTORTYPE = #{record.contributortype,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryinvestor != null">
        CATEGORYINVESTOR = #{record.categoryinvestor,jdbcType=VARCHAR},
      </if>
      <if test="record.contributorname != null">
        CONTRIBUTORNAME = #{record.contributorname,jdbcType=VARCHAR},
      </if>
      <if test="record.contributoridtype != null">
        CONTRIBUTORIDTYPE = #{record.contributoridtype,jdbcType=VARCHAR},
      </if>
      <if test="record.contributorid != null">
        CONTRIBUTORID = #{record.contributorid,jdbcType=VARCHAR},
      </if>
      <if test="record.investmentrate != null">
        INVESTMENTRATE = #{record.investmentrate,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedate != null">
        UPDATEDATE = #{record.updatedate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_INVESTOR
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      REGISTERDESC = #{record.registerdesc,jdbcType=VARCHAR},
      MAINCONTRIBUTOR = #{record.maincontributor,jdbcType=VARCHAR},
      CONTRIBUTORTYPE = #{record.contributortype,jdbcType=VARCHAR},
      CATEGORYINVESTOR = #{record.categoryinvestor,jdbcType=VARCHAR},
      CONTRIBUTORNAME = #{record.contributorname,jdbcType=VARCHAR},
      CONTRIBUTORIDTYPE = #{record.contributoridtype,jdbcType=VARCHAR},
      CONTRIBUTORID = #{record.contributorid,jdbcType=VARCHAR},
      INVESTMENTRATE = #{record.investmentrate,jdbcType=VARCHAR},
      UPDATEDATE = #{record.updatedate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CInvestor">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="CONTRIBUTORTYPE" jdbcType="VARCHAR" property="contributortype" />
    <result column="CATEGORYINVESTOR" jdbcType="VARCHAR" property="categoryinvestor" />
    <result column="CONTRIBUTORNAME" jdbcType="VARCHAR" property="contributorname" />
    <result column="CONTRIBUTORIDTYPE" jdbcType="VARCHAR" property="contributoridtype" />
    <result column="CONTRIBUTORID" jdbcType="VARCHAR" property="contributorid" />
    <result column="INVESTMENTRATE" jdbcType="VARCHAR" property="investmentrate" />
    <result column="UPDATEDATE" jdbcType="VARCHAR" property="updatedate" />
    <result column="CONTRIBUTORNUM" jdbcType="VARCHAR" property="contributornum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, CONTRIBUTORTYPE, CATEGORYINVESTOR, CONTRIBUTORNAME, CONTRIBUTORIDTYPE, 
    CONTRIBUTORID, INVESTMENTRATE, UPDATEDATE, CONTRIBUTORNUM
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CInvestorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_INVESTOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CInvestorExample">
    delete from CRT2_C_INVESTOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CInvestor">
    insert into CRT2_C_INVESTOR (REPORTID, CONTRIBUTORTYPE, CATEGORYINVESTOR, 
      CONTRIBUTORNAME, CONTRIBUTORIDTYPE, CONTRIBUTORID, 
      INVESTMENTRATE, UPDATEDATE, CONTRIBUTORNUM
      )
    values (#{reportid,jdbcType=VARCHAR}, #{contributortype,jdbcType=VARCHAR}, #{categoryinvestor,jdbcType=VARCHAR}, 
      #{contributorname,jdbcType=VARCHAR}, #{contributoridtype,jdbcType=VARCHAR}, #{contributorid,jdbcType=VARCHAR}, 
      #{investmentrate,jdbcType=VARCHAR}, #{updatedate,jdbcType=VARCHAR}, #{contributornum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CInvestor">
    insert into CRT2_C_INVESTOR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="contributortype != null">
        CONTRIBUTORTYPE,
      </if>
      <if test="categoryinvestor != null">
        CATEGORYINVESTOR,
      </if>
      <if test="contributorname != null">
        CONTRIBUTORNAME,
      </if>
      <if test="contributoridtype != null">
        CONTRIBUTORIDTYPE,
      </if>
      <if test="contributorid != null">
        CONTRIBUTORID,
      </if>
      <if test="investmentrate != null">
        INVESTMENTRATE,
      </if>
      <if test="updatedate != null">
        UPDATEDATE,
      </if>
      <if test="contributornum != null">
        CONTRIBUTORNUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="contributortype != null">
        #{contributortype,jdbcType=VARCHAR},
      </if>
      <if test="categoryinvestor != null">
        #{categoryinvestor,jdbcType=VARCHAR},
      </if>
      <if test="contributorname != null">
        #{contributorname,jdbcType=VARCHAR},
      </if>
      <if test="contributoridtype != null">
        #{contributoridtype,jdbcType=VARCHAR},
      </if>
      <if test="contributorid != null">
        #{contributorid,jdbcType=VARCHAR},
      </if>
      <if test="investmentrate != null">
        #{investmentrate,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=VARCHAR},
      </if>
      <if test="contributornum != null">
        #{contributornum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CInvestorExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_INVESTOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_INVESTOR
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.contributortype != null">
        CONTRIBUTORTYPE = #{record.contributortype,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryinvestor != null">
        CATEGORYINVESTOR = #{record.categoryinvestor,jdbcType=VARCHAR},
      </if>
      <if test="record.contributorname != null">
        CONTRIBUTORNAME = #{record.contributorname,jdbcType=VARCHAR},
      </if>
      <if test="record.contributoridtype != null">
        CONTRIBUTORIDTYPE = #{record.contributoridtype,jdbcType=VARCHAR},
      </if>
      <if test="record.contributorid != null">
        CONTRIBUTORID = #{record.contributorid,jdbcType=VARCHAR},
      </if>
      <if test="record.investmentrate != null">
        INVESTMENTRATE = #{record.investmentrate,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedate != null">
        UPDATEDATE = #{record.updatedate,jdbcType=VARCHAR},
      </if>
      <if test="record.contributornum != null">
        CONTRIBUTORNUM = #{record.contributornum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_INVESTOR
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      CONTRIBUTORTYPE = #{record.contributortype,jdbcType=VARCHAR},
      CATEGORYINVESTOR = #{record.categoryinvestor,jdbcType=VARCHAR},
      CONTRIBUTORNAME = #{record.contributorname,jdbcType=VARCHAR},
      CONTRIBUTORIDTYPE = #{record.contributoridtype,jdbcType=VARCHAR},
      CONTRIBUTORID = #{record.contributorid,jdbcType=VARCHAR},
      INVESTMENTRATE = #{record.investmentrate,jdbcType=VARCHAR},
      UPDATEDATE = #{record.updatedate,jdbcType=VARCHAR},
      CONTRIBUTORNUM = #{record.contributornum,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>