<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CInstincexp13Mapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CInstincexp13">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="FINANCEID" jdbcType="VARCHAR" property="financeid" />
    <result column="MECHANISMTYPE" jdbcType="VARCHAR" property="mechanismtype" />
    <result column="MECHANISMCODE" jdbcType="VARCHAR" property="mechanismcode" />
    <result column="CASHINFODATE" jdbcType="VARCHAR" property="cashinfodate" />
    <result column="CASHINFOTYPE" jdbcType="VARCHAR" property="cashinfotype" />
    <result column="CASHINFOSUBTYPE" jdbcType="VARCHAR" property="cashinfosubtype" />
    <result column="EG10BJ01" jdbcType="VARCHAR" property="eg10bj01" />
    <result column="EG10BJ02" jdbcType="VARCHAR" property="eg10bj02" />
    <result column="EG10BJ03" jdbcType="VARCHAR" property="eg10bj03" />
    <result column="EG10BJ04" jdbcType="VARCHAR" property="eg10bj04" />
    <result column="EG10BJ05" jdbcType="VARCHAR" property="eg10bj05" />
    <result column="EG10BJ06" jdbcType="VARCHAR" property="eg10bj06" />
    <result column="EG10BJ07" jdbcType="VARCHAR" property="eg10bj07" />
    <result column="EG10BJ08" jdbcType="VARCHAR" property="eg10bj08" />
    <result column="EG10BJ09" jdbcType="VARCHAR" property="eg10bj09" />
    <result column="EG10BJ10" jdbcType="VARCHAR" property="eg10bj10" />
    <result column="EG10BJ11" jdbcType="VARCHAR" property="eg10bj11" />
    <result column="EG10BJ12" jdbcType="VARCHAR" property="eg10bj12" />
    <result column="EG10BJ13" jdbcType="VARCHAR" property="eg10bj13" />
    <result column="EG10BJ14" jdbcType="VARCHAR" property="eg10bj14" />
    <result column="EG10BJ15" jdbcType="VARCHAR" property="eg10bj15" />
    <result column="EG10BJ16" jdbcType="VARCHAR" property="eg10bj16" />
    <result column="EG10BJ17" jdbcType="VARCHAR" property="eg10bj17" />
    <result column="EG10BJ18" jdbcType="VARCHAR" property="eg10bj18" />
    <result column="EG10BJ19" jdbcType="VARCHAR" property="eg10bj19" />
    <result column="EG10BJ20" jdbcType="VARCHAR" property="eg10bj20" />
    <result column="EG10BJ21" jdbcType="VARCHAR" property="eg10bj21" />
    <result column="EG10BJ22" jdbcType="VARCHAR" property="eg10bj22" />
    <result column="EG10BJ23" jdbcType="VARCHAR" property="eg10bj23" />
    <result column="EG10BJ24" jdbcType="VARCHAR" property="eg10bj24" />
    <result column="EG10BJ25" jdbcType="VARCHAR" property="eg10bj25" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, FINANCEID, MECHANISMTYPE, MECHANISMCODE, CASHINFODATE, CASHINFOTYPE, CASHINFOSUBTYPE, 
    EG10BJ01, EG10BJ02, EG10BJ03, EG10BJ04, EG10BJ05, EG10BJ06, EG10BJ07, EG10BJ08, EG10BJ09, 
    EG10BJ10, EG10BJ11, EG10BJ12, EG10BJ13, EG10BJ14, EG10BJ15, EG10BJ16, EG10BJ17, EG10BJ18, 
    EG10BJ19, EG10BJ20, EG10BJ21, EG10BJ22, EG10BJ23, EG10BJ24, EG10BJ25
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CInstincexp13Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_INSTINCEXP13
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CInstincexp13Example">
    delete from CRT2_C_INSTINCEXP13
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CInstincexp13">
    insert into CRT2_C_INSTINCEXP13 (REPORTID, FINANCEID, MECHANISMTYPE, 
      MECHANISMCODE, CASHINFODATE, CASHINFOTYPE, 
      CASHINFOSUBTYPE, EG10BJ01, EG10BJ02, 
      EG10BJ03, EG10BJ04, EG10BJ05, 
      EG10BJ06, EG10BJ07, EG10BJ08, 
      EG10BJ09, EG10BJ10, EG10BJ11, 
      EG10BJ12, EG10BJ13, EG10BJ14, 
      EG10BJ15, EG10BJ16, EG10BJ17, 
      EG10BJ18, EG10BJ19, EG10BJ20, 
      EG10BJ21, EG10BJ22, EG10BJ23, 
      EG10BJ24, EG10BJ25)
    values (#{reportid,jdbcType=VARCHAR}, #{financeid,jdbcType=VARCHAR}, #{mechanismtype,jdbcType=VARCHAR}, 
      #{mechanismcode,jdbcType=VARCHAR}, #{cashinfodate,jdbcType=VARCHAR}, #{cashinfotype,jdbcType=VARCHAR}, 
      #{cashinfosubtype,jdbcType=VARCHAR}, #{eg10bj01,jdbcType=VARCHAR}, #{eg10bj02,jdbcType=VARCHAR}, 
      #{eg10bj03,jdbcType=VARCHAR}, #{eg10bj04,jdbcType=VARCHAR}, #{eg10bj05,jdbcType=VARCHAR}, 
      #{eg10bj06,jdbcType=VARCHAR}, #{eg10bj07,jdbcType=VARCHAR}, #{eg10bj08,jdbcType=VARCHAR}, 
      #{eg10bj09,jdbcType=VARCHAR}, #{eg10bj10,jdbcType=VARCHAR}, #{eg10bj11,jdbcType=VARCHAR}, 
      #{eg10bj12,jdbcType=VARCHAR}, #{eg10bj13,jdbcType=VARCHAR}, #{eg10bj14,jdbcType=VARCHAR}, 
      #{eg10bj15,jdbcType=VARCHAR}, #{eg10bj16,jdbcType=VARCHAR}, #{eg10bj17,jdbcType=VARCHAR}, 
      #{eg10bj18,jdbcType=VARCHAR}, #{eg10bj19,jdbcType=VARCHAR}, #{eg10bj20,jdbcType=VARCHAR}, 
      #{eg10bj21,jdbcType=VARCHAR}, #{eg10bj22,jdbcType=VARCHAR}, #{eg10bj23,jdbcType=VARCHAR}, 
      #{eg10bj24,jdbcType=VARCHAR}, #{eg10bj25,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CInstincexp13">
    insert into CRT2_C_INSTINCEXP13
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="financeid != null">
        FINANCEID,
      </if>
      <if test="mechanismtype != null">
        MECHANISMTYPE,
      </if>
      <if test="mechanismcode != null">
        MECHANISMCODE,
      </if>
      <if test="cashinfodate != null">
        CASHINFODATE,
      </if>
      <if test="cashinfotype != null">
        CASHINFOTYPE,
      </if>
      <if test="cashinfosubtype != null">
        CASHINFOSUBTYPE,
      </if>
      <if test="eg10bj01 != null">
        EG10BJ01,
      </if>
      <if test="eg10bj02 != null">
        EG10BJ02,
      </if>
      <if test="eg10bj03 != null">
        EG10BJ03,
      </if>
      <if test="eg10bj04 != null">
        EG10BJ04,
      </if>
      <if test="eg10bj05 != null">
        EG10BJ05,
      </if>
      <if test="eg10bj06 != null">
        EG10BJ06,
      </if>
      <if test="eg10bj07 != null">
        EG10BJ07,
      </if>
      <if test="eg10bj08 != null">
        EG10BJ08,
      </if>
      <if test="eg10bj09 != null">
        EG10BJ09,
      </if>
      <if test="eg10bj10 != null">
        EG10BJ10,
      </if>
      <if test="eg10bj11 != null">
        EG10BJ11,
      </if>
      <if test="eg10bj12 != null">
        EG10BJ12,
      </if>
      <if test="eg10bj13 != null">
        EG10BJ13,
      </if>
      <if test="eg10bj14 != null">
        EG10BJ14,
      </if>
      <if test="eg10bj15 != null">
        EG10BJ15,
      </if>
      <if test="eg10bj16 != null">
        EG10BJ16,
      </if>
      <if test="eg10bj17 != null">
        EG10BJ17,
      </if>
      <if test="eg10bj18 != null">
        EG10BJ18,
      </if>
      <if test="eg10bj19 != null">
        EG10BJ19,
      </if>
      <if test="eg10bj20 != null">
        EG10BJ20,
      </if>
      <if test="eg10bj21 != null">
        EG10BJ21,
      </if>
      <if test="eg10bj22 != null">
        EG10BJ22,
      </if>
      <if test="eg10bj23 != null">
        EG10BJ23,
      </if>
      <if test="eg10bj24 != null">
        EG10BJ24,
      </if>
      <if test="eg10bj25 != null">
        EG10BJ25,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="financeid != null">
        #{financeid,jdbcType=VARCHAR},
      </if>
      <if test="mechanismtype != null">
        #{mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="mechanismcode != null">
        #{mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="cashinfodate != null">
        #{cashinfodate,jdbcType=VARCHAR},
      </if>
      <if test="cashinfotype != null">
        #{cashinfotype,jdbcType=VARCHAR},
      </if>
      <if test="cashinfosubtype != null">
        #{cashinfosubtype,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj01 != null">
        #{eg10bj01,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj02 != null">
        #{eg10bj02,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj03 != null">
        #{eg10bj03,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj04 != null">
        #{eg10bj04,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj05 != null">
        #{eg10bj05,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj06 != null">
        #{eg10bj06,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj07 != null">
        #{eg10bj07,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj08 != null">
        #{eg10bj08,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj09 != null">
        #{eg10bj09,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj10 != null">
        #{eg10bj10,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj11 != null">
        #{eg10bj11,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj12 != null">
        #{eg10bj12,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj13 != null">
        #{eg10bj13,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj14 != null">
        #{eg10bj14,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj15 != null">
        #{eg10bj15,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj16 != null">
        #{eg10bj16,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj17 != null">
        #{eg10bj17,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj18 != null">
        #{eg10bj18,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj19 != null">
        #{eg10bj19,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj20 != null">
        #{eg10bj20,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj21 != null">
        #{eg10bj21,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj22 != null">
        #{eg10bj22,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj23 != null">
        #{eg10bj23,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj24 != null">
        #{eg10bj24,jdbcType=VARCHAR},
      </if>
      <if test="eg10bj25 != null">
        #{eg10bj25,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CInstincexp13Example" resultType="java.lang.Long">
    select count(*) from CRT2_C_INSTINCEXP13
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_INSTINCEXP13
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.financeid != null">
        FINANCEID = #{record.financeid,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismtype != null">
        MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismcode != null">
        MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="record.cashinfodate != null">
        CASHINFODATE = #{record.cashinfodate,jdbcType=VARCHAR},
      </if>
      <if test="record.cashinfotype != null">
        CASHINFOTYPE = #{record.cashinfotype,jdbcType=VARCHAR},
      </if>
      <if test="record.cashinfosubtype != null">
        CASHINFOSUBTYPE = #{record.cashinfosubtype,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj01 != null">
        EG10BJ01 = #{record.eg10bj01,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj02 != null">
        EG10BJ02 = #{record.eg10bj02,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj03 != null">
        EG10BJ03 = #{record.eg10bj03,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj04 != null">
        EG10BJ04 = #{record.eg10bj04,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj05 != null">
        EG10BJ05 = #{record.eg10bj05,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj06 != null">
        EG10BJ06 = #{record.eg10bj06,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj07 != null">
        EG10BJ07 = #{record.eg10bj07,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj08 != null">
        EG10BJ08 = #{record.eg10bj08,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj09 != null">
        EG10BJ09 = #{record.eg10bj09,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj10 != null">
        EG10BJ10 = #{record.eg10bj10,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj11 != null">
        EG10BJ11 = #{record.eg10bj11,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj12 != null">
        EG10BJ12 = #{record.eg10bj12,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj13 != null">
        EG10BJ13 = #{record.eg10bj13,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj14 != null">
        EG10BJ14 = #{record.eg10bj14,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj15 != null">
        EG10BJ15 = #{record.eg10bj15,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj16 != null">
        EG10BJ16 = #{record.eg10bj16,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj17 != null">
        EG10BJ17 = #{record.eg10bj17,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj18 != null">
        EG10BJ18 = #{record.eg10bj18,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj19 != null">
        EG10BJ19 = #{record.eg10bj19,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj20 != null">
        EG10BJ20 = #{record.eg10bj20,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj21 != null">
        EG10BJ21 = #{record.eg10bj21,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj22 != null">
        EG10BJ22 = #{record.eg10bj22,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj23 != null">
        EG10BJ23 = #{record.eg10bj23,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj24 != null">
        EG10BJ24 = #{record.eg10bj24,jdbcType=VARCHAR},
      </if>
      <if test="record.eg10bj25 != null">
        EG10BJ25 = #{record.eg10bj25,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_INSTINCEXP13
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      FINANCEID = #{record.financeid,jdbcType=VARCHAR},
      MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      CASHINFODATE = #{record.cashinfodate,jdbcType=VARCHAR},
      CASHINFOTYPE = #{record.cashinfotype,jdbcType=VARCHAR},
      CASHINFOSUBTYPE = #{record.cashinfosubtype,jdbcType=VARCHAR},
      EG10BJ01 = #{record.eg10bj01,jdbcType=VARCHAR},
      EG10BJ02 = #{record.eg10bj02,jdbcType=VARCHAR},
      EG10BJ03 = #{record.eg10bj03,jdbcType=VARCHAR},
      EG10BJ04 = #{record.eg10bj04,jdbcType=VARCHAR},
      EG10BJ05 = #{record.eg10bj05,jdbcType=VARCHAR},
      EG10BJ06 = #{record.eg10bj06,jdbcType=VARCHAR},
      EG10BJ07 = #{record.eg10bj07,jdbcType=VARCHAR},
      EG10BJ08 = #{record.eg10bj08,jdbcType=VARCHAR},
      EG10BJ09 = #{record.eg10bj09,jdbcType=VARCHAR},
      EG10BJ10 = #{record.eg10bj10,jdbcType=VARCHAR},
      EG10BJ11 = #{record.eg10bj11,jdbcType=VARCHAR},
      EG10BJ12 = #{record.eg10bj12,jdbcType=VARCHAR},
      EG10BJ13 = #{record.eg10bj13,jdbcType=VARCHAR},
      EG10BJ14 = #{record.eg10bj14,jdbcType=VARCHAR},
      EG10BJ15 = #{record.eg10bj15,jdbcType=VARCHAR},
      EG10BJ16 = #{record.eg10bj16,jdbcType=VARCHAR},
      EG10BJ17 = #{record.eg10bj17,jdbcType=VARCHAR},
      EG10BJ18 = #{record.eg10bj18,jdbcType=VARCHAR},
      EG10BJ19 = #{record.eg10bj19,jdbcType=VARCHAR},
      EG10BJ20 = #{record.eg10bj20,jdbcType=VARCHAR},
      EG10BJ21 = #{record.eg10bj21,jdbcType=VARCHAR},
      EG10BJ22 = #{record.eg10bj22,jdbcType=VARCHAR},
      EG10BJ23 = #{record.eg10bj23,jdbcType=VARCHAR},
      EG10BJ24 = #{record.eg10bj24,jdbcType=VARCHAR},
      EG10BJ25 = #{record.eg10bj25,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>