<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CTaxinfoMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CTaxinfo">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="TAXARREARSID" jdbcType="VARCHAR" property="taxarrearsid" />
    <result column="TAXBUREAU" jdbcType="VARCHAR" property="taxbureau" />
    <result column="OWEDTAXAMOUNT" jdbcType="VARCHAR" property="owedtaxamount" />
    <result column="OWEDTAXDATE" jdbcType="VARCHAR" property="owedtaxdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, TAXARREARSID, TAXBUREAU, OWEDTAXAMOUNT, OWEDTAXDATE
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CTaxinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_TAXINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CTaxinfoExample">
    delete from CRT2_C_TAXINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CTaxinfo">
    insert into CRT2_C_TAXINFO (REPORTID, TAXARREARSID, TAXBUREAU, 
      OWEDTAXAMOUNT, OWEDTAXDATE)
    values (#{reportid,jdbcType=VARCHAR}, #{taxarrearsid,jdbcType=VARCHAR}, #{taxbureau,jdbcType=VARCHAR}, 
      #{owedtaxamount,jdbcType=VARCHAR}, #{owedtaxdate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CTaxinfo">
    insert into CRT2_C_TAXINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="taxarrearsid != null">
        TAXARREARSID,
      </if>
      <if test="taxbureau != null">
        TAXBUREAU,
      </if>
      <if test="owedtaxamount != null">
        OWEDTAXAMOUNT,
      </if>
      <if test="owedtaxdate != null">
        OWEDTAXDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="taxarrearsid != null">
        #{taxarrearsid,jdbcType=VARCHAR},
      </if>
      <if test="taxbureau != null">
        #{taxbureau,jdbcType=VARCHAR},
      </if>
      <if test="owedtaxamount != null">
        #{owedtaxamount,jdbcType=VARCHAR},
      </if>
      <if test="owedtaxdate != null">
        #{owedtaxdate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CTaxinfoExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_TAXINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_TAXINFO
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.taxarrearsid != null">
        TAXARREARSID = #{record.taxarrearsid,jdbcType=VARCHAR},
      </if>
      <if test="record.taxbureau != null">
        TAXBUREAU = #{record.taxbureau,jdbcType=VARCHAR},
      </if>
      <if test="record.owedtaxamount != null">
        OWEDTAXAMOUNT = #{record.owedtaxamount,jdbcType=VARCHAR},
      </if>
      <if test="record.owedtaxdate != null">
        OWEDTAXDATE = #{record.owedtaxdate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_TAXINFO
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      TAXARREARSID = #{record.taxarrearsid,jdbcType=VARCHAR},
      TAXBUREAU = #{record.taxbureau,jdbcType=VARCHAR},
      OWEDTAXAMOUNT = #{record.owedtaxamount,jdbcType=VARCHAR},
      OWEDTAXDATE = #{record.owedtaxdate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CTaxinfo">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="TAXARREARSID" jdbcType="VARCHAR" property="taxarrearsid" />
    <result column="TAXBUREAU" jdbcType="VARCHAR" property="taxbureau" />
    <result column="OWEDTAXAMOUNT" jdbcType="VARCHAR" property="owedtaxamount" />
    <result column="OWEDTAXDATE" jdbcType="VARCHAR" property="owedtaxdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, TAXARREARSID, TAXBUREAU, OWEDTAXAMOUNT, OWEDTAXDATE
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CTaxinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_TAXINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CTaxinfoExample">
    delete from CRT2_C_TAXINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CTaxinfo">
    insert into CRT2_C_TAXINFO (REPORTID, TAXARREARSID, TAXBUREAU, 
      OWEDTAXAMOUNT, OWEDTAXDATE)
    values (#{reportid,jdbcType=VARCHAR}, #{taxarrearsid,jdbcType=VARCHAR}, #{taxbureau,jdbcType=VARCHAR}, 
      #{owedtaxamount,jdbcType=VARCHAR}, #{owedtaxdate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CTaxinfo">
    insert into CRT2_C_TAXINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="taxarrearsid != null">
        TAXARREARSID,
      </if>
      <if test="taxbureau != null">
        TAXBUREAU,
      </if>
      <if test="owedtaxamount != null">
        OWEDTAXAMOUNT,
      </if>
      <if test="owedtaxdate != null">
        OWEDTAXDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="taxarrearsid != null">
        #{taxarrearsid,jdbcType=VARCHAR},
      </if>
      <if test="taxbureau != null">
        #{taxbureau,jdbcType=VARCHAR},
      </if>
      <if test="owedtaxamount != null">
        #{owedtaxamount,jdbcType=VARCHAR},
      </if>
      <if test="owedtaxdate != null">
        #{owedtaxdate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CTaxinfoExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_TAXINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_TAXINFO
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.taxarrearsid != null">
        TAXARREARSID = #{record.taxarrearsid,jdbcType=VARCHAR},
      </if>
      <if test="record.taxbureau != null">
        TAXBUREAU = #{record.taxbureau,jdbcType=VARCHAR},
      </if>
      <if test="record.owedtaxamount != null">
        OWEDTAXAMOUNT = #{record.owedtaxamount,jdbcType=VARCHAR},
      </if>
      <if test="record.owedtaxdate != null">
        OWEDTAXDATE = #{record.owedtaxdate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_TAXINFO
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      TAXARREARSID = #{record.taxarrearsid,jdbcType=VARCHAR},
      TAXBUREAU = #{record.taxbureau,jdbcType=VARCHAR},
      OWEDTAXAMOUNT = #{record.owedtaxamount,jdbcType=VARCHAR},
      OWEDTAXDATE = #{record.owedtaxdate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>