<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CInstblesheet13Mapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CInstblesheet13">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="FINANCEID" jdbcType="VARCHAR" property="financeid" />
    <result column="MECHANISMTYPE" jdbcType="VARCHAR" property="mechanismtype" />
    <result column="MECHANISMCODE" jdbcType="VARCHAR" property="mechanismcode" />
    <result column="CASHINFODATE" jdbcType="VARCHAR" property="cashinfodate" />
    <result column="CASHINFOTYPE" jdbcType="VARCHAR" property="cashinfotype" />
    <result column="CASHINFOSUBTYPE" jdbcType="VARCHAR" property="cashinfosubtype" />
    <result column="EG08BJ01" jdbcType="VARCHAR" property="eg08bj01" />
    <result column="EG08BJ02" jdbcType="VARCHAR" property="eg08bj02" />
    <result column="EG08BJ03" jdbcType="VARCHAR" property="eg08bj03" />
    <result column="EG08BJ04" jdbcType="VARCHAR" property="eg08bj04" />
    <result column="EG08BJ05" jdbcType="VARCHAR" property="eg08bj05" />
    <result column="EG08BJ06" jdbcType="VARCHAR" property="eg08bj06" />
    <result column="EG08BJ07" jdbcType="VARCHAR" property="eg08bj07" />
    <result column="EG08BJ08" jdbcType="VARCHAR" property="eg08bj08" />
    <result column="EG08BJ09" jdbcType="VARCHAR" property="eg08bj09" />
    <result column="EG08BJ10" jdbcType="VARCHAR" property="eg08bj10" />
    <result column="EG08BJ11" jdbcType="VARCHAR" property="eg08bj11" />
    <result column="EG08BJ12" jdbcType="VARCHAR" property="eg08bj12" />
    <result column="EG08BJ13" jdbcType="VARCHAR" property="eg08bj13" />
    <result column="EG08BJ14" jdbcType="VARCHAR" property="eg08bj14" />
    <result column="EG08BJ15" jdbcType="VARCHAR" property="eg08bj15" />
    <result column="EG08BJ16" jdbcType="VARCHAR" property="eg08bj16" />
    <result column="EG08BJ17" jdbcType="VARCHAR" property="eg08bj17" />
    <result column="EG08BJ18" jdbcType="VARCHAR" property="eg08bj18" />
    <result column="EG08BJ19" jdbcType="VARCHAR" property="eg08bj19" />
    <result column="EG08BJ20" jdbcType="VARCHAR" property="eg08bj20" />
    <result column="EG08BJ21" jdbcType="VARCHAR" property="eg08bj21" />
    <result column="EG08BJ22" jdbcType="VARCHAR" property="eg08bj22" />
    <result column="EG08BJ23" jdbcType="VARCHAR" property="eg08bj23" />
    <result column="EG08BJ24" jdbcType="VARCHAR" property="eg08bj24" />
    <result column="EG08BJ25" jdbcType="VARCHAR" property="eg08bj25" />
    <result column="EG08BJ26" jdbcType="VARCHAR" property="eg08bj26" />
    <result column="EG08BJ27" jdbcType="VARCHAR" property="eg08bj27" />
    <result column="EG08BJ28" jdbcType="VARCHAR" property="eg08bj28" />
    <result column="EG08BJ29" jdbcType="VARCHAR" property="eg08bj29" />
    <result column="EG08BJ30" jdbcType="VARCHAR" property="eg08bj30" />
    <result column="EG08BJ31" jdbcType="VARCHAR" property="eg08bj31" />
    <result column="EG08BJ32" jdbcType="VARCHAR" property="eg08bj32" />
    <result column="EG08BJ33" jdbcType="VARCHAR" property="eg08bj33" />
    <result column="EG08BJ34" jdbcType="VARCHAR" property="eg08bj34" />
    <result column="EG08BJ35" jdbcType="VARCHAR" property="eg08bj35" />
    <result column="EG08BJ36" jdbcType="VARCHAR" property="eg08bj36" />
    <result column="EG08BJ37" jdbcType="VARCHAR" property="eg08bj37" />
    <result column="EG08BJ38" jdbcType="VARCHAR" property="eg08bj38" />
    <result column="EG08BJ39" jdbcType="VARCHAR" property="eg08bj39" />
    <result column="EG08BJ40" jdbcType="VARCHAR" property="eg08bj40" />
    <result column="EG08BJ41" jdbcType="VARCHAR" property="eg08bj41" />
    <result column="EG08BJ42" jdbcType="VARCHAR" property="eg08bj42" />
    <result column="EG08BJ43" jdbcType="VARCHAR" property="eg08bj43" />
    <result column="EG08BJ44" jdbcType="VARCHAR" property="eg08bj44" />
    <result column="EG08BJ45" jdbcType="VARCHAR" property="eg08bj45" />
    <result column="EG08BJ46" jdbcType="VARCHAR" property="eg08bj46" />
    <result column="EG08BJ47" jdbcType="VARCHAR" property="eg08bj47" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, FINANCEID, MECHANISMTYPE, MECHANISMCODE, CASHINFODATE, CASHINFOTYPE, CASHINFOSUBTYPE, 
    EG08BJ01, EG08BJ02, EG08BJ03, EG08BJ04, EG08BJ05, EG08BJ06, EG08BJ07, EG08BJ08, EG08BJ09, 
    EG08BJ10, EG08BJ11, EG08BJ12, EG08BJ13, EG08BJ14, EG08BJ15, EG08BJ16, EG08BJ17, EG08BJ18, 
    EG08BJ19, EG08BJ20, EG08BJ21, EG08BJ22, EG08BJ23, EG08BJ24, EG08BJ25, EG08BJ26, EG08BJ27, 
    EG08BJ28, EG08BJ29, EG08BJ30, EG08BJ31, EG08BJ32, EG08BJ33, EG08BJ34, EG08BJ35, EG08BJ36, 
    EG08BJ37, EG08BJ38, EG08BJ39, EG08BJ40, EG08BJ41, EG08BJ42, EG08BJ43, EG08BJ44, EG08BJ45, 
    EG08BJ46, EG08BJ47
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CInstblesheet13Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_INSTBLESHEET13
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CInstblesheet13Example">
    delete from CRT2_C_INSTBLESHEET13
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CInstblesheet13">
    insert into CRT2_C_INSTBLESHEET13 (REPORTID, FINANCEID, MECHANISMTYPE, 
      MECHANISMCODE, CASHINFODATE, CASHINFOTYPE, 
      CASHINFOSUBTYPE, EG08BJ01, EG08BJ02, 
      EG08BJ03, EG08BJ04, EG08BJ05, 
      EG08BJ06, EG08BJ07, EG08BJ08, 
      EG08BJ09, EG08BJ10, EG08BJ11, 
      EG08BJ12, EG08BJ13, EG08BJ14, 
      EG08BJ15, EG08BJ16, EG08BJ17, 
      EG08BJ18, EG08BJ19, EG08BJ20, 
      EG08BJ21, EG08BJ22, EG08BJ23, 
      EG08BJ24, EG08BJ25, EG08BJ26, 
      EG08BJ27, EG08BJ28, EG08BJ29, 
      EG08BJ30, EG08BJ31, EG08BJ32, 
      EG08BJ33, EG08BJ34, EG08BJ35, 
      EG08BJ36, EG08BJ37, EG08BJ38, 
      EG08BJ39, EG08BJ40, EG08BJ41, 
      EG08BJ42, EG08BJ43, EG08BJ44, 
      EG08BJ45, EG08BJ46, EG08BJ47
      )
    values (#{reportid,jdbcType=VARCHAR}, #{financeid,jdbcType=VARCHAR}, #{mechanismtype,jdbcType=VARCHAR}, 
      #{mechanismcode,jdbcType=VARCHAR}, #{cashinfodate,jdbcType=VARCHAR}, #{cashinfotype,jdbcType=VARCHAR}, 
      #{cashinfosubtype,jdbcType=VARCHAR}, #{eg08bj01,jdbcType=VARCHAR}, #{eg08bj02,jdbcType=VARCHAR}, 
      #{eg08bj03,jdbcType=VARCHAR}, #{eg08bj04,jdbcType=VARCHAR}, #{eg08bj05,jdbcType=VARCHAR}, 
      #{eg08bj06,jdbcType=VARCHAR}, #{eg08bj07,jdbcType=VARCHAR}, #{eg08bj08,jdbcType=VARCHAR}, 
      #{eg08bj09,jdbcType=VARCHAR}, #{eg08bj10,jdbcType=VARCHAR}, #{eg08bj11,jdbcType=VARCHAR}, 
      #{eg08bj12,jdbcType=VARCHAR}, #{eg08bj13,jdbcType=VARCHAR}, #{eg08bj14,jdbcType=VARCHAR}, 
      #{eg08bj15,jdbcType=VARCHAR}, #{eg08bj16,jdbcType=VARCHAR}, #{eg08bj17,jdbcType=VARCHAR}, 
      #{eg08bj18,jdbcType=VARCHAR}, #{eg08bj19,jdbcType=VARCHAR}, #{eg08bj20,jdbcType=VARCHAR}, 
      #{eg08bj21,jdbcType=VARCHAR}, #{eg08bj22,jdbcType=VARCHAR}, #{eg08bj23,jdbcType=VARCHAR}, 
      #{eg08bj24,jdbcType=VARCHAR}, #{eg08bj25,jdbcType=VARCHAR}, #{eg08bj26,jdbcType=VARCHAR}, 
      #{eg08bj27,jdbcType=VARCHAR}, #{eg08bj28,jdbcType=VARCHAR}, #{eg08bj29,jdbcType=VARCHAR}, 
      #{eg08bj30,jdbcType=VARCHAR}, #{eg08bj31,jdbcType=VARCHAR}, #{eg08bj32,jdbcType=VARCHAR}, 
      #{eg08bj33,jdbcType=VARCHAR}, #{eg08bj34,jdbcType=VARCHAR}, #{eg08bj35,jdbcType=VARCHAR}, 
      #{eg08bj36,jdbcType=VARCHAR}, #{eg08bj37,jdbcType=VARCHAR}, #{eg08bj38,jdbcType=VARCHAR}, 
      #{eg08bj39,jdbcType=VARCHAR}, #{eg08bj40,jdbcType=VARCHAR}, #{eg08bj41,jdbcType=VARCHAR}, 
      #{eg08bj42,jdbcType=VARCHAR}, #{eg08bj43,jdbcType=VARCHAR}, #{eg08bj44,jdbcType=VARCHAR}, 
      #{eg08bj45,jdbcType=VARCHAR}, #{eg08bj46,jdbcType=VARCHAR}, #{eg08bj47,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CInstblesheet13">
    insert into CRT2_C_INSTBLESHEET13
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="financeid != null">
        FINANCEID,
      </if>
      <if test="mechanismtype != null">
        MECHANISMTYPE,
      </if>
      <if test="mechanismcode != null">
        MECHANISMCODE,
      </if>
      <if test="cashinfodate != null">
        CASHINFODATE,
      </if>
      <if test="cashinfotype != null">
        CASHINFOTYPE,
      </if>
      <if test="cashinfosubtype != null">
        CASHINFOSUBTYPE,
      </if>
      <if test="eg08bj01 != null">
        EG08BJ01,
      </if>
      <if test="eg08bj02 != null">
        EG08BJ02,
      </if>
      <if test="eg08bj03 != null">
        EG08BJ03,
      </if>
      <if test="eg08bj04 != null">
        EG08BJ04,
      </if>
      <if test="eg08bj05 != null">
        EG08BJ05,
      </if>
      <if test="eg08bj06 != null">
        EG08BJ06,
      </if>
      <if test="eg08bj07 != null">
        EG08BJ07,
      </if>
      <if test="eg08bj08 != null">
        EG08BJ08,
      </if>
      <if test="eg08bj09 != null">
        EG08BJ09,
      </if>
      <if test="eg08bj10 != null">
        EG08BJ10,
      </if>
      <if test="eg08bj11 != null">
        EG08BJ11,
      </if>
      <if test="eg08bj12 != null">
        EG08BJ12,
      </if>
      <if test="eg08bj13 != null">
        EG08BJ13,
      </if>
      <if test="eg08bj14 != null">
        EG08BJ14,
      </if>
      <if test="eg08bj15 != null">
        EG08BJ15,
      </if>
      <if test="eg08bj16 != null">
        EG08BJ16,
      </if>
      <if test="eg08bj17 != null">
        EG08BJ17,
      </if>
      <if test="eg08bj18 != null">
        EG08BJ18,
      </if>
      <if test="eg08bj19 != null">
        EG08BJ19,
      </if>
      <if test="eg08bj20 != null">
        EG08BJ20,
      </if>
      <if test="eg08bj21 != null">
        EG08BJ21,
      </if>
      <if test="eg08bj22 != null">
        EG08BJ22,
      </if>
      <if test="eg08bj23 != null">
        EG08BJ23,
      </if>
      <if test="eg08bj24 != null">
        EG08BJ24,
      </if>
      <if test="eg08bj25 != null">
        EG08BJ25,
      </if>
      <if test="eg08bj26 != null">
        EG08BJ26,
      </if>
      <if test="eg08bj27 != null">
        EG08BJ27,
      </if>
      <if test="eg08bj28 != null">
        EG08BJ28,
      </if>
      <if test="eg08bj29 != null">
        EG08BJ29,
      </if>
      <if test="eg08bj30 != null">
        EG08BJ30,
      </if>
      <if test="eg08bj31 != null">
        EG08BJ31,
      </if>
      <if test="eg08bj32 != null">
        EG08BJ32,
      </if>
      <if test="eg08bj33 != null">
        EG08BJ33,
      </if>
      <if test="eg08bj34 != null">
        EG08BJ34,
      </if>
      <if test="eg08bj35 != null">
        EG08BJ35,
      </if>
      <if test="eg08bj36 != null">
        EG08BJ36,
      </if>
      <if test="eg08bj37 != null">
        EG08BJ37,
      </if>
      <if test="eg08bj38 != null">
        EG08BJ38,
      </if>
      <if test="eg08bj39 != null">
        EG08BJ39,
      </if>
      <if test="eg08bj40 != null">
        EG08BJ40,
      </if>
      <if test="eg08bj41 != null">
        EG08BJ41,
      </if>
      <if test="eg08bj42 != null">
        EG08BJ42,
      </if>
      <if test="eg08bj43 != null">
        EG08BJ43,
      </if>
      <if test="eg08bj44 != null">
        EG08BJ44,
      </if>
      <if test="eg08bj45 != null">
        EG08BJ45,
      </if>
      <if test="eg08bj46 != null">
        EG08BJ46,
      </if>
      <if test="eg08bj47 != null">
        EG08BJ47,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="financeid != null">
        #{financeid,jdbcType=VARCHAR},
      </if>
      <if test="mechanismtype != null">
        #{mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="mechanismcode != null">
        #{mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="cashinfodate != null">
        #{cashinfodate,jdbcType=VARCHAR},
      </if>
      <if test="cashinfotype != null">
        #{cashinfotype,jdbcType=VARCHAR},
      </if>
      <if test="cashinfosubtype != null">
        #{cashinfosubtype,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj01 != null">
        #{eg08bj01,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj02 != null">
        #{eg08bj02,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj03 != null">
        #{eg08bj03,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj04 != null">
        #{eg08bj04,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj05 != null">
        #{eg08bj05,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj06 != null">
        #{eg08bj06,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj07 != null">
        #{eg08bj07,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj08 != null">
        #{eg08bj08,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj09 != null">
        #{eg08bj09,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj10 != null">
        #{eg08bj10,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj11 != null">
        #{eg08bj11,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj12 != null">
        #{eg08bj12,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj13 != null">
        #{eg08bj13,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj14 != null">
        #{eg08bj14,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj15 != null">
        #{eg08bj15,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj16 != null">
        #{eg08bj16,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj17 != null">
        #{eg08bj17,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj18 != null">
        #{eg08bj18,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj19 != null">
        #{eg08bj19,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj20 != null">
        #{eg08bj20,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj21 != null">
        #{eg08bj21,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj22 != null">
        #{eg08bj22,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj23 != null">
        #{eg08bj23,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj24 != null">
        #{eg08bj24,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj25 != null">
        #{eg08bj25,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj26 != null">
        #{eg08bj26,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj27 != null">
        #{eg08bj27,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj28 != null">
        #{eg08bj28,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj29 != null">
        #{eg08bj29,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj30 != null">
        #{eg08bj30,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj31 != null">
        #{eg08bj31,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj32 != null">
        #{eg08bj32,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj33 != null">
        #{eg08bj33,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj34 != null">
        #{eg08bj34,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj35 != null">
        #{eg08bj35,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj36 != null">
        #{eg08bj36,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj37 != null">
        #{eg08bj37,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj38 != null">
        #{eg08bj38,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj39 != null">
        #{eg08bj39,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj40 != null">
        #{eg08bj40,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj41 != null">
        #{eg08bj41,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj42 != null">
        #{eg08bj42,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj43 != null">
        #{eg08bj43,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj44 != null">
        #{eg08bj44,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj45 != null">
        #{eg08bj45,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj46 != null">
        #{eg08bj46,jdbcType=VARCHAR},
      </if>
      <if test="eg08bj47 != null">
        #{eg08bj47,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CInstblesheet13Example" resultType="java.lang.Long">
    select count(*) from CRT2_C_INSTBLESHEET13
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_INSTBLESHEET13
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.financeid != null">
        FINANCEID = #{record.financeid,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismtype != null">
        MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismcode != null">
        MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="record.cashinfodate != null">
        CASHINFODATE = #{record.cashinfodate,jdbcType=VARCHAR},
      </if>
      <if test="record.cashinfotype != null">
        CASHINFOTYPE = #{record.cashinfotype,jdbcType=VARCHAR},
      </if>
      <if test="record.cashinfosubtype != null">
        CASHINFOSUBTYPE = #{record.cashinfosubtype,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj01 != null">
        EG08BJ01 = #{record.eg08bj01,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj02 != null">
        EG08BJ02 = #{record.eg08bj02,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj03 != null">
        EG08BJ03 = #{record.eg08bj03,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj04 != null">
        EG08BJ04 = #{record.eg08bj04,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj05 != null">
        EG08BJ05 = #{record.eg08bj05,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj06 != null">
        EG08BJ06 = #{record.eg08bj06,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj07 != null">
        EG08BJ07 = #{record.eg08bj07,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj08 != null">
        EG08BJ08 = #{record.eg08bj08,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj09 != null">
        EG08BJ09 = #{record.eg08bj09,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj10 != null">
        EG08BJ10 = #{record.eg08bj10,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj11 != null">
        EG08BJ11 = #{record.eg08bj11,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj12 != null">
        EG08BJ12 = #{record.eg08bj12,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj13 != null">
        EG08BJ13 = #{record.eg08bj13,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj14 != null">
        EG08BJ14 = #{record.eg08bj14,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj15 != null">
        EG08BJ15 = #{record.eg08bj15,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj16 != null">
        EG08BJ16 = #{record.eg08bj16,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj17 != null">
        EG08BJ17 = #{record.eg08bj17,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj18 != null">
        EG08BJ18 = #{record.eg08bj18,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj19 != null">
        EG08BJ19 = #{record.eg08bj19,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj20 != null">
        EG08BJ20 = #{record.eg08bj20,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj21 != null">
        EG08BJ21 = #{record.eg08bj21,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj22 != null">
        EG08BJ22 = #{record.eg08bj22,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj23 != null">
        EG08BJ23 = #{record.eg08bj23,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj24 != null">
        EG08BJ24 = #{record.eg08bj24,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj25 != null">
        EG08BJ25 = #{record.eg08bj25,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj26 != null">
        EG08BJ26 = #{record.eg08bj26,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj27 != null">
        EG08BJ27 = #{record.eg08bj27,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj28 != null">
        EG08BJ28 = #{record.eg08bj28,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj29 != null">
        EG08BJ29 = #{record.eg08bj29,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj30 != null">
        EG08BJ30 = #{record.eg08bj30,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj31 != null">
        EG08BJ31 = #{record.eg08bj31,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj32 != null">
        EG08BJ32 = #{record.eg08bj32,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj33 != null">
        EG08BJ33 = #{record.eg08bj33,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj34 != null">
        EG08BJ34 = #{record.eg08bj34,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj35 != null">
        EG08BJ35 = #{record.eg08bj35,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj36 != null">
        EG08BJ36 = #{record.eg08bj36,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj37 != null">
        EG08BJ37 = #{record.eg08bj37,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj38 != null">
        EG08BJ38 = #{record.eg08bj38,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj39 != null">
        EG08BJ39 = #{record.eg08bj39,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj40 != null">
        EG08BJ40 = #{record.eg08bj40,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj41 != null">
        EG08BJ41 = #{record.eg08bj41,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj42 != null">
        EG08BJ42 = #{record.eg08bj42,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj43 != null">
        EG08BJ43 = #{record.eg08bj43,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj44 != null">
        EG08BJ44 = #{record.eg08bj44,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj45 != null">
        EG08BJ45 = #{record.eg08bj45,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj46 != null">
        EG08BJ46 = #{record.eg08bj46,jdbcType=VARCHAR},
      </if>
      <if test="record.eg08bj47 != null">
        EG08BJ47 = #{record.eg08bj47,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_INSTBLESHEET13
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      FINANCEID = #{record.financeid,jdbcType=VARCHAR},
      MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      CASHINFODATE = #{record.cashinfodate,jdbcType=VARCHAR},
      CASHINFOTYPE = #{record.cashinfotype,jdbcType=VARCHAR},
      CASHINFOSUBTYPE = #{record.cashinfosubtype,jdbcType=VARCHAR},
      EG08BJ01 = #{record.eg08bj01,jdbcType=VARCHAR},
      EG08BJ02 = #{record.eg08bj02,jdbcType=VARCHAR},
      EG08BJ03 = #{record.eg08bj03,jdbcType=VARCHAR},
      EG08BJ04 = #{record.eg08bj04,jdbcType=VARCHAR},
      EG08BJ05 = #{record.eg08bj05,jdbcType=VARCHAR},
      EG08BJ06 = #{record.eg08bj06,jdbcType=VARCHAR},
      EG08BJ07 = #{record.eg08bj07,jdbcType=VARCHAR},
      EG08BJ08 = #{record.eg08bj08,jdbcType=VARCHAR},
      EG08BJ09 = #{record.eg08bj09,jdbcType=VARCHAR},
      EG08BJ10 = #{record.eg08bj10,jdbcType=VARCHAR},
      EG08BJ11 = #{record.eg08bj11,jdbcType=VARCHAR},
      EG08BJ12 = #{record.eg08bj12,jdbcType=VARCHAR},
      EG08BJ13 = #{record.eg08bj13,jdbcType=VARCHAR},
      EG08BJ14 = #{record.eg08bj14,jdbcType=VARCHAR},
      EG08BJ15 = #{record.eg08bj15,jdbcType=VARCHAR},
      EG08BJ16 = #{record.eg08bj16,jdbcType=VARCHAR},
      EG08BJ17 = #{record.eg08bj17,jdbcType=VARCHAR},
      EG08BJ18 = #{record.eg08bj18,jdbcType=VARCHAR},
      EG08BJ19 = #{record.eg08bj19,jdbcType=VARCHAR},
      EG08BJ20 = #{record.eg08bj20,jdbcType=VARCHAR},
      EG08BJ21 = #{record.eg08bj21,jdbcType=VARCHAR},
      EG08BJ22 = #{record.eg08bj22,jdbcType=VARCHAR},
      EG08BJ23 = #{record.eg08bj23,jdbcType=VARCHAR},
      EG08BJ24 = #{record.eg08bj24,jdbcType=VARCHAR},
      EG08BJ25 = #{record.eg08bj25,jdbcType=VARCHAR},
      EG08BJ26 = #{record.eg08bj26,jdbcType=VARCHAR},
      EG08BJ27 = #{record.eg08bj27,jdbcType=VARCHAR},
      EG08BJ28 = #{record.eg08bj28,jdbcType=VARCHAR},
      EG08BJ29 = #{record.eg08bj29,jdbcType=VARCHAR},
      EG08BJ30 = #{record.eg08bj30,jdbcType=VARCHAR},
      EG08BJ31 = #{record.eg08bj31,jdbcType=VARCHAR},
      EG08BJ32 = #{record.eg08bj32,jdbcType=VARCHAR},
      EG08BJ33 = #{record.eg08bj33,jdbcType=VARCHAR},
      EG08BJ34 = #{record.eg08bj34,jdbcType=VARCHAR},
      EG08BJ35 = #{record.eg08bj35,jdbcType=VARCHAR},
      EG08BJ36 = #{record.eg08bj36,jdbcType=VARCHAR},
      EG08BJ37 = #{record.eg08bj37,jdbcType=VARCHAR},
      EG08BJ38 = #{record.eg08bj38,jdbcType=VARCHAR},
      EG08BJ39 = #{record.eg08bj39,jdbcType=VARCHAR},
      EG08BJ40 = #{record.eg08bj40,jdbcType=VARCHAR},
      EG08BJ41 = #{record.eg08bj41,jdbcType=VARCHAR},
      EG08BJ42 = #{record.eg08bj42,jdbcType=VARCHAR},
      EG08BJ43 = #{record.eg08bj43,jdbcType=VARCHAR},
      EG08BJ44 = #{record.eg08bj44,jdbcType=VARCHAR},
      EG08BJ45 = #{record.eg08bj45,jdbcType=VARCHAR},
      EG08BJ46 = #{record.eg08bj46,jdbcType=VARCHAR},
      EG08BJ47 = #{record.eg08bj47,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>