<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CForceexecutionMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CForceexecution">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="ENFORCEMENTID" jdbcType="VARCHAR" property="enforcementid" />
    <result column="EXCUTIVECOURT" jdbcType="VARCHAR" property="excutivecourt" />
    <result column="CASEREGISTRATIONDATE" jdbcType="VARCHAR" property="caseregistrationdate" />
    <result column="ENFORCECASE" jdbcType="VARCHAR" property="enforcecase" />
    <result column="CASENUM" jdbcType="VARCHAR" property="casenum" />
    <result column="LAWSUITOBJECT" jdbcType="VARCHAR" property="lawsuitobject" />
    <result column="LAWSUITOBJECTAMOUNT" jdbcType="VARCHAR" property="lawsuitobjectamount" />
    <result column="CASESTATUS" jdbcType="VARCHAR" property="casestatus" />
    <result column="ENFORCETYPE" jdbcType="VARCHAR" property="enforcetype" />
    <result column="EXECUTEDOBJECT" jdbcType="VARCHAR" property="executedobject" />
    <result column="EXECUTEDOBJECTAMOUNT" jdbcType="VARCHAR" property="executedobjectamount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, ENFORCEMENTID, EXCUTIVECOURT, CASEREGISTRATIONDATE, ENFORCECASE, CASENUM, 
    LAWSUITOBJECT, LAWSUITOBJECTAMOUNT, CASESTATUS, ENFORCETYPE, EXECUTEDOBJECT, EXECUTEDOBJECTAMOUNT
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CForceexecutionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_FORCEEXECUTION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CForceexecutionExample">
    delete from CRT2_C_FORCEEXECUTION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CForceexecution">
    insert into CRT2_C_FORCEEXECUTION (REPORTID, ENFORCEMENTID, EXCUTIVECOURT, 
      CASEREGISTRATIONDATE, ENFORCECASE, CASENUM, 
      LAWSUITOBJECT, LAWSUITOBJECTAMOUNT, CASESTATUS, 
      ENFORCETYPE, EXECUTEDOBJECT, EXECUTEDOBJECTAMOUNT
      )
    values (#{reportid,jdbcType=VARCHAR}, #{enforcementid,jdbcType=VARCHAR}, #{excutivecourt,jdbcType=VARCHAR}, 
      #{caseregistrationdate,jdbcType=VARCHAR}, #{enforcecase,jdbcType=VARCHAR}, #{casenum,jdbcType=VARCHAR}, 
      #{lawsuitobject,jdbcType=VARCHAR}, #{lawsuitobjectamount,jdbcType=VARCHAR}, #{casestatus,jdbcType=VARCHAR}, 
      #{enforcetype,jdbcType=VARCHAR}, #{executedobject,jdbcType=VARCHAR}, #{executedobjectamount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CForceexecution">
    insert into CRT2_C_FORCEEXECUTION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="enforcementid != null">
        ENFORCEMENTID,
      </if>
      <if test="excutivecourt != null">
        EXCUTIVECOURT,
      </if>
      <if test="caseregistrationdate != null">
        CASEREGISTRATIONDATE,
      </if>
      <if test="enforcecase != null">
        ENFORCECASE,
      </if>
      <if test="casenum != null">
        CASENUM,
      </if>
      <if test="lawsuitobject != null">
        LAWSUITOBJECT,
      </if>
      <if test="lawsuitobjectamount != null">
        LAWSUITOBJECTAMOUNT,
      </if>
      <if test="casestatus != null">
        CASESTATUS,
      </if>
      <if test="enforcetype != null">
        ENFORCETYPE,
      </if>
      <if test="executedobject != null">
        EXECUTEDOBJECT,
      </if>
      <if test="executedobjectamount != null">
        EXECUTEDOBJECTAMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="enforcementid != null">
        #{enforcementid,jdbcType=VARCHAR},
      </if>
      <if test="excutivecourt != null">
        #{excutivecourt,jdbcType=VARCHAR},
      </if>
      <if test="caseregistrationdate != null">
        #{caseregistrationdate,jdbcType=VARCHAR},
      </if>
      <if test="enforcecase != null">
        #{enforcecase,jdbcType=VARCHAR},
      </if>
      <if test="casenum != null">
        #{casenum,jdbcType=VARCHAR},
      </if>
      <if test="lawsuitobject != null">
        #{lawsuitobject,jdbcType=VARCHAR},
      </if>
      <if test="lawsuitobjectamount != null">
        #{lawsuitobjectamount,jdbcType=VARCHAR},
      </if>
      <if test="casestatus != null">
        #{casestatus,jdbcType=VARCHAR},
      </if>
      <if test="enforcetype != null">
        #{enforcetype,jdbcType=VARCHAR},
      </if>
      <if test="executedobject != null">
        #{executedobject,jdbcType=VARCHAR},
      </if>
      <if test="executedobjectamount != null">
        #{executedobjectamount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CForceexecutionExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_FORCEEXECUTION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_FORCEEXECUTION
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.enforcementid != null">
        ENFORCEMENTID = #{record.enforcementid,jdbcType=VARCHAR},
      </if>
      <if test="record.excutivecourt != null">
        EXCUTIVECOURT = #{record.excutivecourt,jdbcType=VARCHAR},
      </if>
      <if test="record.caseregistrationdate != null">
        CASEREGISTRATIONDATE = #{record.caseregistrationdate,jdbcType=VARCHAR},
      </if>
      <if test="record.enforcecase != null">
        ENFORCECASE = #{record.enforcecase,jdbcType=VARCHAR},
      </if>
      <if test="record.casenum != null">
        CASENUM = #{record.casenum,jdbcType=VARCHAR},
      </if>
      <if test="record.lawsuitobject != null">
        LAWSUITOBJECT = #{record.lawsuitobject,jdbcType=VARCHAR},
      </if>
      <if test="record.lawsuitobjectamount != null">
        LAWSUITOBJECTAMOUNT = #{record.lawsuitobjectamount,jdbcType=VARCHAR},
      </if>
      <if test="record.casestatus != null">
        CASESTATUS = #{record.casestatus,jdbcType=VARCHAR},
      </if>
      <if test="record.enforcetype != null">
        ENFORCETYPE = #{record.enforcetype,jdbcType=VARCHAR},
      </if>
      <if test="record.executedobject != null">
        EXECUTEDOBJECT = #{record.executedobject,jdbcType=VARCHAR},
      </if>
      <if test="record.executedobjectamount != null">
        EXECUTEDOBJECTAMOUNT = #{record.executedobjectamount,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_FORCEEXECUTION
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      ENFORCEMENTID = #{record.enforcementid,jdbcType=VARCHAR},
      EXCUTIVECOURT = #{record.excutivecourt,jdbcType=VARCHAR},
      CASEREGISTRATIONDATE = #{record.caseregistrationdate,jdbcType=VARCHAR},
      ENFORCECASE = #{record.enforcecase,jdbcType=VARCHAR},
      CASENUM = #{record.casenum,jdbcType=VARCHAR},
      LAWSUITOBJECT = #{record.lawsuitobject,jdbcType=VARCHAR},
      LAWSUITOBJECTAMOUNT = #{record.lawsuitobjectamount,jdbcType=VARCHAR},
      CASESTATUS = #{record.casestatus,jdbcType=VARCHAR},
      ENFORCETYPE = #{record.enforcetype,jdbcType=VARCHAR},
      EXECUTEDOBJECT = #{record.executedobject,jdbcType=VARCHAR},
      EXECUTEDOBJECTAMOUNT = #{record.executedobjectamount,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CForceexecution">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="ENFORCEMENTID" jdbcType="VARCHAR" property="enforcementid" />
    <result column="EXCUTIVECOURT" jdbcType="VARCHAR" property="excutivecourt" />
    <result column="CASENUM" jdbcType="VARCHAR" property="casenum" />
    <result column="CASEREGISTRATIONDATE" jdbcType="VARCHAR" property="caseregistrationdate" />
    <result column="ENFORCECASE" jdbcType="VARCHAR" property="enforcecase" />
    <result column="LAWSUITOBJECT" jdbcType="VARCHAR" property="lawsuitobject" />
    <result column="LAWSUITOBJECTAMOUNT" jdbcType="VARCHAR" property="lawsuitobjectamount" />
    <result column="CASESTATUS" jdbcType="VARCHAR" property="casestatus" />
    <result column="ENFORCETYPE" jdbcType="VARCHAR" property="enforcetype" />
    <result column="EXECUTEDOBJECT" jdbcType="VARCHAR" property="executedobject" />
    <result column="EXECUTEDOBJECTAMOUNT" jdbcType="VARCHAR" property="executedobjectamount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, ENFORCEMENTID, EXCUTIVECOURT, CASENUM, CASEREGISTRATIONDATE, ENFORCECASE, 
    LAWSUITOBJECT, LAWSUITOBJECTAMOUNT, CASESTATUS, ENFORCETYPE, EXECUTEDOBJECT, EXECUTEDOBJECTAMOUNT
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CForceexecutionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_FORCEEXECUTION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CForceexecutionExample">
    delete from CRT2_C_FORCEEXECUTION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CForceexecution">
    insert into CRT2_C_FORCEEXECUTION (REPORTID, ENFORCEMENTID, EXCUTIVECOURT, 
      CASENUM, CASEREGISTRATIONDATE, ENFORCECASE, 
      LAWSUITOBJECT, LAWSUITOBJECTAMOUNT, CASESTATUS, 
      ENFORCETYPE, EXECUTEDOBJECT, EXECUTEDOBJECTAMOUNT
      )
    values (#{reportid,jdbcType=VARCHAR}, #{enforcementid,jdbcType=VARCHAR}, #{excutivecourt,jdbcType=VARCHAR}, 
      #{casenum,jdbcType=VARCHAR}, #{caseregistrationdate,jdbcType=VARCHAR}, #{enforcecase,jdbcType=VARCHAR}, 
      #{lawsuitobject,jdbcType=VARCHAR}, #{lawsuitobjectamount,jdbcType=VARCHAR}, #{casestatus,jdbcType=VARCHAR}, 
      #{enforcetype,jdbcType=VARCHAR}, #{executedobject,jdbcType=VARCHAR}, #{executedobjectamount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CForceexecution">
    insert into CRT2_C_FORCEEXECUTION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="enforcementid != null">
        ENFORCEMENTID,
      </if>
      <if test="excutivecourt != null">
        EXCUTIVECOURT,
      </if>
      <if test="casenum != null">
        CASENUM,
      </if>
      <if test="caseregistrationdate != null">
        CASEREGISTRATIONDATE,
      </if>
      <if test="enforcecase != null">
        ENFORCECASE,
      </if>
      <if test="lawsuitobject != null">
        LAWSUITOBJECT,
      </if>
      <if test="lawsuitobjectamount != null">
        LAWSUITOBJECTAMOUNT,
      </if>
      <if test="casestatus != null">
        CASESTATUS,
      </if>
      <if test="enforcetype != null">
        ENFORCETYPE,
      </if>
      <if test="executedobject != null">
        EXECUTEDOBJECT,
      </if>
      <if test="executedobjectamount != null">
        EXECUTEDOBJECTAMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="enforcementid != null">
        #{enforcementid,jdbcType=VARCHAR},
      </if>
      <if test="excutivecourt != null">
        #{excutivecourt,jdbcType=VARCHAR},
      </if>
      <if test="casenum != null">
        #{casenum,jdbcType=VARCHAR},
      </if>
      <if test="caseregistrationdate != null">
        #{caseregistrationdate,jdbcType=VARCHAR},
      </if>
      <if test="enforcecase != null">
        #{enforcecase,jdbcType=VARCHAR},
      </if>
      <if test="lawsuitobject != null">
        #{lawsuitobject,jdbcType=VARCHAR},
      </if>
      <if test="lawsuitobjectamount != null">
        #{lawsuitobjectamount,jdbcType=VARCHAR},
      </if>
      <if test="casestatus != null">
        #{casestatus,jdbcType=VARCHAR},
      </if>
      <if test="enforcetype != null">
        #{enforcetype,jdbcType=VARCHAR},
      </if>
      <if test="executedobject != null">
        #{executedobject,jdbcType=VARCHAR},
      </if>
      <if test="executedobjectamount != null">
        #{executedobjectamount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CForceexecutionExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_FORCEEXECUTION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_FORCEEXECUTION
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.enforcementid != null">
        ENFORCEMENTID = #{record.enforcementid,jdbcType=VARCHAR},
      </if>
      <if test="record.excutivecourt != null">
        EXCUTIVECOURT = #{record.excutivecourt,jdbcType=VARCHAR},
      </if>
      <if test="record.casenum != null">
        CASENUM = #{record.casenum,jdbcType=VARCHAR},
      </if>
      <if test="record.caseregistrationdate != null">
        CASEREGISTRATIONDATE = #{record.caseregistrationdate,jdbcType=VARCHAR},
      </if>
      <if test="record.enforcecase != null">
        ENFORCECASE = #{record.enforcecase,jdbcType=VARCHAR},
      </if>
      <if test="record.lawsuitobject != null">
        LAWSUITOBJECT = #{record.lawsuitobject,jdbcType=VARCHAR},
      </if>
      <if test="record.lawsuitobjectamount != null">
        LAWSUITOBJECTAMOUNT = #{record.lawsuitobjectamount,jdbcType=VARCHAR},
      </if>
      <if test="record.casestatus != null">
        CASESTATUS = #{record.casestatus,jdbcType=VARCHAR},
      </if>
      <if test="record.enforcetype != null">
        ENFORCETYPE = #{record.enforcetype,jdbcType=VARCHAR},
      </if>
      <if test="record.executedobject != null">
        EXECUTEDOBJECT = #{record.executedobject,jdbcType=VARCHAR},
      </if>
      <if test="record.executedobjectamount != null">
        EXECUTEDOBJECTAMOUNT = #{record.executedobjectamount,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_FORCEEXECUTION
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      ENFORCEMENTID = #{record.enforcementid,jdbcType=VARCHAR},
      EXCUTIVECOURT = #{record.excutivecourt,jdbcType=VARCHAR},
      CASENUM = #{record.casenum,jdbcType=VARCHAR},
      CASEREGISTRATIONDATE = #{record.caseregistrationdate,jdbcType=VARCHAR},
      ENFORCECASE = #{record.enforcecase,jdbcType=VARCHAR},
      LAWSUITOBJECT = #{record.lawsuitobject,jdbcType=VARCHAR},
      LAWSUITOBJECTAMOUNT = #{record.lawsuitobjectamount,jdbcType=VARCHAR},
      CASESTATUS = #{record.casestatus,jdbcType=VARCHAR},
      ENFORCETYPE = #{record.enforcetype,jdbcType=VARCHAR},
      EXECUTEDOBJECT = #{record.executedobject,jdbcType=VARCHAR},
      EXECUTEDOBJECTAMOUNT = #{record.executedobjectamount,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>