<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CBasicprofileMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CBasicprofile">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="ECONOMICTYPE" jdbcType="VARCHAR" property="economictype" />
    <result column="ORGANIZATIONTYPE" jdbcType="VARCHAR" property="organizationtype" />
    <result column="ENTERPRISESCALE" jdbcType="VARCHAR" property="enterprisescale" />
    <result column="INDUSTRY" jdbcType="VARCHAR" property="industry" />
    <result column="REGADD" jdbcType="VARCHAR" property="regadd" />
    <result column="SETUPYEAR" jdbcType="VARCHAR" property="setupyear" />
    <result column="DEADLINE" jdbcType="VARCHAR" property="deadline" />
    <result column="OPERATINGADD" jdbcType="VARCHAR" property="operatingadd" />
    <result column="STATEEXISTENCE" jdbcType="VARCHAR" property="stateexistence" />
    <result column="REGCAPITAL" jdbcType="VARCHAR" property="regcapital" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, ECONOMICTYPE, ORGANIZATIONTYPE, ENTERPRISESCALE, INDUSTRY, REGADD, SETUPYEAR, 
    DEADLINE, OPERATINGADD, STATEEXISTENCE, REGCAPITAL
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CBasicprofileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_BASICPROFILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CBasicprofileExample">
    delete from CRT2_C_BASICPROFILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CBasicprofile">
    insert into CRT2_C_BASICPROFILE (REPORTID, ECONOMICTYPE, ORGANIZATIONTYPE, 
      ENTERPRISESCALE, INDUSTRY, REGADD, 
      SETUPYEAR, DEADLINE, OPERATINGADD, 
      STATEEXISTENCE, REGCAPITAL)
    values (#{reportid,jdbcType=VARCHAR}, #{economictype,jdbcType=VARCHAR}, #{organizationtype,jdbcType=VARCHAR}, 
      #{enterprisescale,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{regadd,jdbcType=VARCHAR}, 
      #{setupyear,jdbcType=VARCHAR}, #{deadline,jdbcType=VARCHAR}, #{operatingadd,jdbcType=VARCHAR}, 
      #{stateexistence,jdbcType=VARCHAR}, #{regcapital,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CBasicprofile">
    insert into CRT2_C_BASICPROFILE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="economictype != null">
        ECONOMICTYPE,
      </if>
      <if test="organizationtype != null">
        ORGANIZATIONTYPE,
      </if>
      <if test="enterprisescale != null">
        ENTERPRISESCALE,
      </if>
      <if test="industry != null">
        INDUSTRY,
      </if>
      <if test="regadd != null">
        REGADD,
      </if>
      <if test="setupyear != null">
        SETUPYEAR,
      </if>
      <if test="deadline != null">
        DEADLINE,
      </if>
      <if test="operatingadd != null">
        OPERATINGADD,
      </if>
      <if test="stateexistence != null">
        STATEEXISTENCE,
      </if>
      <if test="regcapital != null">
        REGCAPITAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="economictype != null">
        #{economictype,jdbcType=VARCHAR},
      </if>
      <if test="organizationtype != null">
        #{organizationtype,jdbcType=VARCHAR},
      </if>
      <if test="enterprisescale != null">
        #{enterprisescale,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="regadd != null">
        #{regadd,jdbcType=VARCHAR},
      </if>
      <if test="setupyear != null">
        #{setupyear,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=VARCHAR},
      </if>
      <if test="operatingadd != null">
        #{operatingadd,jdbcType=VARCHAR},
      </if>
      <if test="stateexistence != null">
        #{stateexistence,jdbcType=VARCHAR},
      </if>
      <if test="regcapital != null">
        #{regcapital,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CBasicprofileExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_BASICPROFILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_BASICPROFILE
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.economictype != null">
        ECONOMICTYPE = #{record.economictype,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationtype != null">
        ORGANIZATIONTYPE = #{record.organizationtype,jdbcType=VARCHAR},
      </if>
      <if test="record.enterprisescale != null">
        ENTERPRISESCALE = #{record.enterprisescale,jdbcType=VARCHAR},
      </if>
      <if test="record.industry != null">
        INDUSTRY = #{record.industry,jdbcType=VARCHAR},
      </if>
      <if test="record.regadd != null">
        REGADD = #{record.regadd,jdbcType=VARCHAR},
      </if>
      <if test="record.setupyear != null">
        SETUPYEAR = #{record.setupyear,jdbcType=VARCHAR},
      </if>
      <if test="record.deadline != null">
        DEADLINE = #{record.deadline,jdbcType=VARCHAR},
      </if>
      <if test="record.operatingadd != null">
        OPERATINGADD = #{record.operatingadd,jdbcType=VARCHAR},
      </if>
      <if test="record.stateexistence != null">
        STATEEXISTENCE = #{record.stateexistence,jdbcType=VARCHAR},
      </if>
      <if test="record.regcapital != null">
        REGCAPITAL = #{record.regcapital,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_BASICPROFILE
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      ECONOMICTYPE = #{record.economictype,jdbcType=VARCHAR},
      ORGANIZATIONTYPE = #{record.organizationtype,jdbcType=VARCHAR},
      ENTERPRISESCALE = #{record.enterprisescale,jdbcType=VARCHAR},
      INDUSTRY = #{record.industry,jdbcType=VARCHAR},
      REGADD = #{record.regadd,jdbcType=VARCHAR},
      SETUPYEAR = #{record.setupyear,jdbcType=VARCHAR},
      DEADLINE = #{record.deadline,jdbcType=VARCHAR},
      OPERATINGADD = #{record.operatingadd,jdbcType=VARCHAR},
      STATEEXISTENCE = #{record.stateexistence,jdbcType=VARCHAR},
      REGCAPITAL = #{record.regcapital,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CBasicprofile">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="ECONOMICTYPE" jdbcType="VARCHAR" property="economictype" />
    <result column="ORGANIZATIONTYPE" jdbcType="VARCHAR" property="organizationtype" />
    <result column="ENTERPRISESCALE" jdbcType="VARCHAR" property="enterprisescale" />
    <result column="INDUSTRY" jdbcType="VARCHAR" property="industry" />
    <result column="REGADD" jdbcType="VARCHAR" property="regadd" />
    <result column="SETUPYEAR" jdbcType="VARCHAR" property="setupyear" />
    <result column="DEADLINE" jdbcType="VARCHAR" property="deadline" />
    <result column="OPERATINGADD" jdbcType="VARCHAR" property="operatingadd" />
    <result column="STATEEXISTENCE" jdbcType="VARCHAR" property="stateexistence" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, ECONOMICTYPE, ORGANIZATIONTYPE, ENTERPRISESCALE, INDUSTRY, REGADD, SETUPYEAR, 
    DEADLINE, OPERATINGADD, STATEEXISTENCE
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CBasicprofileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_BASICPROFILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CBasicprofileExample">
    delete from CRT2_C_BASICPROFILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CBasicprofile">
    insert into CRT2_C_BASICPROFILE (REPORTID, ECONOMICTYPE, ORGANIZATIONTYPE, 
      ENTERPRISESCALE, INDUSTRY, REGADD, 
      SETUPYEAR, DEADLINE, OPERATINGADD, 
      STATEEXISTENCE)
    values (#{reportid,jdbcType=VARCHAR}, #{economictype,jdbcType=VARCHAR}, #{organizationtype,jdbcType=VARCHAR}, 
      #{enterprisescale,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{regadd,jdbcType=VARCHAR}, 
      #{setupyear,jdbcType=VARCHAR}, #{deadline,jdbcType=VARCHAR}, #{operatingadd,jdbcType=VARCHAR}, 
      #{stateexistence,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CBasicprofile">
    insert into CRT2_C_BASICPROFILE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="economictype != null">
        ECONOMICTYPE,
      </if>
      <if test="organizationtype != null">
        ORGANIZATIONTYPE,
      </if>
      <if test="enterprisescale != null">
        ENTERPRISESCALE,
      </if>
      <if test="industry != null">
        INDUSTRY,
      </if>
      <if test="regadd != null">
        REGADD,
      </if>
      <if test="setupyear != null">
        SETUPYEAR,
      </if>
      <if test="deadline != null">
        DEADLINE,
      </if>
      <if test="operatingadd != null">
        OPERATINGADD,
      </if>
      <if test="stateexistence != null">
        STATEEXISTENCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="economictype != null">
        #{economictype,jdbcType=VARCHAR},
      </if>
      <if test="organizationtype != null">
        #{organizationtype,jdbcType=VARCHAR},
      </if>
      <if test="enterprisescale != null">
        #{enterprisescale,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="regadd != null">
        #{regadd,jdbcType=VARCHAR},
      </if>
      <if test="setupyear != null">
        #{setupyear,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=VARCHAR},
      </if>
      <if test="operatingadd != null">
        #{operatingadd,jdbcType=VARCHAR},
      </if>
      <if test="stateexistence != null">
        #{stateexistence,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CBasicprofileExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_BASICPROFILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_BASICPROFILE
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.economictype != null">
        ECONOMICTYPE = #{record.economictype,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationtype != null">
        ORGANIZATIONTYPE = #{record.organizationtype,jdbcType=VARCHAR},
      </if>
      <if test="record.enterprisescale != null">
        ENTERPRISESCALE = #{record.enterprisescale,jdbcType=VARCHAR},
      </if>
      <if test="record.industry != null">
        INDUSTRY = #{record.industry,jdbcType=VARCHAR},
      </if>
      <if test="record.regadd != null">
        REGADD = #{record.regadd,jdbcType=VARCHAR},
      </if>
      <if test="record.setupyear != null">
        SETUPYEAR = #{record.setupyear,jdbcType=VARCHAR},
      </if>
      <if test="record.deadline != null">
        DEADLINE = #{record.deadline,jdbcType=VARCHAR},
      </if>
      <if test="record.operatingadd != null">
        OPERATINGADD = #{record.operatingadd,jdbcType=VARCHAR},
      </if>
      <if test="record.stateexistence != null">
        STATEEXISTENCE = #{record.stateexistence,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_BASICPROFILE
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      ECONOMICTYPE = #{record.economictype,jdbcType=VARCHAR},
      ORGANIZATIONTYPE = #{record.organizationtype,jdbcType=VARCHAR},
      ENTERPRISESCALE = #{record.enterprisescale,jdbcType=VARCHAR},
      INDUSTRY = #{record.industry,jdbcType=VARCHAR},
      REGADD = #{record.regadd,jdbcType=VARCHAR},
      SETUPYEAR = #{record.setupyear,jdbcType=VARCHAR},
      DEADLINE = #{record.deadline,jdbcType=VARCHAR},
      OPERATINGADD = #{record.operatingadd,jdbcType=VARCHAR},
      STATEEXISTENCE = #{record.stateexistence,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>