<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CDiscountedacctMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CDiscountedacct">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="SPECIFICTRANSACTIONID" jdbcType="VARCHAR" property="specifictransactionid" />
    <result column="MECHANISMTYPE" jdbcType="VARCHAR" property="mechanismtype" />
    <result column="MECHANISMCODE" jdbcType="VARCHAR" property="mechanismcode" />
    <result column="BUSINESSTYPES" jdbcType="VARCHAR" property="businesstypes" />
    <result column="FIVELEVEL" jdbcType="VARCHAR" property="fivelevel" />
    <result column="UNCLEARED" jdbcType="VARCHAR" property="uncleared" />
    <result column="BALANCETOTAL" jdbcType="VARCHAR" property="balancetotal" />
    <result column="TOTALOVERDUE" jdbcType="VARCHAR" property="totaloverdue" />
    <result column="OVERDUEPRINCIPAL" jdbcType="VARCHAR" property="overdueprincipal" />
    <result column="CLOAEDACCOUNT" jdbcType="VARCHAR" property="cloaedaccount" />
    <result column="CLEAREDCASH" jdbcType="VARCHAR" property="clearedcash" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, SPECIFICTRANSACTIONID, MECHANISMTYPE, MECHANISMCODE, BUSINESSTYPES, FIVELEVEL, 
    UNCLEARED, BALANCETOTAL, TOTALOVERDUE, OVERDUEPRINCIPAL, CLOAEDACCOUNT, CLEAREDCASH
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CDiscountedacctExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_DISCOUNTEDACCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CDiscountedacctExample">
    delete from CRT2_C_DISCOUNTEDACCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CDiscountedacct">
    insert into CRT2_C_DISCOUNTEDACCT (REPORTID, SPECIFICTRANSACTIONID, 
      MECHANISMTYPE, MECHANISMCODE, BUSINESSTYPES, 
      FIVELEVEL, UNCLEARED, BALANCETOTAL, 
      TOTALOVERDUE, OVERDUEPRINCIPAL, CLOAEDACCOUNT, 
      CLEAREDCASH)
    values (#{reportid,jdbcType=VARCHAR}, #{specifictransactionid,jdbcType=VARCHAR}, 
      #{mechanismtype,jdbcType=VARCHAR}, #{mechanismcode,jdbcType=VARCHAR}, #{businesstypes,jdbcType=VARCHAR}, 
      #{fivelevel,jdbcType=VARCHAR}, #{uncleared,jdbcType=VARCHAR}, #{balancetotal,jdbcType=VARCHAR}, 
      #{totaloverdue,jdbcType=VARCHAR}, #{overdueprincipal,jdbcType=VARCHAR}, #{cloaedaccount,jdbcType=VARCHAR}, 
      #{clearedcash,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CDiscountedacct">
    insert into CRT2_C_DISCOUNTEDACCT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="specifictransactionid != null">
        SPECIFICTRANSACTIONID,
      </if>
      <if test="mechanismtype != null">
        MECHANISMTYPE,
      </if>
      <if test="mechanismcode != null">
        MECHANISMCODE,
      </if>
      <if test="businesstypes != null">
        BUSINESSTYPES,
      </if>
      <if test="fivelevel != null">
        FIVELEVEL,
      </if>
      <if test="uncleared != null">
        UNCLEARED,
      </if>
      <if test="balancetotal != null">
        BALANCETOTAL,
      </if>
      <if test="totaloverdue != null">
        TOTALOVERDUE,
      </if>
      <if test="overdueprincipal != null">
        OVERDUEPRINCIPAL,
      </if>
      <if test="cloaedaccount != null">
        CLOAEDACCOUNT,
      </if>
      <if test="clearedcash != null">
        CLEAREDCASH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="specifictransactionid != null">
        #{specifictransactionid,jdbcType=VARCHAR},
      </if>
      <if test="mechanismtype != null">
        #{mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="mechanismcode != null">
        #{mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="businesstypes != null">
        #{businesstypes,jdbcType=VARCHAR},
      </if>
      <if test="fivelevel != null">
        #{fivelevel,jdbcType=VARCHAR},
      </if>
      <if test="uncleared != null">
        #{uncleared,jdbcType=VARCHAR},
      </if>
      <if test="balancetotal != null">
        #{balancetotal,jdbcType=VARCHAR},
      </if>
      <if test="totaloverdue != null">
        #{totaloverdue,jdbcType=VARCHAR},
      </if>
      <if test="overdueprincipal != null">
        #{overdueprincipal,jdbcType=VARCHAR},
      </if>
      <if test="cloaedaccount != null">
        #{cloaedaccount,jdbcType=VARCHAR},
      </if>
      <if test="clearedcash != null">
        #{clearedcash,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CDiscountedacctExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_DISCOUNTEDACCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_DISCOUNTEDACCT
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.specifictransactionid != null">
        SPECIFICTRANSACTIONID = #{record.specifictransactionid,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismtype != null">
        MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismcode != null">
        MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="record.businesstypes != null">
        BUSINESSTYPES = #{record.businesstypes,jdbcType=VARCHAR},
      </if>
      <if test="record.fivelevel != null">
        FIVELEVEL = #{record.fivelevel,jdbcType=VARCHAR},
      </if>
      <if test="record.uncleared != null">
        UNCLEARED = #{record.uncleared,jdbcType=VARCHAR},
      </if>
      <if test="record.balancetotal != null">
        BALANCETOTAL = #{record.balancetotal,jdbcType=VARCHAR},
      </if>
      <if test="record.totaloverdue != null">
        TOTALOVERDUE = #{record.totaloverdue,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueprincipal != null">
        OVERDUEPRINCIPAL = #{record.overdueprincipal,jdbcType=VARCHAR},
      </if>
      <if test="record.cloaedaccount != null">
        CLOAEDACCOUNT = #{record.cloaedaccount,jdbcType=VARCHAR},
      </if>
      <if test="record.clearedcash != null">
        CLEAREDCASH = #{record.clearedcash,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_DISCOUNTEDACCT
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      SPECIFICTRANSACTIONID = #{record.specifictransactionid,jdbcType=VARCHAR},
      MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      BUSINESSTYPES = #{record.businesstypes,jdbcType=VARCHAR},
      FIVELEVEL = #{record.fivelevel,jdbcType=VARCHAR},
      UNCLEARED = #{record.uncleared,jdbcType=VARCHAR},
      BALANCETOTAL = #{record.balancetotal,jdbcType=VARCHAR},
      TOTALOVERDUE = #{record.totaloverdue,jdbcType=VARCHAR},
      OVERDUEPRINCIPAL = #{record.overdueprincipal,jdbcType=VARCHAR},
      CLOAEDACCOUNT = #{record.cloaedaccount,jdbcType=VARCHAR},
      CLEAREDCASH = #{record.clearedcash,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>