<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CComminspectMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CComminspect">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="INFORMATIONID" jdbcType="VARCHAR" property="informationid" />
    <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
    <result column="RULEOFFICE" jdbcType="VARCHAR" property="ruleoffice" />
    <result column="WARDSHIPLEVEL" jdbcType="VARCHAR" property="wardshiplevel" />
    <result column="INUREDATE" jdbcType="VARCHAR" property="inuredate" />
    <result column="VALIDITYDATE" jdbcType="VARCHAR" property="validitydate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, INFORMATIONID, DEPARTMENT, RULEOFFICE, WARDSHIPLEVEL, INUREDATE, VALIDITYDATE
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CComminspectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_COMMINSPECT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CComminspectExample">
    delete from CRT2_C_COMMINSPECT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CComminspect">
    insert into CRT2_C_COMMINSPECT (REPORTID, INFORMATIONID, DEPARTMENT, 
      RULEOFFICE, WARDSHIPLEVEL, INUREDATE, 
      VALIDITYDATE)
    values (#{reportid,jdbcType=VARCHAR}, #{informationid,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{ruleoffice,jdbcType=VARCHAR}, #{wardshiplevel,jdbcType=VARCHAR}, #{inuredate,jdbcType=VARCHAR}, 
      #{validitydate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CComminspect">
    insert into CRT2_C_COMMINSPECT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="informationid != null">
        INFORMATIONID,
      </if>
      <if test="department != null">
        DEPARTMENT,
      </if>
      <if test="ruleoffice != null">
        RULEOFFICE,
      </if>
      <if test="wardshiplevel != null">
        WARDSHIPLEVEL,
      </if>
      <if test="inuredate != null">
        INUREDATE,
      </if>
      <if test="validitydate != null">
        VALIDITYDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="informationid != null">
        #{informationid,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="ruleoffice != null">
        #{ruleoffice,jdbcType=VARCHAR},
      </if>
      <if test="wardshiplevel != null">
        #{wardshiplevel,jdbcType=VARCHAR},
      </if>
      <if test="inuredate != null">
        #{inuredate,jdbcType=VARCHAR},
      </if>
      <if test="validitydate != null">
        #{validitydate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CComminspectExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_COMMINSPECT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_COMMINSPECT
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.informationid != null">
        INFORMATIONID = #{record.informationid,jdbcType=VARCHAR},
      </if>
      <if test="record.department != null">
        DEPARTMENT = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleoffice != null">
        RULEOFFICE = #{record.ruleoffice,jdbcType=VARCHAR},
      </if>
      <if test="record.wardshiplevel != null">
        WARDSHIPLEVEL = #{record.wardshiplevel,jdbcType=VARCHAR},
      </if>
      <if test="record.inuredate != null">
        INUREDATE = #{record.inuredate,jdbcType=VARCHAR},
      </if>
      <if test="record.validitydate != null">
        VALIDITYDATE = #{record.validitydate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_COMMINSPECT
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      INFORMATIONID = #{record.informationid,jdbcType=VARCHAR},
      DEPARTMENT = #{record.department,jdbcType=VARCHAR},
      RULEOFFICE = #{record.ruleoffice,jdbcType=VARCHAR},
      WARDSHIPLEVEL = #{record.wardshiplevel,jdbcType=VARCHAR},
      INUREDATE = #{record.inuredate,jdbcType=VARCHAR},
      VALIDITYDATE = #{record.validitydate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>