<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CReportmainMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CReportmain">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="CREDITCODE" jdbcType="VARCHAR" property="creditcode" />
    <result column="LOANCARDNO" jdbcType="VARCHAR" property="loancardno" />
    <result column="CORPNO" jdbcType="VARCHAR" property="corpno" />
    <result column="REGISTERTYPE" jdbcType="VARCHAR" property="registertype" />
    <result column="REGISTERNO" jdbcType="VARCHAR" property="registerno" />
    <result column="GSREGINO" jdbcType="VARCHAR" property="gsregino" />
    <result column="DSREGINO" jdbcType="VARCHAR" property="dsregino" />
    <result column="REPORTTYPE" jdbcType="VARCHAR" property="reporttype" />
    <result column="REPORTACQUIRETIME" jdbcType="TIMESTAMP" property="reportacquiretime" />
    <result column="PARSESTATUS" jdbcType="VARCHAR" property="parsestatus" />
    <result column="ISLATEST" jdbcType="VARCHAR" property="islatest" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zxjk.credit2query.pojo.Crt2CReportmain">
    <result column="REPORTCONTENT" jdbcType="CLOB" property="reportcontent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, CREDITCODE, LOANCARDNO, CORPNO, REGISTERTYPE, REGISTERNO, GSREGINO, DSREGINO, 
    REPORTTYPE, REPORTACQUIRETIME, PARSESTATUS, ISLATEST
  </sql>
  <sql id="Blob_Column_List">
    REPORTCONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zxjk.credit2query.pojo.Crt2CReportmainExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from CRT2_C_REPORTMAIN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CReportmainExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_REPORTMAIN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CReportmainExample">
    delete from CRT2_C_REPORTMAIN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CReportmain">
    insert into CRT2_C_REPORTMAIN (REPORTID, CREDITCODE, LOANCARDNO, 
      CORPNO, REGISTERTYPE, REGISTERNO, 
      GSREGINO, DSREGINO, REPORTTYPE, 
      REPORTACQUIRETIME, PARSESTATUS, ISLATEST, 
      REPORTCONTENT)
    values (#{reportid,jdbcType=VARCHAR}, #{creditcode,jdbcType=VARCHAR}, #{loancardno,jdbcType=VARCHAR}, 
      #{corpno,jdbcType=VARCHAR}, #{registertype,jdbcType=VARCHAR}, #{registerno,jdbcType=VARCHAR}, 
      #{gsregino,jdbcType=VARCHAR}, #{dsregino,jdbcType=VARCHAR}, #{reporttype,jdbcType=VARCHAR}, 
      #{reportacquiretime,jdbcType=TIMESTAMP}, #{parsestatus,jdbcType=VARCHAR}, #{islatest,jdbcType=VARCHAR}, 
      #{reportcontent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CReportmain">
    insert into CRT2_C_REPORTMAIN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="creditcode != null">
        CREDITCODE,
      </if>
      <if test="loancardno != null">
        LOANCARDNO,
      </if>
      <if test="corpno != null">
        CORPNO,
      </if>
      <if test="registertype != null">
        REGISTERTYPE,
      </if>
      <if test="registerno != null">
        REGISTERNO,
      </if>
      <if test="gsregino != null">
        GSREGINO,
      </if>
      <if test="dsregino != null">
        DSREGINO,
      </if>
      <if test="reporttype != null">
        REPORTTYPE,
      </if>
      <if test="reportacquiretime != null">
        REPORTACQUIRETIME,
      </if>
      <if test="parsestatus != null">
        PARSESTATUS,
      </if>
      <if test="islatest != null">
        ISLATEST,
      </if>
      <if test="reportcontent != null">
        REPORTCONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="creditcode != null">
        #{creditcode,jdbcType=VARCHAR},
      </if>
      <if test="loancardno != null">
        #{loancardno,jdbcType=VARCHAR},
      </if>
      <if test="corpno != null">
        #{corpno,jdbcType=VARCHAR},
      </if>
      <if test="registertype != null">
        #{registertype,jdbcType=VARCHAR},
      </if>
      <if test="registerno != null">
        #{registerno,jdbcType=VARCHAR},
      </if>
      <if test="gsregino != null">
        #{gsregino,jdbcType=VARCHAR},
      </if>
      <if test="dsregino != null">
        #{dsregino,jdbcType=VARCHAR},
      </if>
      <if test="reporttype != null">
        #{reporttype,jdbcType=VARCHAR},
      </if>
      <if test="reportacquiretime != null">
        #{reportacquiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="parsestatus != null">
        #{parsestatus,jdbcType=VARCHAR},
      </if>
      <if test="islatest != null">
        #{islatest,jdbcType=VARCHAR},
      </if>
      <if test="reportcontent != null">
        #{reportcontent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CReportmainExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_REPORTMAIN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_REPORTMAIN
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.creditcode != null">
        CREDITCODE = #{record.creditcode,jdbcType=VARCHAR},
      </if>
      <if test="record.loancardno != null">
        LOANCARDNO = #{record.loancardno,jdbcType=VARCHAR},
      </if>
      <if test="record.corpno != null">
        CORPNO = #{record.corpno,jdbcType=VARCHAR},
      </if>
      <if test="record.registertype != null">
        REGISTERTYPE = #{record.registertype,jdbcType=VARCHAR},
      </if>
      <if test="record.registerno != null">
        REGISTERNO = #{record.registerno,jdbcType=VARCHAR},
      </if>
      <if test="record.gsregino != null">
        GSREGINO = #{record.gsregino,jdbcType=VARCHAR},
      </if>
      <if test="record.dsregino != null">
        DSREGINO = #{record.dsregino,jdbcType=VARCHAR},
      </if>
      <if test="record.reporttype != null">
        REPORTTYPE = #{record.reporttype,jdbcType=VARCHAR},
      </if>
      <if test="record.reportacquiretime != null">
        REPORTACQUIRETIME = #{record.reportacquiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.parsestatus != null">
        PARSESTATUS = #{record.parsestatus,jdbcType=VARCHAR},
      </if>
      <if test="record.islatest != null">
        ISLATEST = #{record.islatest,jdbcType=VARCHAR},
      </if>
      <if test="record.reportcontent != null">
        REPORTCONTENT = #{record.reportcontent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update CRT2_C_REPORTMAIN
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      CREDITCODE = #{record.creditcode,jdbcType=VARCHAR},
      LOANCARDNO = #{record.loancardno,jdbcType=VARCHAR},
      CORPNO = #{record.corpno,jdbcType=VARCHAR},
      REGISTERTYPE = #{record.registertype,jdbcType=VARCHAR},
      REGISTERNO = #{record.registerno,jdbcType=VARCHAR},
      GSREGINO = #{record.gsregino,jdbcType=VARCHAR},
      DSREGINO = #{record.dsregino,jdbcType=VARCHAR},
      REPORTTYPE = #{record.reporttype,jdbcType=VARCHAR},
      REPORTACQUIRETIME = #{record.reportacquiretime,jdbcType=TIMESTAMP},
      PARSESTATUS = #{record.parsestatus,jdbcType=VARCHAR},
      ISLATEST = #{record.islatest,jdbcType=VARCHAR},
      REPORTCONTENT = #{record.reportcontent,jdbcType=CLOB}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_REPORTMAIN
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      CREDITCODE = #{record.creditcode,jdbcType=VARCHAR},
      LOANCARDNO = #{record.loancardno,jdbcType=VARCHAR},
      CORPNO = #{record.corpno,jdbcType=VARCHAR},
      REGISTERTYPE = #{record.registertype,jdbcType=VARCHAR},
      REGISTERNO = #{record.registerno,jdbcType=VARCHAR},
      GSREGINO = #{record.gsregino,jdbcType=VARCHAR},
      DSREGINO = #{record.dsregino,jdbcType=VARCHAR},
      REPORTTYPE = #{record.reporttype,jdbcType=VARCHAR},
      REPORTACQUIRETIME = #{record.reportacquiretime,jdbcType=TIMESTAMP},
      PARSESTATUS = #{record.parsestatus,jdbcType=VARCHAR},
      ISLATEST = #{record.islatest,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CReportmain">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="REPORTTYPE" jdbcType="VARCHAR" property="reporttype" />
    <result column="REPORTACQUIRETIME" jdbcType="TIMESTAMP" property="reportacquiretime" />
    <result column="PARSESTATUS" jdbcType="VARCHAR" property="parsestatus" />
    <result column="ISLATEST" jdbcType="VARCHAR" property="islatest" />
    <result column="ENTCERTTYPE" jdbcType="VARCHAR" property="entcerttype" />
    <result column="ENTCERTNUM" jdbcType="VARCHAR" property="entcertnum" />
    <result column="PRINTCOUNT" jdbcType="DECIMAL" property="printcount" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zxjk.credit2query.pojo.Crt2CReportmainWithBLOBs">
    <result column="REPORTCONTENT" jdbcType="CLOB" property="reportcontent" />
    <result column="HTMLCONTENT" jdbcType="CLOB" property="htmlcontent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, REPORTTYPE, REPORTACQUIRETIME, PARSESTATUS, ISLATEST, ENTCERTTYPE, ENTCERTNUM, 
    PRINTCOUNT
  </sql>
  <sql id="Blob_Column_List">
    REPORTCONTENT, HTMLCONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zxjk.credit2query.pojo.Crt2CReportmainExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from CRT2_C_REPORTMAIN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CReportmainExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_REPORTMAIN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CReportmainExample">
    delete from CRT2_C_REPORTMAIN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CReportmainWithBLOBs">
    insert into CRT2_C_REPORTMAIN (REPORTID, REPORTTYPE, REPORTACQUIRETIME, 
      PARSESTATUS, ISLATEST, ENTCERTTYPE, 
      ENTCERTNUM, PRINTCOUNT, REPORTCONTENT, 
      HTMLCONTENT)
    values (#{reportid,jdbcType=VARCHAR}, #{reporttype,jdbcType=VARCHAR}, #{reportacquiretime,jdbcType=TIMESTAMP}, 
      #{parsestatus,jdbcType=VARCHAR}, #{islatest,jdbcType=VARCHAR}, #{entcerttype,jdbcType=VARCHAR}, 
      #{entcertnum,jdbcType=VARCHAR}, #{printcount,jdbcType=DECIMAL}, #{reportcontent,jdbcType=CLOB}, 
      #{htmlcontent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CReportmainWithBLOBs">
    insert into CRT2_C_REPORTMAIN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="reporttype != null">
        REPORTTYPE,
      </if>
      <if test="reportacquiretime != null">
        REPORTACQUIRETIME,
      </if>
      <if test="parsestatus != null">
        PARSESTATUS,
      </if>
      <if test="islatest != null">
        ISLATEST,
      </if>
      <if test="entcerttype != null">
        ENTCERTTYPE,
      </if>
      <if test="entcertnum != null">
        ENTCERTNUM,
      </if>
      <if test="printcount != null">
        PRINTCOUNT,
      </if>
      <if test="reportcontent != null">
        REPORTCONTENT,
      </if>
      <if test="htmlcontent != null">
        HTMLCONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="reporttype != null">
        #{reporttype,jdbcType=VARCHAR},
      </if>
      <if test="reportacquiretime != null">
        #{reportacquiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="parsestatus != null">
        #{parsestatus,jdbcType=VARCHAR},
      </if>
      <if test="islatest != null">
        #{islatest,jdbcType=VARCHAR},
      </if>
      <if test="entcerttype != null">
        #{entcerttype,jdbcType=VARCHAR},
      </if>
      <if test="entcertnum != null">
        #{entcertnum,jdbcType=VARCHAR},
      </if>
      <if test="printcount != null">
        #{printcount,jdbcType=DECIMAL},
      </if>
      <if test="reportcontent != null">
        #{reportcontent,jdbcType=CLOB},
      </if>
      <if test="htmlcontent != null">
        #{htmlcontent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CReportmainExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_REPORTMAIN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_REPORTMAIN
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.reporttype != null">
        REPORTTYPE = #{record.reporttype,jdbcType=VARCHAR},
      </if>
      <if test="record.reportacquiretime != null">
        REPORTACQUIRETIME = #{record.reportacquiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.parsestatus != null">
        PARSESTATUS = #{record.parsestatus,jdbcType=VARCHAR},
      </if>
      <if test="record.islatest != null">
        ISLATEST = #{record.islatest,jdbcType=VARCHAR},
      </if>
      <if test="record.entcerttype != null">
        ENTCERTTYPE = #{record.entcerttype,jdbcType=VARCHAR},
      </if>
      <if test="record.entcertnum != null">
        ENTCERTNUM = #{record.entcertnum,jdbcType=VARCHAR},
      </if>
      <if test="record.printcount != null">
        PRINTCOUNT = #{record.printcount,jdbcType=DECIMAL},
      </if>
      <if test="record.reportcontent != null">
        REPORTCONTENT = #{record.reportcontent,jdbcType=CLOB},
      </if>
      <if test="record.htmlcontent != null">
        HTMLCONTENT = #{record.htmlcontent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update CRT2_C_REPORTMAIN
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      REPORTTYPE = #{record.reporttype,jdbcType=VARCHAR},
      REPORTACQUIRETIME = #{record.reportacquiretime,jdbcType=TIMESTAMP},
      PARSESTATUS = #{record.parsestatus,jdbcType=VARCHAR},
      ISLATEST = #{record.islatest,jdbcType=VARCHAR},
      ENTCERTTYPE = #{record.entcerttype,jdbcType=VARCHAR},
      ENTCERTNUM = #{record.entcertnum,jdbcType=VARCHAR},
      PRINTCOUNT = #{record.printcount,jdbcType=DECIMAL},
      REPORTCONTENT = #{record.reportcontent,jdbcType=CLOB},
      HTMLCONTENT = #{record.htmlcontent,jdbcType=CLOB}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_REPORTMAIN
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      REPORTTYPE = #{record.reporttype,jdbcType=VARCHAR},
      REPORTACQUIRETIME = #{record.reportacquiretime,jdbcType=TIMESTAMP},
      PARSESTATUS = #{record.parsestatus,jdbcType=VARCHAR},
      ISLATEST = #{record.islatest,jdbcType=VARCHAR},
      ENTCERTTYPE = #{record.entcerttype,jdbcType=VARCHAR},
      ENTCERTNUM = #{record.entcertnum,jdbcType=VARCHAR},
      PRINTCOUNT = #{record.printcount,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>