<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CRrdiscountingMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CRrdiscounting">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="DISCOUNTACCOUNTID" jdbcType="VARCHAR" property="discountaccountid" />
    <result column="REPAYMENTTYPE" jdbcType="VARCHAR" property="repaymenttype" />
    <result column="MECHANISMTYPE" jdbcType="VARCHAR" property="mechanismtype" />
    <result column="MECHANISMCODE" jdbcType="VARCHAR" property="mechanismcode" />
    <result column="BUSINESSEGMENTATION" jdbcType="VARCHAR" property="businessegmentation" />
    <result column="FIVELEVEL" jdbcType="VARCHAR" property="fivelevel" />
    <result column="REPAYMENTLIMIT" jdbcType="VARCHAR" property="repaymentlimit" />
    <result column="ACCOUNTNUMBER" jdbcType="VARCHAR" property="accountnumber" />
    <result column="BALANCE" jdbcType="VARCHAR" property="balance" />
    <result column="TOTALOVERDUE" jdbcType="VARCHAR" property="totaloverdue" />
    <result column="OVERDUEPRINCIPAL" jdbcType="VARCHAR" property="overdueprincipal" />
    <result column="LOANAMOUNT" jdbcType="VARCHAR" property="loanamount" />
    <result column="GUARANTEECONTRACTNUMBER" jdbcType="VARCHAR" property="guaranteecontractnumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, DISCOUNTACCOUNTID, REPAYMENTTYPE, MECHANISMTYPE, MECHANISMCODE, BUSINESSEGMENTATION, 
    FIVELEVEL, REPAYMENTLIMIT, ACCOUNTNUMBER, BALANCE, TOTALOVERDUE, OVERDUEPRINCIPAL, 
    LOANAMOUNT, GUARANTEECONTRACTNUMBER
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CRrdiscountingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_RRDISCOUNTING
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CRrdiscountingExample">
    delete from CRT2_C_RRDISCOUNTING
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CRrdiscounting">
    insert into CRT2_C_RRDISCOUNTING (REPORTID, DISCOUNTACCOUNTID, REPAYMENTTYPE, 
      MECHANISMTYPE, MECHANISMCODE, BUSINESSEGMENTATION, 
      FIVELEVEL, REPAYMENTLIMIT, ACCOUNTNUMBER, 
      BALANCE, TOTALOVERDUE, OVERDUEPRINCIPAL, 
      LOANAMOUNT, GUARANTEECONTRACTNUMBER)
    values (#{reportid,jdbcType=VARCHAR}, #{discountaccountid,jdbcType=VARCHAR}, #{repaymenttype,jdbcType=VARCHAR}, 
      #{mechanismtype,jdbcType=VARCHAR}, #{mechanismcode,jdbcType=VARCHAR}, #{businessegmentation,jdbcType=VARCHAR}, 
      #{fivelevel,jdbcType=VARCHAR}, #{repaymentlimit,jdbcType=VARCHAR}, #{accountnumber,jdbcType=VARCHAR}, 
      #{balance,jdbcType=VARCHAR}, #{totaloverdue,jdbcType=VARCHAR}, #{overdueprincipal,jdbcType=VARCHAR}, 
      #{loanamount,jdbcType=VARCHAR}, #{guaranteecontractnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CRrdiscounting">
    insert into CRT2_C_RRDISCOUNTING
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="discountaccountid != null">
        DISCOUNTACCOUNTID,
      </if>
      <if test="repaymenttype != null">
        REPAYMENTTYPE,
      </if>
      <if test="mechanismtype != null">
        MECHANISMTYPE,
      </if>
      <if test="mechanismcode != null">
        MECHANISMCODE,
      </if>
      <if test="businessegmentation != null">
        BUSINESSEGMENTATION,
      </if>
      <if test="fivelevel != null">
        FIVELEVEL,
      </if>
      <if test="repaymentlimit != null">
        REPAYMENTLIMIT,
      </if>
      <if test="accountnumber != null">
        ACCOUNTNUMBER,
      </if>
      <if test="balance != null">
        BALANCE,
      </if>
      <if test="totaloverdue != null">
        TOTALOVERDUE,
      </if>
      <if test="overdueprincipal != null">
        OVERDUEPRINCIPAL,
      </if>
      <if test="loanamount != null">
        LOANAMOUNT,
      </if>
      <if test="guaranteecontractnumber != null">
        GUARANTEECONTRACTNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="discountaccountid != null">
        #{discountaccountid,jdbcType=VARCHAR},
      </if>
      <if test="repaymenttype != null">
        #{repaymenttype,jdbcType=VARCHAR},
      </if>
      <if test="mechanismtype != null">
        #{mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="mechanismcode != null">
        #{mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="businessegmentation != null">
        #{businessegmentation,jdbcType=VARCHAR},
      </if>
      <if test="fivelevel != null">
        #{fivelevel,jdbcType=VARCHAR},
      </if>
      <if test="repaymentlimit != null">
        #{repaymentlimit,jdbcType=VARCHAR},
      </if>
      <if test="accountnumber != null">
        #{accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=VARCHAR},
      </if>
      <if test="totaloverdue != null">
        #{totaloverdue,jdbcType=VARCHAR},
      </if>
      <if test="overdueprincipal != null">
        #{overdueprincipal,jdbcType=VARCHAR},
      </if>
      <if test="loanamount != null">
        #{loanamount,jdbcType=VARCHAR},
      </if>
      <if test="guaranteecontractnumber != null">
        #{guaranteecontractnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CRrdiscountingExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_RRDISCOUNTING
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_RRDISCOUNTING
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.discountaccountid != null">
        DISCOUNTACCOUNTID = #{record.discountaccountid,jdbcType=VARCHAR},
      </if>
      <if test="record.repaymenttype != null">
        REPAYMENTTYPE = #{record.repaymenttype,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismtype != null">
        MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismcode != null">
        MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="record.businessegmentation != null">
        BUSINESSEGMENTATION = #{record.businessegmentation,jdbcType=VARCHAR},
      </if>
      <if test="record.fivelevel != null">
        FIVELEVEL = #{record.fivelevel,jdbcType=VARCHAR},
      </if>
      <if test="record.repaymentlimit != null">
        REPAYMENTLIMIT = #{record.repaymentlimit,jdbcType=VARCHAR},
      </if>
      <if test="record.accountnumber != null">
        ACCOUNTNUMBER = #{record.accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.balance != null">
        BALANCE = #{record.balance,jdbcType=VARCHAR},
      </if>
      <if test="record.totaloverdue != null">
        TOTALOVERDUE = #{record.totaloverdue,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueprincipal != null">
        OVERDUEPRINCIPAL = #{record.overdueprincipal,jdbcType=VARCHAR},
      </if>
      <if test="record.loanamount != null">
        LOANAMOUNT = #{record.loanamount,jdbcType=VARCHAR},
      </if>
      <if test="record.guaranteecontractnumber != null">
        GUARANTEECONTRACTNUMBER = #{record.guaranteecontractnumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_RRDISCOUNTING
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      DISCOUNTACCOUNTID = #{record.discountaccountid,jdbcType=VARCHAR},
      REPAYMENTTYPE = #{record.repaymenttype,jdbcType=VARCHAR},
      MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      BUSINESSEGMENTATION = #{record.businessegmentation,jdbcType=VARCHAR},
      FIVELEVEL = #{record.fivelevel,jdbcType=VARCHAR},
      REPAYMENTLIMIT = #{record.repaymentlimit,jdbcType=VARCHAR},
      ACCOUNTNUMBER = #{record.accountnumber,jdbcType=VARCHAR},
      BALANCE = #{record.balance,jdbcType=VARCHAR},
      TOTALOVERDUE = #{record.totaloverdue,jdbcType=VARCHAR},
      OVERDUEPRINCIPAL = #{record.overdueprincipal,jdbcType=VARCHAR},
      LOANAMOUNT = #{record.loanamount,jdbcType=VARCHAR},
      GUARANTEECONTRACTNUMBER = #{record.guaranteecontractnumber,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>