<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CEntblsheet02Mapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CEntblsheet02">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="FINANCEID" jdbcType="VARCHAR" property="financeid" />
    <result column="MECHANISMTYPE" jdbcType="VARCHAR" property="mechanismtype" />
    <result column="MECHANISMCODE" jdbcType="VARCHAR" property="mechanismcode" />
    <result column="REPORTYEAR" jdbcType="VARCHAR" property="reportyear" />
    <result column="REPORTTYPE" jdbcType="VARCHAR" property="reporttype" />
    <result column="REPORTTYPESUB" jdbcType="VARCHAR" property="reporttypesub" />
    <result column="EG01BJ01" jdbcType="VARCHAR" property="eg01bj01" />
    <result column="EG01BJ02" jdbcType="VARCHAR" property="eg01bj02" />
    <result column="EG01BJ03" jdbcType="VARCHAR" property="eg01bj03" />
    <result column="EG01BJ04" jdbcType="VARCHAR" property="eg01bj04" />
    <result column="EG01BJ05" jdbcType="VARCHAR" property="eg01bj05" />
    <result column="EG01BJ06" jdbcType="VARCHAR" property="eg01bj06" />
    <result column="EG01BJ07" jdbcType="VARCHAR" property="eg01bj07" />
    <result column="EG01BJ08" jdbcType="VARCHAR" property="eg01bj08" />
    <result column="EG01BJ09" jdbcType="VARCHAR" property="eg01bj09" />
    <result column="EG01BJ10" jdbcType="VARCHAR" property="eg01bj10" />
    <result column="EG01BJ11" jdbcType="VARCHAR" property="eg01bj11" />
    <result column="EG01BJ12" jdbcType="VARCHAR" property="eg01bj12" />
    <result column="EG01BJ13" jdbcType="VARCHAR" property="eg01bj13" />
    <result column="EG01BJ14" jdbcType="VARCHAR" property="eg01bj14" />
    <result column="EG01BJ15" jdbcType="VARCHAR" property="eg01bj15" />
    <result column="EG01BJ16" jdbcType="VARCHAR" property="eg01bj16" />
    <result column="EG01BJ17" jdbcType="VARCHAR" property="eg01bj17" />
    <result column="EG01BJ18" jdbcType="VARCHAR" property="eg01bj18" />
    <result column="EG01BJ19" jdbcType="VARCHAR" property="eg01bj19" />
    <result column="EG01BJ20" jdbcType="VARCHAR" property="eg01bj20" />
    <result column="EG01BJ21" jdbcType="VARCHAR" property="eg01bj21" />
    <result column="EG01BJ22" jdbcType="VARCHAR" property="eg01bj22" />
    <result column="EG01BJ23" jdbcType="VARCHAR" property="eg01bj23" />
    <result column="EG01BJ24" jdbcType="VARCHAR" property="eg01bj24" />
    <result column="EG01BJ25" jdbcType="VARCHAR" property="eg01bj25" />
    <result column="EG01BJ26" jdbcType="VARCHAR" property="eg01bj26" />
    <result column="EG01BJ27" jdbcType="VARCHAR" property="eg01bj27" />
    <result column="EG01BJ28" jdbcType="VARCHAR" property="eg01bj28" />
    <result column="EG01BJ29" jdbcType="VARCHAR" property="eg01bj29" />
    <result column="EG01BJ30" jdbcType="VARCHAR" property="eg01bj30" />
    <result column="EG01BJ31" jdbcType="VARCHAR" property="eg01bj31" />
    <result column="EG01BJ32" jdbcType="VARCHAR" property="eg01bj32" />
    <result column="EG01BJ33" jdbcType="VARCHAR" property="eg01bj33" />
    <result column="EG01BJ34" jdbcType="VARCHAR" property="eg01bj34" />
    <result column="EG01BJ35" jdbcType="VARCHAR" property="eg01bj35" />
    <result column="EG01BJ36" jdbcType="VARCHAR" property="eg01bj36" />
    <result column="EG01BJ37" jdbcType="VARCHAR" property="eg01bj37" />
    <result column="EG01BJ38" jdbcType="VARCHAR" property="eg01bj38" />
    <result column="EG01BJ39" jdbcType="VARCHAR" property="eg01bj39" />
    <result column="EG01BJ40" jdbcType="VARCHAR" property="eg01bj40" />
    <result column="EG01BJ41" jdbcType="VARCHAR" property="eg01bj41" />
    <result column="EG01BJ42" jdbcType="VARCHAR" property="eg01bj42" />
    <result column="EG01BJ43" jdbcType="VARCHAR" property="eg01bj43" />
    <result column="EG01BJ44" jdbcType="VARCHAR" property="eg01bj44" />
    <result column="EG01BJ45" jdbcType="VARCHAR" property="eg01bj45" />
    <result column="EG01BJ46" jdbcType="VARCHAR" property="eg01bj46" />
    <result column="EG01BJ47" jdbcType="VARCHAR" property="eg01bj47" />
    <result column="EG01BJ48" jdbcType="VARCHAR" property="eg01bj48" />
    <result column="EG01BJ49" jdbcType="VARCHAR" property="eg01bj49" />
    <result column="EG01BJ50" jdbcType="VARCHAR" property="eg01bj50" />
    <result column="EG01BJ51" jdbcType="VARCHAR" property="eg01bj51" />
    <result column="EG01BJ52" jdbcType="VARCHAR" property="eg01bj52" />
    <result column="EG01BJ53" jdbcType="VARCHAR" property="eg01bj53" />
    <result column="EG01BJ54" jdbcType="VARCHAR" property="eg01bj54" />
    <result column="EG01BJ55" jdbcType="VARCHAR" property="eg01bj55" />
    <result column="EG01BJ56" jdbcType="VARCHAR" property="eg01bj56" />
    <result column="EG01BJ57" jdbcType="VARCHAR" property="eg01bj57" />
    <result column="EG01BJ58" jdbcType="VARCHAR" property="eg01bj58" />
    <result column="EG01BJ59" jdbcType="VARCHAR" property="eg01bj59" />
    <result column="EG01BJ60" jdbcType="VARCHAR" property="eg01bj60" />
    <result column="EG01BJ61" jdbcType="VARCHAR" property="eg01bj61" />
    <result column="EG01BJ62" jdbcType="VARCHAR" property="eg01bj62" />
    <result column="EG01BJ63" jdbcType="VARCHAR" property="eg01bj63" />
    <result column="EG01BJ64" jdbcType="VARCHAR" property="eg01bj64" />
    <result column="EG01BJ65" jdbcType="VARCHAR" property="eg01bj65" />
    <result column="EG01BJ66" jdbcType="VARCHAR" property="eg01bj66" />
    <result column="EG01BJ67" jdbcType="VARCHAR" property="eg01bj67" />
    <result column="EG01BJ68" jdbcType="VARCHAR" property="eg01bj68" />
    <result column="EG01BJ69" jdbcType="VARCHAR" property="eg01bj69" />
    <result column="EG01BJ70" jdbcType="VARCHAR" property="eg01bj70" />
    <result column="EG01BJ71" jdbcType="VARCHAR" property="eg01bj71" />
    <result column="EG01BJ72" jdbcType="VARCHAR" property="eg01bj72" />
    <result column="EG01BJ73" jdbcType="VARCHAR" property="eg01bj73" />
    <result column="EG01BJ74" jdbcType="VARCHAR" property="eg01bj74" />
    <result column="EG01BJ75" jdbcType="VARCHAR" property="eg01bj75" />
    <result column="EG01BJ76" jdbcType="VARCHAR" property="eg01bj76" />
    <result column="EG01BJ77" jdbcType="VARCHAR" property="eg01bj77" />
    <result column="EG01BJ78" jdbcType="VARCHAR" property="eg01bj78" />
    <result column="EG01BJ79" jdbcType="VARCHAR" property="eg01bj79" />
    <result column="EG01BJ80" jdbcType="VARCHAR" property="eg01bj80" />
    <result column="EG01BJ81" jdbcType="VARCHAR" property="eg01bj81" />
    <result column="EG01BJ82" jdbcType="VARCHAR" property="eg01bj82" />
    <result column="EG01BJ83" jdbcType="VARCHAR" property="eg01bj83" />
    <result column="EG01BJ84" jdbcType="VARCHAR" property="eg01bj84" />
    <result column="EG01BJ85" jdbcType="VARCHAR" property="eg01bj85" />
    <result column="EG01BJ86" jdbcType="VARCHAR" property="eg01bj86" />
    <result column="EG01BJ87" jdbcType="VARCHAR" property="eg01bj87" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, FINANCEID, MECHANISMTYPE, MECHANISMCODE, REPORTYEAR, REPORTTYPE, REPORTTYPESUB, 
    EG01BJ01, EG01BJ02, EG01BJ03, EG01BJ04, EG01BJ05, EG01BJ06, EG01BJ07, EG01BJ08, EG01BJ09, 
    EG01BJ10, EG01BJ11, EG01BJ12, EG01BJ13, EG01BJ14, EG01BJ15, EG01BJ16, EG01BJ17, EG01BJ18, 
    EG01BJ19, EG01BJ20, EG01BJ21, EG01BJ22, EG01BJ23, EG01BJ24, EG01BJ25, EG01BJ26, EG01BJ27, 
    EG01BJ28, EG01BJ29, EG01BJ30, EG01BJ31, EG01BJ32, EG01BJ33, EG01BJ34, EG01BJ35, EG01BJ36, 
    EG01BJ37, EG01BJ38, EG01BJ39, EG01BJ40, EG01BJ41, EG01BJ42, EG01BJ43, EG01BJ44, EG01BJ45, 
    EG01BJ46, EG01BJ47, EG01BJ48, EG01BJ49, EG01BJ50, EG01BJ51, EG01BJ52, EG01BJ53, EG01BJ54, 
    EG01BJ55, EG01BJ56, EG01BJ57, EG01BJ58, EG01BJ59, EG01BJ60, EG01BJ61, EG01BJ62, EG01BJ63, 
    EG01BJ64, EG01BJ65, EG01BJ66, EG01BJ67, EG01BJ68, EG01BJ69, EG01BJ70, EG01BJ71, EG01BJ72, 
    EG01BJ73, EG01BJ74, EG01BJ75, EG01BJ76, EG01BJ77, EG01BJ78, EG01BJ79, EG01BJ80, EG01BJ81, 
    EG01BJ82, EG01BJ83, EG01BJ84, EG01BJ85, EG01BJ86, EG01BJ87
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CEntblsheet02Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_ENTBLSHEET02
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CEntblsheet02Example">
    delete from CRT2_C_ENTBLSHEET02
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CEntblsheet02">
    insert into CRT2_C_ENTBLSHEET02 (REPORTID, FINANCEID, MECHANISMTYPE, 
      MECHANISMCODE, REPORTYEAR, REPORTTYPE, 
      REPORTTYPESUB, EG01BJ01, EG01BJ02, 
      EG01BJ03, EG01BJ04, EG01BJ05, 
      EG01BJ06, EG01BJ07, EG01BJ08, 
      EG01BJ09, EG01BJ10, EG01BJ11, 
      EG01BJ12, EG01BJ13, EG01BJ14, 
      EG01BJ15, EG01BJ16, EG01BJ17, 
      EG01BJ18, EG01BJ19, EG01BJ20, 
      EG01BJ21, EG01BJ22, EG01BJ23, 
      EG01BJ24, EG01BJ25, EG01BJ26, 
      EG01BJ27, EG01BJ28, EG01BJ29, 
      EG01BJ30, EG01BJ31, EG01BJ32, 
      EG01BJ33, EG01BJ34, EG01BJ35, 
      EG01BJ36, EG01BJ37, EG01BJ38, 
      EG01BJ39, EG01BJ40, EG01BJ41, 
      EG01BJ42, EG01BJ43, EG01BJ44, 
      EG01BJ45, EG01BJ46, EG01BJ47, 
      EG01BJ48, EG01BJ49, EG01BJ50, 
      EG01BJ51, EG01BJ52, EG01BJ53, 
      EG01BJ54, EG01BJ55, EG01BJ56, 
      EG01BJ57, EG01BJ58, EG01BJ59, 
      EG01BJ60, EG01BJ61, EG01BJ62, 
      EG01BJ63, EG01BJ64, EG01BJ65, 
      EG01BJ66, EG01BJ67, EG01BJ68, 
      EG01BJ69, EG01BJ70, EG01BJ71, 
      EG01BJ72, EG01BJ73, EG01BJ74, 
      EG01BJ75, EG01BJ76, EG01BJ77, 
      EG01BJ78, EG01BJ79, EG01BJ80, 
      EG01BJ81, EG01BJ82, EG01BJ83, 
      EG01BJ84, EG01BJ85, EG01BJ86, 
      EG01BJ87)
    values (#{reportid,jdbcType=VARCHAR}, #{financeid,jdbcType=VARCHAR}, #{mechanismtype,jdbcType=VARCHAR}, 
      #{mechanismcode,jdbcType=VARCHAR}, #{reportyear,jdbcType=VARCHAR}, #{reporttype,jdbcType=VARCHAR}, 
      #{reporttypesub,jdbcType=VARCHAR}, #{eg01bj01,jdbcType=VARCHAR}, #{eg01bj02,jdbcType=VARCHAR}, 
      #{eg01bj03,jdbcType=VARCHAR}, #{eg01bj04,jdbcType=VARCHAR}, #{eg01bj05,jdbcType=VARCHAR}, 
      #{eg01bj06,jdbcType=VARCHAR}, #{eg01bj07,jdbcType=VARCHAR}, #{eg01bj08,jdbcType=VARCHAR}, 
      #{eg01bj09,jdbcType=VARCHAR}, #{eg01bj10,jdbcType=VARCHAR}, #{eg01bj11,jdbcType=VARCHAR}, 
      #{eg01bj12,jdbcType=VARCHAR}, #{eg01bj13,jdbcType=VARCHAR}, #{eg01bj14,jdbcType=VARCHAR}, 
      #{eg01bj15,jdbcType=VARCHAR}, #{eg01bj16,jdbcType=VARCHAR}, #{eg01bj17,jdbcType=VARCHAR}, 
      #{eg01bj18,jdbcType=VARCHAR}, #{eg01bj19,jdbcType=VARCHAR}, #{eg01bj20,jdbcType=VARCHAR}, 
      #{eg01bj21,jdbcType=VARCHAR}, #{eg01bj22,jdbcType=VARCHAR}, #{eg01bj23,jdbcType=VARCHAR}, 
      #{eg01bj24,jdbcType=VARCHAR}, #{eg01bj25,jdbcType=VARCHAR}, #{eg01bj26,jdbcType=VARCHAR}, 
      #{eg01bj27,jdbcType=VARCHAR}, #{eg01bj28,jdbcType=VARCHAR}, #{eg01bj29,jdbcType=VARCHAR}, 
      #{eg01bj30,jdbcType=VARCHAR}, #{eg01bj31,jdbcType=VARCHAR}, #{eg01bj32,jdbcType=VARCHAR}, 
      #{eg01bj33,jdbcType=VARCHAR}, #{eg01bj34,jdbcType=VARCHAR}, #{eg01bj35,jdbcType=VARCHAR}, 
      #{eg01bj36,jdbcType=VARCHAR}, #{eg01bj37,jdbcType=VARCHAR}, #{eg01bj38,jdbcType=VARCHAR}, 
      #{eg01bj39,jdbcType=VARCHAR}, #{eg01bj40,jdbcType=VARCHAR}, #{eg01bj41,jdbcType=VARCHAR}, 
      #{eg01bj42,jdbcType=VARCHAR}, #{eg01bj43,jdbcType=VARCHAR}, #{eg01bj44,jdbcType=VARCHAR}, 
      #{eg01bj45,jdbcType=VARCHAR}, #{eg01bj46,jdbcType=VARCHAR}, #{eg01bj47,jdbcType=VARCHAR}, 
      #{eg01bj48,jdbcType=VARCHAR}, #{eg01bj49,jdbcType=VARCHAR}, #{eg01bj50,jdbcType=VARCHAR}, 
      #{eg01bj51,jdbcType=VARCHAR}, #{eg01bj52,jdbcType=VARCHAR}, #{eg01bj53,jdbcType=VARCHAR}, 
      #{eg01bj54,jdbcType=VARCHAR}, #{eg01bj55,jdbcType=VARCHAR}, #{eg01bj56,jdbcType=VARCHAR}, 
      #{eg01bj57,jdbcType=VARCHAR}, #{eg01bj58,jdbcType=VARCHAR}, #{eg01bj59,jdbcType=VARCHAR}, 
      #{eg01bj60,jdbcType=VARCHAR}, #{eg01bj61,jdbcType=VARCHAR}, #{eg01bj62,jdbcType=VARCHAR}, 
      #{eg01bj63,jdbcType=VARCHAR}, #{eg01bj64,jdbcType=VARCHAR}, #{eg01bj65,jdbcType=VARCHAR}, 
      #{eg01bj66,jdbcType=VARCHAR}, #{eg01bj67,jdbcType=VARCHAR}, #{eg01bj68,jdbcType=VARCHAR}, 
      #{eg01bj69,jdbcType=VARCHAR}, #{eg01bj70,jdbcType=VARCHAR}, #{eg01bj71,jdbcType=VARCHAR}, 
      #{eg01bj72,jdbcType=VARCHAR}, #{eg01bj73,jdbcType=VARCHAR}, #{eg01bj74,jdbcType=VARCHAR}, 
      #{eg01bj75,jdbcType=VARCHAR}, #{eg01bj76,jdbcType=VARCHAR}, #{eg01bj77,jdbcType=VARCHAR}, 
      #{eg01bj78,jdbcType=VARCHAR}, #{eg01bj79,jdbcType=VARCHAR}, #{eg01bj80,jdbcType=VARCHAR}, 
      #{eg01bj81,jdbcType=VARCHAR}, #{eg01bj82,jdbcType=VARCHAR}, #{eg01bj83,jdbcType=VARCHAR}, 
      #{eg01bj84,jdbcType=VARCHAR}, #{eg01bj85,jdbcType=VARCHAR}, #{eg01bj86,jdbcType=VARCHAR}, 
      #{eg01bj87,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CEntblsheet02">
    insert into CRT2_C_ENTBLSHEET02
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="financeid != null">
        FINANCEID,
      </if>
      <if test="mechanismtype != null">
        MECHANISMTYPE,
      </if>
      <if test="mechanismcode != null">
        MECHANISMCODE,
      </if>
      <if test="reportyear != null">
        REPORTYEAR,
      </if>
      <if test="reporttype != null">
        REPORTTYPE,
      </if>
      <if test="reporttypesub != null">
        REPORTTYPESUB,
      </if>
      <if test="eg01bj01 != null">
        EG01BJ01,
      </if>
      <if test="eg01bj02 != null">
        EG01BJ02,
      </if>
      <if test="eg01bj03 != null">
        EG01BJ03,
      </if>
      <if test="eg01bj04 != null">
        EG01BJ04,
      </if>
      <if test="eg01bj05 != null">
        EG01BJ05,
      </if>
      <if test="eg01bj06 != null">
        EG01BJ06,
      </if>
      <if test="eg01bj07 != null">
        EG01BJ07,
      </if>
      <if test="eg01bj08 != null">
        EG01BJ08,
      </if>
      <if test="eg01bj09 != null">
        EG01BJ09,
      </if>
      <if test="eg01bj10 != null">
        EG01BJ10,
      </if>
      <if test="eg01bj11 != null">
        EG01BJ11,
      </if>
      <if test="eg01bj12 != null">
        EG01BJ12,
      </if>
      <if test="eg01bj13 != null">
        EG01BJ13,
      </if>
      <if test="eg01bj14 != null">
        EG01BJ14,
      </if>
      <if test="eg01bj15 != null">
        EG01BJ15,
      </if>
      <if test="eg01bj16 != null">
        EG01BJ16,
      </if>
      <if test="eg01bj17 != null">
        EG01BJ17,
      </if>
      <if test="eg01bj18 != null">
        EG01BJ18,
      </if>
      <if test="eg01bj19 != null">
        EG01BJ19,
      </if>
      <if test="eg01bj20 != null">
        EG01BJ20,
      </if>
      <if test="eg01bj21 != null">
        EG01BJ21,
      </if>
      <if test="eg01bj22 != null">
        EG01BJ22,
      </if>
      <if test="eg01bj23 != null">
        EG01BJ23,
      </if>
      <if test="eg01bj24 != null">
        EG01BJ24,
      </if>
      <if test="eg01bj25 != null">
        EG01BJ25,
      </if>
      <if test="eg01bj26 != null">
        EG01BJ26,
      </if>
      <if test="eg01bj27 != null">
        EG01BJ27,
      </if>
      <if test="eg01bj28 != null">
        EG01BJ28,
      </if>
      <if test="eg01bj29 != null">
        EG01BJ29,
      </if>
      <if test="eg01bj30 != null">
        EG01BJ30,
      </if>
      <if test="eg01bj31 != null">
        EG01BJ31,
      </if>
      <if test="eg01bj32 != null">
        EG01BJ32,
      </if>
      <if test="eg01bj33 != null">
        EG01BJ33,
      </if>
      <if test="eg01bj34 != null">
        EG01BJ34,
      </if>
      <if test="eg01bj35 != null">
        EG01BJ35,
      </if>
      <if test="eg01bj36 != null">
        EG01BJ36,
      </if>
      <if test="eg01bj37 != null">
        EG01BJ37,
      </if>
      <if test="eg01bj38 != null">
        EG01BJ38,
      </if>
      <if test="eg01bj39 != null">
        EG01BJ39,
      </if>
      <if test="eg01bj40 != null">
        EG01BJ40,
      </if>
      <if test="eg01bj41 != null">
        EG01BJ41,
      </if>
      <if test="eg01bj42 != null">
        EG01BJ42,
      </if>
      <if test="eg01bj43 != null">
        EG01BJ43,
      </if>
      <if test="eg01bj44 != null">
        EG01BJ44,
      </if>
      <if test="eg01bj45 != null">
        EG01BJ45,
      </if>
      <if test="eg01bj46 != null">
        EG01BJ46,
      </if>
      <if test="eg01bj47 != null">
        EG01BJ47,
      </if>
      <if test="eg01bj48 != null">
        EG01BJ48,
      </if>
      <if test="eg01bj49 != null">
        EG01BJ49,
      </if>
      <if test="eg01bj50 != null">
        EG01BJ50,
      </if>
      <if test="eg01bj51 != null">
        EG01BJ51,
      </if>
      <if test="eg01bj52 != null">
        EG01BJ52,
      </if>
      <if test="eg01bj53 != null">
        EG01BJ53,
      </if>
      <if test="eg01bj54 != null">
        EG01BJ54,
      </if>
      <if test="eg01bj55 != null">
        EG01BJ55,
      </if>
      <if test="eg01bj56 != null">
        EG01BJ56,
      </if>
      <if test="eg01bj57 != null">
        EG01BJ57,
      </if>
      <if test="eg01bj58 != null">
        EG01BJ58,
      </if>
      <if test="eg01bj59 != null">
        EG01BJ59,
      </if>
      <if test="eg01bj60 != null">
        EG01BJ60,
      </if>
      <if test="eg01bj61 != null">
        EG01BJ61,
      </if>
      <if test="eg01bj62 != null">
        EG01BJ62,
      </if>
      <if test="eg01bj63 != null">
        EG01BJ63,
      </if>
      <if test="eg01bj64 != null">
        EG01BJ64,
      </if>
      <if test="eg01bj65 != null">
        EG01BJ65,
      </if>
      <if test="eg01bj66 != null">
        EG01BJ66,
      </if>
      <if test="eg01bj67 != null">
        EG01BJ67,
      </if>
      <if test="eg01bj68 != null">
        EG01BJ68,
      </if>
      <if test="eg01bj69 != null">
        EG01BJ69,
      </if>
      <if test="eg01bj70 != null">
        EG01BJ70,
      </if>
      <if test="eg01bj71 != null">
        EG01BJ71,
      </if>
      <if test="eg01bj72 != null">
        EG01BJ72,
      </if>
      <if test="eg01bj73 != null">
        EG01BJ73,
      </if>
      <if test="eg01bj74 != null">
        EG01BJ74,
      </if>
      <if test="eg01bj75 != null">
        EG01BJ75,
      </if>
      <if test="eg01bj76 != null">
        EG01BJ76,
      </if>
      <if test="eg01bj77 != null">
        EG01BJ77,
      </if>
      <if test="eg01bj78 != null">
        EG01BJ78,
      </if>
      <if test="eg01bj79 != null">
        EG01BJ79,
      </if>
      <if test="eg01bj80 != null">
        EG01BJ80,
      </if>
      <if test="eg01bj81 != null">
        EG01BJ81,
      </if>
      <if test="eg01bj82 != null">
        EG01BJ82,
      </if>
      <if test="eg01bj83 != null">
        EG01BJ83,
      </if>
      <if test="eg01bj84 != null">
        EG01BJ84,
      </if>
      <if test="eg01bj85 != null">
        EG01BJ85,
      </if>
      <if test="eg01bj86 != null">
        EG01BJ86,
      </if>
      <if test="eg01bj87 != null">
        EG01BJ87,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="financeid != null">
        #{financeid,jdbcType=VARCHAR},
      </if>
      <if test="mechanismtype != null">
        #{mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="mechanismcode != null">
        #{mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="reportyear != null">
        #{reportyear,jdbcType=VARCHAR},
      </if>
      <if test="reporttype != null">
        #{reporttype,jdbcType=VARCHAR},
      </if>
      <if test="reporttypesub != null">
        #{reporttypesub,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj01 != null">
        #{eg01bj01,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj02 != null">
        #{eg01bj02,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj03 != null">
        #{eg01bj03,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj04 != null">
        #{eg01bj04,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj05 != null">
        #{eg01bj05,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj06 != null">
        #{eg01bj06,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj07 != null">
        #{eg01bj07,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj08 != null">
        #{eg01bj08,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj09 != null">
        #{eg01bj09,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj10 != null">
        #{eg01bj10,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj11 != null">
        #{eg01bj11,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj12 != null">
        #{eg01bj12,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj13 != null">
        #{eg01bj13,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj14 != null">
        #{eg01bj14,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj15 != null">
        #{eg01bj15,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj16 != null">
        #{eg01bj16,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj17 != null">
        #{eg01bj17,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj18 != null">
        #{eg01bj18,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj19 != null">
        #{eg01bj19,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj20 != null">
        #{eg01bj20,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj21 != null">
        #{eg01bj21,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj22 != null">
        #{eg01bj22,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj23 != null">
        #{eg01bj23,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj24 != null">
        #{eg01bj24,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj25 != null">
        #{eg01bj25,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj26 != null">
        #{eg01bj26,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj27 != null">
        #{eg01bj27,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj28 != null">
        #{eg01bj28,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj29 != null">
        #{eg01bj29,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj30 != null">
        #{eg01bj30,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj31 != null">
        #{eg01bj31,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj32 != null">
        #{eg01bj32,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj33 != null">
        #{eg01bj33,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj34 != null">
        #{eg01bj34,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj35 != null">
        #{eg01bj35,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj36 != null">
        #{eg01bj36,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj37 != null">
        #{eg01bj37,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj38 != null">
        #{eg01bj38,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj39 != null">
        #{eg01bj39,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj40 != null">
        #{eg01bj40,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj41 != null">
        #{eg01bj41,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj42 != null">
        #{eg01bj42,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj43 != null">
        #{eg01bj43,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj44 != null">
        #{eg01bj44,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj45 != null">
        #{eg01bj45,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj46 != null">
        #{eg01bj46,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj47 != null">
        #{eg01bj47,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj48 != null">
        #{eg01bj48,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj49 != null">
        #{eg01bj49,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj50 != null">
        #{eg01bj50,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj51 != null">
        #{eg01bj51,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj52 != null">
        #{eg01bj52,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj53 != null">
        #{eg01bj53,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj54 != null">
        #{eg01bj54,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj55 != null">
        #{eg01bj55,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj56 != null">
        #{eg01bj56,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj57 != null">
        #{eg01bj57,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj58 != null">
        #{eg01bj58,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj59 != null">
        #{eg01bj59,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj60 != null">
        #{eg01bj60,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj61 != null">
        #{eg01bj61,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj62 != null">
        #{eg01bj62,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj63 != null">
        #{eg01bj63,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj64 != null">
        #{eg01bj64,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj65 != null">
        #{eg01bj65,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj66 != null">
        #{eg01bj66,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj67 != null">
        #{eg01bj67,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj68 != null">
        #{eg01bj68,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj69 != null">
        #{eg01bj69,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj70 != null">
        #{eg01bj70,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj71 != null">
        #{eg01bj71,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj72 != null">
        #{eg01bj72,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj73 != null">
        #{eg01bj73,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj74 != null">
        #{eg01bj74,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj75 != null">
        #{eg01bj75,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj76 != null">
        #{eg01bj76,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj77 != null">
        #{eg01bj77,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj78 != null">
        #{eg01bj78,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj79 != null">
        #{eg01bj79,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj80 != null">
        #{eg01bj80,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj81 != null">
        #{eg01bj81,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj82 != null">
        #{eg01bj82,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj83 != null">
        #{eg01bj83,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj84 != null">
        #{eg01bj84,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj85 != null">
        #{eg01bj85,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj86 != null">
        #{eg01bj86,jdbcType=VARCHAR},
      </if>
      <if test="eg01bj87 != null">
        #{eg01bj87,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CEntblsheet02Example" resultType="java.lang.Long">
    select count(*) from CRT2_C_ENTBLSHEET02
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_ENTBLSHEET02
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.financeid != null">
        FINANCEID = #{record.financeid,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismtype != null">
        MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanismcode != null">
        MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      </if>
      <if test="record.reportyear != null">
        REPORTYEAR = #{record.reportyear,jdbcType=VARCHAR},
      </if>
      <if test="record.reporttype != null">
        REPORTTYPE = #{record.reporttype,jdbcType=VARCHAR},
      </if>
      <if test="record.reporttypesub != null">
        REPORTTYPESUB = #{record.reporttypesub,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj01 != null">
        EG01BJ01 = #{record.eg01bj01,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj02 != null">
        EG01BJ02 = #{record.eg01bj02,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj03 != null">
        EG01BJ03 = #{record.eg01bj03,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj04 != null">
        EG01BJ04 = #{record.eg01bj04,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj05 != null">
        EG01BJ05 = #{record.eg01bj05,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj06 != null">
        EG01BJ06 = #{record.eg01bj06,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj07 != null">
        EG01BJ07 = #{record.eg01bj07,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj08 != null">
        EG01BJ08 = #{record.eg01bj08,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj09 != null">
        EG01BJ09 = #{record.eg01bj09,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj10 != null">
        EG01BJ10 = #{record.eg01bj10,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj11 != null">
        EG01BJ11 = #{record.eg01bj11,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj12 != null">
        EG01BJ12 = #{record.eg01bj12,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj13 != null">
        EG01BJ13 = #{record.eg01bj13,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj14 != null">
        EG01BJ14 = #{record.eg01bj14,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj15 != null">
        EG01BJ15 = #{record.eg01bj15,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj16 != null">
        EG01BJ16 = #{record.eg01bj16,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj17 != null">
        EG01BJ17 = #{record.eg01bj17,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj18 != null">
        EG01BJ18 = #{record.eg01bj18,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj19 != null">
        EG01BJ19 = #{record.eg01bj19,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj20 != null">
        EG01BJ20 = #{record.eg01bj20,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj21 != null">
        EG01BJ21 = #{record.eg01bj21,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj22 != null">
        EG01BJ22 = #{record.eg01bj22,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj23 != null">
        EG01BJ23 = #{record.eg01bj23,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj24 != null">
        EG01BJ24 = #{record.eg01bj24,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj25 != null">
        EG01BJ25 = #{record.eg01bj25,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj26 != null">
        EG01BJ26 = #{record.eg01bj26,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj27 != null">
        EG01BJ27 = #{record.eg01bj27,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj28 != null">
        EG01BJ28 = #{record.eg01bj28,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj29 != null">
        EG01BJ29 = #{record.eg01bj29,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj30 != null">
        EG01BJ30 = #{record.eg01bj30,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj31 != null">
        EG01BJ31 = #{record.eg01bj31,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj32 != null">
        EG01BJ32 = #{record.eg01bj32,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj33 != null">
        EG01BJ33 = #{record.eg01bj33,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj34 != null">
        EG01BJ34 = #{record.eg01bj34,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj35 != null">
        EG01BJ35 = #{record.eg01bj35,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj36 != null">
        EG01BJ36 = #{record.eg01bj36,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj37 != null">
        EG01BJ37 = #{record.eg01bj37,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj38 != null">
        EG01BJ38 = #{record.eg01bj38,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj39 != null">
        EG01BJ39 = #{record.eg01bj39,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj40 != null">
        EG01BJ40 = #{record.eg01bj40,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj41 != null">
        EG01BJ41 = #{record.eg01bj41,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj42 != null">
        EG01BJ42 = #{record.eg01bj42,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj43 != null">
        EG01BJ43 = #{record.eg01bj43,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj44 != null">
        EG01BJ44 = #{record.eg01bj44,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj45 != null">
        EG01BJ45 = #{record.eg01bj45,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj46 != null">
        EG01BJ46 = #{record.eg01bj46,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj47 != null">
        EG01BJ47 = #{record.eg01bj47,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj48 != null">
        EG01BJ48 = #{record.eg01bj48,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj49 != null">
        EG01BJ49 = #{record.eg01bj49,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj50 != null">
        EG01BJ50 = #{record.eg01bj50,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj51 != null">
        EG01BJ51 = #{record.eg01bj51,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj52 != null">
        EG01BJ52 = #{record.eg01bj52,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj53 != null">
        EG01BJ53 = #{record.eg01bj53,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj54 != null">
        EG01BJ54 = #{record.eg01bj54,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj55 != null">
        EG01BJ55 = #{record.eg01bj55,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj56 != null">
        EG01BJ56 = #{record.eg01bj56,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj57 != null">
        EG01BJ57 = #{record.eg01bj57,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj58 != null">
        EG01BJ58 = #{record.eg01bj58,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj59 != null">
        EG01BJ59 = #{record.eg01bj59,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj60 != null">
        EG01BJ60 = #{record.eg01bj60,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj61 != null">
        EG01BJ61 = #{record.eg01bj61,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj62 != null">
        EG01BJ62 = #{record.eg01bj62,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj63 != null">
        EG01BJ63 = #{record.eg01bj63,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj64 != null">
        EG01BJ64 = #{record.eg01bj64,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj65 != null">
        EG01BJ65 = #{record.eg01bj65,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj66 != null">
        EG01BJ66 = #{record.eg01bj66,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj67 != null">
        EG01BJ67 = #{record.eg01bj67,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj68 != null">
        EG01BJ68 = #{record.eg01bj68,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj69 != null">
        EG01BJ69 = #{record.eg01bj69,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj70 != null">
        EG01BJ70 = #{record.eg01bj70,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj71 != null">
        EG01BJ71 = #{record.eg01bj71,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj72 != null">
        EG01BJ72 = #{record.eg01bj72,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj73 != null">
        EG01BJ73 = #{record.eg01bj73,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj74 != null">
        EG01BJ74 = #{record.eg01bj74,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj75 != null">
        EG01BJ75 = #{record.eg01bj75,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj76 != null">
        EG01BJ76 = #{record.eg01bj76,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj77 != null">
        EG01BJ77 = #{record.eg01bj77,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj78 != null">
        EG01BJ78 = #{record.eg01bj78,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj79 != null">
        EG01BJ79 = #{record.eg01bj79,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj80 != null">
        EG01BJ80 = #{record.eg01bj80,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj81 != null">
        EG01BJ81 = #{record.eg01bj81,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj82 != null">
        EG01BJ82 = #{record.eg01bj82,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj83 != null">
        EG01BJ83 = #{record.eg01bj83,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj84 != null">
        EG01BJ84 = #{record.eg01bj84,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj85 != null">
        EG01BJ85 = #{record.eg01bj85,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj86 != null">
        EG01BJ86 = #{record.eg01bj86,jdbcType=VARCHAR},
      </if>
      <if test="record.eg01bj87 != null">
        EG01BJ87 = #{record.eg01bj87,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_ENTBLSHEET02
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      FINANCEID = #{record.financeid,jdbcType=VARCHAR},
      MECHANISMTYPE = #{record.mechanismtype,jdbcType=VARCHAR},
      MECHANISMCODE = #{record.mechanismcode,jdbcType=VARCHAR},
      REPORTYEAR = #{record.reportyear,jdbcType=VARCHAR},
      REPORTTYPE = #{record.reporttype,jdbcType=VARCHAR},
      REPORTTYPESUB = #{record.reporttypesub,jdbcType=VARCHAR},
      EG01BJ01 = #{record.eg01bj01,jdbcType=VARCHAR},
      EG01BJ02 = #{record.eg01bj02,jdbcType=VARCHAR},
      EG01BJ03 = #{record.eg01bj03,jdbcType=VARCHAR},
      EG01BJ04 = #{record.eg01bj04,jdbcType=VARCHAR},
      EG01BJ05 = #{record.eg01bj05,jdbcType=VARCHAR},
      EG01BJ06 = #{record.eg01bj06,jdbcType=VARCHAR},
      EG01BJ07 = #{record.eg01bj07,jdbcType=VARCHAR},
      EG01BJ08 = #{record.eg01bj08,jdbcType=VARCHAR},
      EG01BJ09 = #{record.eg01bj09,jdbcType=VARCHAR},
      EG01BJ10 = #{record.eg01bj10,jdbcType=VARCHAR},
      EG01BJ11 = #{record.eg01bj11,jdbcType=VARCHAR},
      EG01BJ12 = #{record.eg01bj12,jdbcType=VARCHAR},
      EG01BJ13 = #{record.eg01bj13,jdbcType=VARCHAR},
      EG01BJ14 = #{record.eg01bj14,jdbcType=VARCHAR},
      EG01BJ15 = #{record.eg01bj15,jdbcType=VARCHAR},
      EG01BJ16 = #{record.eg01bj16,jdbcType=VARCHAR},
      EG01BJ17 = #{record.eg01bj17,jdbcType=VARCHAR},
      EG01BJ18 = #{record.eg01bj18,jdbcType=VARCHAR},
      EG01BJ19 = #{record.eg01bj19,jdbcType=VARCHAR},
      EG01BJ20 = #{record.eg01bj20,jdbcType=VARCHAR},
      EG01BJ21 = #{record.eg01bj21,jdbcType=VARCHAR},
      EG01BJ22 = #{record.eg01bj22,jdbcType=VARCHAR},
      EG01BJ23 = #{record.eg01bj23,jdbcType=VARCHAR},
      EG01BJ24 = #{record.eg01bj24,jdbcType=VARCHAR},
      EG01BJ25 = #{record.eg01bj25,jdbcType=VARCHAR},
      EG01BJ26 = #{record.eg01bj26,jdbcType=VARCHAR},
      EG01BJ27 = #{record.eg01bj27,jdbcType=VARCHAR},
      EG01BJ28 = #{record.eg01bj28,jdbcType=VARCHAR},
      EG01BJ29 = #{record.eg01bj29,jdbcType=VARCHAR},
      EG01BJ30 = #{record.eg01bj30,jdbcType=VARCHAR},
      EG01BJ31 = #{record.eg01bj31,jdbcType=VARCHAR},
      EG01BJ32 = #{record.eg01bj32,jdbcType=VARCHAR},
      EG01BJ33 = #{record.eg01bj33,jdbcType=VARCHAR},
      EG01BJ34 = #{record.eg01bj34,jdbcType=VARCHAR},
      EG01BJ35 = #{record.eg01bj35,jdbcType=VARCHAR},
      EG01BJ36 = #{record.eg01bj36,jdbcType=VARCHAR},
      EG01BJ37 = #{record.eg01bj37,jdbcType=VARCHAR},
      EG01BJ38 = #{record.eg01bj38,jdbcType=VARCHAR},
      EG01BJ39 = #{record.eg01bj39,jdbcType=VARCHAR},
      EG01BJ40 = #{record.eg01bj40,jdbcType=VARCHAR},
      EG01BJ41 = #{record.eg01bj41,jdbcType=VARCHAR},
      EG01BJ42 = #{record.eg01bj42,jdbcType=VARCHAR},
      EG01BJ43 = #{record.eg01bj43,jdbcType=VARCHAR},
      EG01BJ44 = #{record.eg01bj44,jdbcType=VARCHAR},
      EG01BJ45 = #{record.eg01bj45,jdbcType=VARCHAR},
      EG01BJ46 = #{record.eg01bj46,jdbcType=VARCHAR},
      EG01BJ47 = #{record.eg01bj47,jdbcType=VARCHAR},
      EG01BJ48 = #{record.eg01bj48,jdbcType=VARCHAR},
      EG01BJ49 = #{record.eg01bj49,jdbcType=VARCHAR},
      EG01BJ50 = #{record.eg01bj50,jdbcType=VARCHAR},
      EG01BJ51 = #{record.eg01bj51,jdbcType=VARCHAR},
      EG01BJ52 = #{record.eg01bj52,jdbcType=VARCHAR},
      EG01BJ53 = #{record.eg01bj53,jdbcType=VARCHAR},
      EG01BJ54 = #{record.eg01bj54,jdbcType=VARCHAR},
      EG01BJ55 = #{record.eg01bj55,jdbcType=VARCHAR},
      EG01BJ56 = #{record.eg01bj56,jdbcType=VARCHAR},
      EG01BJ57 = #{record.eg01bj57,jdbcType=VARCHAR},
      EG01BJ58 = #{record.eg01bj58,jdbcType=VARCHAR},
      EG01BJ59 = #{record.eg01bj59,jdbcType=VARCHAR},
      EG01BJ60 = #{record.eg01bj60,jdbcType=VARCHAR},
      EG01BJ61 = #{record.eg01bj61,jdbcType=VARCHAR},
      EG01BJ62 = #{record.eg01bj62,jdbcType=VARCHAR},
      EG01BJ63 = #{record.eg01bj63,jdbcType=VARCHAR},
      EG01BJ64 = #{record.eg01bj64,jdbcType=VARCHAR},
      EG01BJ65 = #{record.eg01bj65,jdbcType=VARCHAR},
      EG01BJ66 = #{record.eg01bj66,jdbcType=VARCHAR},
      EG01BJ67 = #{record.eg01bj67,jdbcType=VARCHAR},
      EG01BJ68 = #{record.eg01bj68,jdbcType=VARCHAR},
      EG01BJ69 = #{record.eg01bj69,jdbcType=VARCHAR},
      EG01BJ70 = #{record.eg01bj70,jdbcType=VARCHAR},
      EG01BJ71 = #{record.eg01bj71,jdbcType=VARCHAR},
      EG01BJ72 = #{record.eg01bj72,jdbcType=VARCHAR},
      EG01BJ73 = #{record.eg01bj73,jdbcType=VARCHAR},
      EG01BJ74 = #{record.eg01bj74,jdbcType=VARCHAR},
      EG01BJ75 = #{record.eg01bj75,jdbcType=VARCHAR},
      EG01BJ76 = #{record.eg01bj76,jdbcType=VARCHAR},
      EG01BJ77 = #{record.eg01bj77,jdbcType=VARCHAR},
      EG01BJ78 = #{record.eg01bj78,jdbcType=VARCHAR},
      EG01BJ79 = #{record.eg01bj79,jdbcType=VARCHAR},
      EG01BJ80 = #{record.eg01bj80,jdbcType=VARCHAR},
      EG01BJ81 = #{record.eg01bj81,jdbcType=VARCHAR},
      EG01BJ82 = #{record.eg01bj82,jdbcType=VARCHAR},
      EG01BJ83 = #{record.eg01bj83,jdbcType=VARCHAR},
      EG01BJ84 = #{record.eg01bj84,jdbcType=VARCHAR},
      EG01BJ85 = #{record.eg01bj85,jdbcType=VARCHAR},
      EG01BJ86 = #{record.eg01bj86,jdbcType=VARCHAR},
      EG01BJ87 = #{record.eg01bj87,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>