<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxjk.credit2query.mapper.Crt2CFinancingMapper">
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CFinancing">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="INFORMATIONID" jdbcType="VARCHAR" property="informationid" />
    <result column="ALISTNAMES" jdbcType="VARCHAR" property="alistnames" />
    <result column="FINANCINGCONTROLTYPE" jdbcType="VARCHAR" property="financingcontroltype" />
    <result column="YEAR" jdbcType="VARCHAR" property="year" />
    <result column="SCALE" jdbcType="VARCHAR" property="scale" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, INFORMATIONID, ALISTNAMES, FINANCINGCONTROLTYPE, YEAR, SCALE
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CFinancingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_FINANCING
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CFinancingExample">
    delete from CRT2_C_FINANCING
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CFinancing">
    insert into CRT2_C_FINANCING (REPORTID, INFORMATIONID, ALISTNAMES, 
      FINANCINGCONTROLTYPE, YEAR, SCALE
      )
    values (#{reportid,jdbcType=VARCHAR}, #{informationid,jdbcType=VARCHAR}, #{alistnames,jdbcType=VARCHAR}, 
      #{financingcontroltype,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{scale,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CFinancing">
    insert into CRT2_C_FINANCING
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="informationid != null">
        INFORMATIONID,
      </if>
      <if test="alistnames != null">
        ALISTNAMES,
      </if>
      <if test="financingcontroltype != null">
        FINANCINGCONTROLTYPE,
      </if>
      <if test="year != null">
        YEAR,
      </if>
      <if test="scale != null">
        SCALE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="informationid != null">
        #{informationid,jdbcType=VARCHAR},
      </if>
      <if test="alistnames != null">
        #{alistnames,jdbcType=VARCHAR},
      </if>
      <if test="financingcontroltype != null">
        #{financingcontroltype,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CFinancingExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_FINANCING
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_FINANCING
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.informationid != null">
        INFORMATIONID = #{record.informationid,jdbcType=VARCHAR},
      </if>
      <if test="record.alistnames != null">
        ALISTNAMES = #{record.alistnames,jdbcType=VARCHAR},
      </if>
      <if test="record.financingcontroltype != null">
        FINANCINGCONTROLTYPE = #{record.financingcontroltype,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null">
        YEAR = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.scale != null">
        SCALE = #{record.scale,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_FINANCING
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      INFORMATIONID = #{record.informationid,jdbcType=VARCHAR},
      ALISTNAMES = #{record.alistnames,jdbcType=VARCHAR},
      FINANCINGCONTROLTYPE = #{record.financingcontroltype,jdbcType=VARCHAR},
      YEAR = #{record.year,jdbcType=VARCHAR},
      SCALE = #{record.scale,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.zxjk.credit2query.pojo.Crt2CFinancing">
    <result column="REPORTID" jdbcType="VARCHAR" property="reportid" />
    <result column="INFORMATIONID" jdbcType="VARCHAR" property="informationid" />
    <result column="ALISTNAMES" jdbcType="VARCHAR" property="alistnames" />
    <result column="FINANCINGCONTROLTYPE" jdbcType="VARCHAR" property="financingcontroltype" />
    <result column="YEAR" jdbcType="VARCHAR" property="year" />
    <result column="SCALE" jdbcType="VARCHAR" property="scale" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REPORTID, INFORMATIONID, ALISTNAMES, FINANCINGCONTROLTYPE, YEAR, SCALE
  </sql>
  <select id="selectByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CFinancingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT2_C_FINANCING
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CFinancingExample">
    delete from CRT2_C_FINANCING
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxjk.credit2query.pojo.Crt2CFinancing">
    insert into CRT2_C_FINANCING (REPORTID, INFORMATIONID, ALISTNAMES, 
      FINANCINGCONTROLTYPE, YEAR, SCALE
      )
    values (#{reportid,jdbcType=VARCHAR}, #{informationid,jdbcType=VARCHAR}, #{alistnames,jdbcType=VARCHAR}, 
      #{financingcontroltype,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{scale,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxjk.credit2query.pojo.Crt2CFinancing">
    insert into CRT2_C_FINANCING
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        REPORTID,
      </if>
      <if test="informationid != null">
        INFORMATIONID,
      </if>
      <if test="alistnames != null">
        ALISTNAMES,
      </if>
      <if test="financingcontroltype != null">
        FINANCINGCONTROLTYPE,
      </if>
      <if test="year != null">
        YEAR,
      </if>
      <if test="scale != null">
        SCALE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="informationid != null">
        #{informationid,jdbcType=VARCHAR},
      </if>
      <if test="alistnames != null">
        #{alistnames,jdbcType=VARCHAR},
      </if>
      <if test="financingcontroltype != null">
        #{financingcontroltype,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxjk.credit2query.pojo.Crt2CFinancingExample" resultType="java.lang.Long">
    select count(*) from CRT2_C_FINANCING
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CRT2_C_FINANCING
    <set>
      <if test="record.reportid != null">
        REPORTID = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.informationid != null">
        INFORMATIONID = #{record.informationid,jdbcType=VARCHAR},
      </if>
      <if test="record.alistnames != null">
        ALISTNAMES = #{record.alistnames,jdbcType=VARCHAR},
      </if>
      <if test="record.financingcontroltype != null">
        FINANCINGCONTROLTYPE = #{record.financingcontroltype,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null">
        YEAR = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.scale != null">
        SCALE = #{record.scale,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CRT2_C_FINANCING
    set REPORTID = #{record.reportid,jdbcType=VARCHAR},
      INFORMATIONID = #{record.informationid,jdbcType=VARCHAR},
      ALISTNAMES = #{record.alistnames,jdbcType=VARCHAR},
      FINANCINGCONTROLTYPE = #{record.financingcontroltype,jdbcType=VARCHAR},
      YEAR = #{record.year,jdbcType=VARCHAR},
      SCALE = #{record.scale,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>